/* 
    Created on : 18 fevr. 2014; 00:11:28
    Author     : Thomas Beauvallet <thomas.beauvallet@gmail.com>
*/

.ng-draggable-handler {
    margin: 0;
    padding: 0;
    background-image: url('../images/pictos/fermer.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    width: 20px;
    height: 20px;
    display: block;
    position: relative;
    float: left;
    top: -10px;
    left: -10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.ng-locked-handler {
    margin: 0;
    padding: 0;
    background-image: url('../images/pictos/motdepasse.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    width: 20px;
    height: 20px;
    display: block;
    position: relative;
    display: left;
    top: -10px;
    left: -10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.ng-editable {
    cursor: pointer;
}

.ng-editable-marker {
    border: 1px dashed lightseagreen;
}

#ng-editable-toolbox {
    position: absolute;
    width: 150px;
    height: 40px;
    border: 1px solid #000;
    background-color: #fff;
}
#ng-editable-toolbox-size  {
    cursor: pointer;
    float: left;
    margin: 5px 0 5px 5px;
}
#ng-editable-toolbox-color {
    cursor: pointer;
    float: left;
    margin: 5px 0 5px 5px;
}
#ng-editable-toolbox-cancel {
    float: left;
    margin: 5px 0 5px 5px;
}

.ng-picture-select {
    cursor: pointer;
}
#picture-select {
    background: #000;
    position: fixed; left: 0; top: 0;
    width: 100%; height: 100%;
    opacity: .95;
    z-index: 9999;
}
#picture-selector {
    position: fixed;
    top: 25%;
    bottom: 25%;
    left: 25%;
    right: 25%;
    opacity: 1;
    background: #fff;
    padding: 20px;
    border: 20px solid #ddd;
    float: left;
    z-index: 99999;
}
#picture-selector > ul > li {
    cursor: pointer;
}

.ng-deletable-handler {
    margin: 0;
    padding: 0;
    background-image: url('../images/pictos/delete.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    width: 20px;
    height: 20px;
    display: block;
    position: relative;
    float: right;
    top: -10px;
    right: -10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.ng-clone-cat-handler {
    margin: 0;
    padding: 0;
    width: 15px;
    height: 15px;
    top: 10px;
    right: 10px;
    cursor: pointer;
    position: relative;
    background-color: #DD6B5C;
    background-image: url('../images/dupliquer.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    -moz-opacity: 0.20;
    -webkit-opacity: 0.20;
    -khtml-opacity: 0.20;
    opacity: 0.20;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=20);
    filter:alpha(opacity=20);
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.ng-clone-cat-handler:hover {
    -moz-opacity: 0.80;
    -webkit-opacity: 0.80;
    -khtml-opacity: 0.80;
    opacity: 0.80;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=80);
    filter:alpha(opacity=80);
}
.ng-clone-orga-handler {
    margin: 0;
    padding: 0;
    width: 15px;
    height: 15px;
    top: 10px;
    right: 10px;
    cursor: pointer;
    position: relative;
    background-color: #DD6B5C;
    background-image: url('../images/dupliquer.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    -moz-opacity: 0.20;
    -webkit-opacity: 0.20;
    -khtml-opacity: 0.20;
    opacity: 0.20;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=20);
    filter:alpha(opacity=20);
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.ng-clone-orga-handler:hover {
    -moz-opacity: 0.80;
    -webkit-opacity: 0.80;
    -khtml-opacity: 0.80;
    opacity: 0.80;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=80);
    filter:alpha(opacity=80);
}