/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20 mars 2014, 15:45:47
    Author     : SH
*/


.menu-bo{
    /*width: 20%;*/
    border-right: 2px solid #b3b3b3;
    padding-right: 5px;
    float: left;
    height: auto;
    overflow: visible;
}
#menu-backoffice{
    clear: both;
    min-height: 600px;
    width: 160px;
    background: url(../images/bg-menu-bo.png) repeat-x;
    overflow: visible;
    margin-left: 0px; 
    padding-left: 0px; 
    float: left;
}
.titre-menu-bo{
    float: left;
    height: 15px;
}
.titre-menu-bo h2{
    font-weight: bold;
    text-transform:uppercase;
    color: #666666;
    font-size: 12px;
}

#menu-backoffice ul{
    margin:0;
}

#menu-backoffice li{
    list-style-type: none;
    border: 2px solid #b3b3b3;
    margin: 4px;
}

#menu-backoffice li a{
    text-decoration: none;
    text-transform:uppercase;
    color: #666666;
    font-size: 12px;
}

#menu-backoffice img{
    vertical-align: middle;
    margin: 1px;
}

.plate {
    width: 80%;
    min-height: 600px;
    float: left;
    border: 2px solid #b3b3b3;
    padding: 5px;
    margin-left: 5px;
}
.plate-menu-hide {
    width: 92%;
    float: left;
}

/* mes livrets */
#booklet-create {
    margin: 0 0 10px 10px;
    border-bottom: 1px #DD6B5C solid;    
}

.titre-creer-livret {

}
.titre-creer-livret h2 {
    font-family: 'Jura','EurostileRomanDTCRegular', Arial;
    /* width: 300px; */
    color: #DD6B5C;
    font-size: 16px;
    text-transform:uppercase;
    margin-bottom: 0;
}

.titre-creer-livret img {
    vertical-align: middle; 
}

#booklets-list {
    margin-left: 10px;
}

#booklets-list ul {
    margin-left: 10px;
    width: 100%;
}

.form-creer-livret{
    margin: 0 0 10px 0;    
}

.form-creer-livret label{
    font-weight: bold;
}

.booklet-list-header {
    padding: 10px;
    background-color: #DD6B5C;
    -webkit-border-radius: 0px 20px 0px 20px;
    -moz-border-radius: 0px 20px 0px 20px;
    border-radius: 0px 20px 0px 20px;
    color: #fff;
    text-transform: uppercase;
    overflow:auto;
    /* width: 96%; */
    margin-bottom: 20px;
}

.booklet-list-header h1 {
    color: #fff;
    text-transform: uppercase;
}

.booklet-list-header a {
    color: #fff;
    text-decoration:none;
}

.booklet-list-header img {
    vertical-align: middle;
}

h3{
    font-family: Arial;
    /* width: 300px; */
    color: #666666;
    font-size: 14px;
    text-transform:uppercase;
    margin-bottom: 0;
}
.pochette{
    margin-left:20px;
}

.folio h3 {
    height:25px;
    padding-left: 10px;
    text-align:left;
    font-size: 12px;
}

.folio {
    width: 20%;
    text-align:center;
    float: left;
    display: inline-block;
    margin-left: 0px;
    margin-right: 0px;
}

.folio img{
    margin: 15px 0 15px 0;
}

.folio button{
    background-color: #00a295;
    width: 80%;
    color:#fff;
    font-size: 8px;
    text-transform: uppercase;
    -webkit-border-radius: 0px 15px 0px 15px;
    -moz-border-radius: 0px 15px 0px 15px;
    border-radius: 0px 15px 0px 15px;
    padding:5px;
    margin-bottom: 10px;
}
/* doc pres territoire */

.fond-pres-territoire{
    background-color: #e7e7e9;
    border: 1px solid #DD6B5C;
    margin-left: 10px;
    padding: 15px;
}
h1.titre1fond-pres-territoire{
    float:left;
    color: #DD6B5C;
    text-transform:uppercase;
    font-weight:normal;
    font-size: 12px;
}
h2.titre2fond-pres-territoire{
    background-color:#DD6B5C;
    -webkit-border-radius: 0px 10px 0px 10px;
    -moz-border-radius: 0px 10px 0px 10px;
    border-radius: 0px 10px 0px 10px;    
    padding: 5px 10px;
    margin-left: 20px;
    color: #fff;
    text-transform:uppercase;
    /* width:300px; */
    float: left;
    font-family: Arial;
    font-size: 12px;
}
.left-pres-territoire{
    float: left;
    width: 5%;
}
.cadre-pres-territoire{
    padding-left: 20px;
    /* overflow:auto; */
    width: 75%;
    text-align:center;
}

.template-pres-territoire{
    width:30%;
    float: left;
    display: inline-block;
    border-right: 2px solid #b3b3b3;
}

.template-pres-territoire a{
    text-decoration: none;
}

.template-pres-territoire h3{
    background-color:#00a295;
    -webkit-border-radius: 0px 10px 0px 10px;
    -moz-border-radius: 0px 10px 0px 10px;
    border-radius: 0px 11px 0px 10px;
    padding: 5px;
    color: #fff;
    text-transform:uppercase;
    width: 50%;
    margin: 0 auto;
    font-family: Arial;
    font-size: 10px;
    text-align: center;
    height: 15px;
}

.template-pres-territoire h3 span{
    float: left;
    margin-left: 15px;
}

.right-pres-territoire{
    float: left;
    /* padding-top: 200px; */
    width: 20%;
}

.help-pres-territoire{
    background-color: #fff;
    width: 100%;
    height: 120px;
    margin-bottom:100px;
    border: 2px solid #999999;
}
.help-pres-territoire img{
    padding: 5px;
}

.link-pres-territoire a{
    color:#fff;
    text-decoration:none;
}
.link-pres-territoire div{
    padding: 5px;
    margin: 5px 0;
    height: 32px;
}

.link-pres-territoire div span{
    float: left;
    width:75%;
    font-size: 10px;
}

.link-pres-territoire div img{
    float: right;
    vertical-align: middle;
    /* width:25%; */
}

/* syle folio plateforme */

.fond-folio-pf{
    background-color: #e7e7e9;
    border: 1px solid #DD6B5C;
    margin-left: 10px;
    padding: 15px;
}
h1.titre1fond-folio-pf{
    float:left;
    color: #DD6B5C;
    text-transform:uppercase;
    font-weight:normal;
    font-size: 12px;
}
/*.fond-folio-pf h2{
    background-color:#DD6B5C;
    -webkit-border-radius: 0px 10px 0px 10px;
    padding: 5px 10px;
    margin-left: 20px;
    color: #fff;
    text-transform:uppercase;
    float: left;
    font-family: Arial;
    font-size: 12px;
}*/
.foliotoolbar{
    padding-top: 50px;
}
.menu-folio{
    width: 100%;
    height: 50px;
    position: absolute;
    top: 0px;
    left: 0;
    background: url(../images/bg-menu-folio.png) repeat-x;
}
.menu-folio ul {
 padding:0;
 margin:0;
 list-style-type:none;
 float: right;
}
.menu-folio li {
 float:left;
 border-left:1px solid black;
 }
.menu-folio ul li a {
 display:block;
 float:left;   
 /* width: 130px; */
 /* line-height: 14px; */ 
 color:#000;
 text-decoration:none;
 text-align:center;
 margin: 2px 10px;
 height: 28px;
 cursor: pointer;
}   


.cadre-folio-pf{
    margin-top: 20px;
    /* margin-right: 20px; */
    border: 1px solid #bbbbbb;
    width: 632px;
    float: left;
    text-align:center;
    height: 894px;
    overflow: hidden;
    font-size: 12px;
}

.template-folio-pf{
    width:30%;
    float: left;
    display: inline-block;
    border-right: 2px solid #b3b3b3;
}

.template-folio-pf h3{
    background-color:#00a295;
    -webkit-border-radius: 0px 10px 0px 10px;
    -moz-border-radius: 0px 10px 0px 10px;
    border-radius: 0px 10px 0px 10px;
    padding: 5px;
    color: #fff;
    text-transform:uppercase;
    width:50%;
    margin: 0 auto;
    font-family: Arial;
    text-align: center;
}

.right-folio-pf{
    float: right;
    z-index: 100;
    /* padding-top: 200px; */
    width: 140px;
}

.right-folio-pf p{
    font-size: 10px;
}
.right-folio-pf a{
    color: #808080;
}
.right-folio-pf img{
    margin: 5px 0;
}
#folio-edit-toolbox{
    width: 100%;
    display: inline-block;
    text-align: center;
}

.select-folio{
    width: 50%;
    float: left;
}

.select-folio span{
    font-size: 10px;
}

.help-folio-pf{
    background-color: #fff;
    width: 100%;
    height: 120px;
    margin-bottom: 40px;
    border: 2px solid #999999;
}
.help-folio-pf img{
    padding: 5px;
}

.cadre-toolbox{
    background-color: #fff;
    border: 1px solid #DD6B5C;
    margin-bottom: 20px;
    padding: 5px;
}

.cadre-toolbox h3{
    font-size: 10px;
    background-color: #00b3ff;
    color: #fff;
    padding: 2px;
    margin-bottom: 5px;
}

.link-img-doc-toolbox{
    width: 48%;
    float: left;
    background-color: #d8d9da;
    font-size: 8px;
    margin: 1px;
    text-align: center;
    height: 32px;
}
.link-folio-pf a{
    color:#fff;
    text-decoration:none;
}
.link-folio-pf div{
    padding: 2px;
    margin: 5px 0;
    height: 32px;
    width: 100%;
    display: inline-block;
}

.link-folio-pf div span{
    float: left;
    width: 74%;
    font-size: 10px;
}

.link-folio-pf div img{
    float: right;
    vertical-align: middle;
    /* width:25%; */
    margin: 0;
}

/* fullscreen */
.fullscreen {
    width: 97%;
    height: 98%;
    position: absolute;
    z-index: 10;
    left: 0;
    top: 40px;
    margin: 0;
}
.cfpffullscreen {
    position: absolute;
    z-index: 100;
    left: 30px;
    top: 65px;
    margin: 0;
    width: 86%;
    height: 100%;
}

.rfpffullscreen{
    width: 10%;
}

@media screen and (max-width: 1440px) {
  .rfpffullscreen {
    width: 13%;
  }
  .cfpffullscreen {
    width: 80%;
  
    height: 100%;
}
}

.menuHidden{
    width: 750px;
    height: 1061px;
}
.menuHidden[class~="cfpffullscreen"]{
    width: 83%;
    /* height: 100%; */
}

.pochetteshow{
    width: 632px;
    height: 447px;
}

.pochetteshow[class~="menuHidden"] {
    width: 750px;
    height: 530px;
}

.pochetteshow[class~="cfpffullscreen"] {
    width: 83%;
    height: 100%;
}

.agendashow{
    width: 632px;
    height: 447px;
}

.agendashow[class~="menuHidden"] {
    width: 750px;
    height: 530px;
}

.agendashow[class~="cfpffullscreen"] {
    width: 83%;
    height: 100%;
}
/* library liste*/
#library-list li{
    width: 100%;
    margin: 0 10px 10px 0;
    padding: 5px 0;
    display: list-item;
    height: 160px;
    overflow: auto;
}

#library-list li.active {
    background-color: #ebebeb;
}

#library-list li:hover {
    background-color: #ebebeb;
}

#library-list li .check-image{
    width: 5%;
    float: left;
    padding-left: 10px;
    margin: 65px 0;
}

#library-list li .miniature-image{
    width: 25%;
    float: left;
}
#library-list li .miniature-image img{
    border:1px solid #c5c5c5;
    width: 100%;
}

#library-list li .infos-image{
    width: 65%;
    float: left;
    padding-left: 10px;
    overflow: hidden;
}

#library-list li .infos-image h3{
    color: #808080;
    text-transform: none;
    width: 50%;
    float: left;
}

#library-list li .infos-image p{
    color: #585858;
    height: 100px;
    margin-top: 20px;
}

#library-list li .actions-image{
    width: 100%;
    float: left;
    /* padding-left: 10px; */
}
#library-list li .actions-image a span{
    color: #808080;
    text-decoration: underline;
}

/* library miniature*/
#library-miniature li{
    width: 15%;
    float: left;
    margin: 0 10px 10px 0;
    padding: 15px;
    display: inline-block;
}

#library-miniature li.active {
    background-color: #ebebeb;
}

#library-miniature li:hover {
    background-color: #ebebeb;
}

#library-miniature li div{
    height: 120px;
}
#library-miniature li div img{
    border:1px solid #c5c5c5;
}


.haut-library{
    width: 100%;
    overflow: auto;
}

.titre-library{
    width: 50%;
    float: left;
}

.titre-library h2{
    text-transform: uppercase;
    font-weight: 700;
    color: #808080;
    font-size: 14px;
}

.menu-library{
    width: 12%;
    float: left;
}
.menu-library-link {
    cursor: pointer;
}

.menu-library img{
    vertical-align: baseline;
    width: 15px;
    height: 15px;
    margin-left: 10px;
}

.block-select-library{
    width: 100%;
    margin-bottom: 30px;
    overflow: auto;
}

.onglet-library{
    width: 20%;
    float: left;
}

.onglet-library h3{
    background-color: #00a295;
    width: 90%;
    color: #fff;
    font-size: 10px;
    text-align: center;
    text-transform: none;
    -webkit-border-radius: 0px 20px 0px 20px;
    -moz-border-radius: 0px 20px 0px 20px;
    border-radius: 0px 20px 0px 20px;
    padding: 5px;
    margin-bottom: 10px;
}

.recherche-library{
    width: 50%;
    float: left;
}

.recherche-library img{
    vertical-align: middle;
    margin-left: 10px;
}

.recherche-library input{
    width: 90%;
}