/* 
    Created on : 23 juin 2014, 10:35:30
    Author     : Thomas Beauvallet
*/

/*  @import url("../css/styles.css");
  @import url("../css/styles_bo.css");
  @import url("http://fonts.googleapis.com/css?family=Jura:400,300,500,600");
  @import url("http://fonts.googleapis.com/css?family=Lato:300,400,700,900");
  @import url("http://fonts.googleapis.com/css?family=PT+Sans:400,700");*/


/*@page *{
    margin: 0;
    padding: 0;
    background-color: red;
}
</style>';*/
#main {
    margin: 0;
}
.cadre-folio-pf {
    margin: 0;
    padding: 0;
    width: 95%;
    height: 95%;
    /*background-color: red;*/
}
/*
h4 {
    padding: 0;
    margin:0;
}
h5 {
    padding: 0;
    margin:0;
}
p {
    padding: 0;
    margin:0;
}
*/