/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20 mars 2014, 15:45:47
    Author     : SH
*/


.menu-bo{
    width: 189px;
    float: left;}
#menu-backoffice{
    height: auto;
    width: 100%;
    background: #d3d3d4;
    margin-left: 0px; 
    padding-left: 0px; 
}

.titre-menu-bo h2{
    font-weight: bold;
    text-transform:uppercase;
    color: #666666;
    font-size: 12px;
}

#menu-backoffice ul{
margin:0;
}

#menu-backoffice li{
    list-style-type: none;
}

#menu-backoffice li a{
    text-decoration: none;
    text-transform:uppercase;
    color: #666666;
    font-size: 12px;
}

#menu-backoffice img{
    vertical-align: middle;
}

.plate{
    width: 80%;
    float: left;
    /* margin-left: 20px; */
}

/* mes livrets */
#booklet-create {
    margin: 0 0 20px 20px;
    border-bottom: 1px #DD6B5C solid;    
}

.titre-creer-livret {
   
}
.titre-creer-livret h2 {
    font-family: 'EurostileNormalRegular', Arial;
    /* width: 300px; */
    color: #DD6B5C;
    font-size: 16px;
    text-transform:uppercase;
    margin-bottom: 0;
}

.titre-creer-livret img {
  vertical-align: middle; 
}

#booklets-list {
    margin-left: 20px;
}

.form-creer-livret{
    margin: 0 0 10px 0;    
}

.form-creer-livret label{
    font-weight: bold;
}

.booklet-list-header {
    padding: 15px;
    background-color: #DD6B5C;
    -webkit-border-radius: 0px 20px 0px 20px;
    color: #fff;
    text-transform: uppercase;
    overflow:auto;
    width: 100%;
    margin-bottom: 20px;
}

.booklet-list-header h1 {
    color: #fff;
    text-transform: uppercase;
}

.booklet-list-header a {
    color: #fff;
    text-decoration:none;
}

h3{
    font-family: Arial;
    /* width: 300px; */
    color: #DD6B5C;
    font-size: 14px;
    height: 25px;
    text-transform:uppercase;
    margin-bottom: 0;
}

.pochette {
    width:20%;
    float: left;
    display: inline-block;
}

.pres-terrritoire {
    width:20%;
    float: left;
    display: inline-block;
}

.offre-locale {
    width:20%;
    float: left;
    display: inline-block;
}

.bien-vivre {
    width:20%;
    float: left;
    display: inline-block;
}

.agenda {
    width:20%;
    float: left;
    display: inline-block;
}

/* doc pres territoire */

.cadre-pres-territoire{
    padding-left: 20px;
    overflow:auto;
    width: 100%;
}

.template-pres-territoire{
    width:30%;
    float: left;
    display: inline-block;
}

.template-pres-territoire h3{
    background-color:#00a295;
    -webkit-border-radius: 0px 10px 0px 10px;
    padding: 5px;
    color: #fff;
    text-transform:uppercase;
    width:100px;
    font-family: Arial;
    text-align: center;
}


