/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 7 mars 2014, 16:45:16
    Author     : SH
*/
	@font-face {
        font-family: 'EurostileNormalRegular';
        src: url('font/eurostile-normal.eot');
        src: url('font/eurostile-normal.eot') format('embedded-opentype'),
         url('font/eurostile-normal.woff') format('woff'),
         url('font/eurostile-normal.ttf') format('truetype'),
         url('font/eurostile-normal.svg#EurostileNormalRegular') format('svg');
        font-weight: normal;
        font-style: normal;
    }
	@font-face {
        font-family: 'HelveticaNeueThin';
        src: url('font/789611817-helvetica-neue-thin-1361522098.eot');
        src: url('font/789611817-helvetica-neue-thin-1361522098.eot?#iefix') format('embedded-opentype'),
        url('font/789611817-helvetica-neue-thin-1361522098.svg#HelveticaNeue') format('svg'),
        url('font/789611817-helvetica-neue-thin-1361522098.woff') format('woff'),
        url('font/789611817-helvetica-neue-thin-1361522098.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
	@font-face {
        font-family: 'HelveticaNeueRegular';
        src: url('font/345520020-helvetica-neue-regular-1361522098.eot');
        src: url('font/345520020-helvetica-neue-regular-1361522098.eot?#iefix') format('embedded-opentype'),
        url('font/345520020-helvetica-neue-regular-1361522098.svg#HelveticaNeue') format('svg'),
        url('font/345520020-helvetica-neue-regular-1361522098.woff') format('woff'),
        url('font/345520020-helvetica-neue-regular-1361522098.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
        letter-spacing:15px;
    }
    
	@font-face {
        font-family: 'Arial';
        src: url('font/867950440-ArialMT.eot');
        src: url('font/867950440-ArialMT.eot?#iefix') format('embedded-opentype'),
        url('font/867950440-ArialMT.svg#Arial') format('svg'),
        url('font/867950440-ArialMT.woff') format('woff'),
        url('font/867950440-ArialMT.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
    
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}

body {
    background:#fff;
    font-family:Arial,Helvetica,sans-serif;
    font-size:100%;
    line-height:1em;
    color: #808080;}
html {
    min-width:1000px
}
html,body {
    height:100%}
.message_success {
    color: #8fa11f;
    font-weight: bold;
}
.message_error {
    color: crimson;
    font-weight: bold;
}

/* Global Structure */
#rrhn-app {min-height: 100%}
#main {
    /* margin:0 auto; */
    /* width: 90%; */
    font-size: .814em;
    overflow:auto;
    padding-bottom: 100px;}
/* Header */
header {
    height: 170px;
    margin:0 auto; 
    width: 1000px;
    overflow:hidden;
    position:relative
}
#logo {
    width: 221px;
    height:76px;
    background:url(../images/logo-reseau-rural.png) no-repeat;
    float:left;
}
#slogan {
    width: 500px;
    position:relative;
    float:left;
    margin: 40px 60px 40px 0;
}
#slogan img {
    position:absolute;
    right: -7px;
    bottom:0px;
}

#slogan h1 {
    font-family: 'EurostileNormalRegular',Arial;
    font-weight: bolder;
    font-size: 16px;
    margin: 2px;
}

#slogan h2 {
    font-family: 'EurostileNormalRegular', Arial;
    font-weight: normal;
    font-size: 14px;
    color: #808080;
    margin: 2px;
}
#formlogin {
    width:219px;
    position:relative;
    float:left;   
}

#formlogin img{
    vertical-align: middle;
    margin: 2px;   
}

#formlogin h4{
    text-transform: uppercase;  
    color: #87888a;
    padding: 2px 0; 
}

#connexion input{
    width : 16px;
    height: 16px;
}

.souv-mdp{
    display: inline-block;
    float: left;
    width: 50%;
    font-size: 8px;
}

.souv-mdp img{
    vertical-align: middle;
    margin-right: 5px;
}
#userPannel h3{
    text-transform: uppercase;  
    color: #4d4d4d;
    padding: 2px 0 10px 0; 
    font-size: 14px;
    font-weight: bolder;
}
#userPannel h4{
    text-transform: uppercase;  
    color: #87888a;
    padding: 2px 0; 
    font-size: 14px;
    font-weight: bolder;
}

#userPannel img{
    vertical-align: middle;
    margin: 2px;   
}

#userPannel .menuPannel{
    width: 160px;
    text-align: right;
    float:right;
}

.menuPannel a{
    color: #676666;
    font-size: 10px;
}

#userPannel .namePannel img{
    display:inline-block;
    float:left;
}

#userPannel .namePannel h3{
    display:inline-block;
    float:right;
    padding-top:5px;
}

/* Content */
container {    
    width: 739px;
    float:left}
section#content {
    width: 739px;
    float:left
}

/* Sidebar */
aside {float:right;
       width: 260px;}
/* Footer */
footer {
    /* position: relative; */
    /* bottom: 0px; */
    text-align:center;
    width: 100%;
    height: 50px;
    font-size:0.814em;
    line-height:1.538em;
    border-top:3px solid #666666;
    margin-top:20px;
    margin-bottom:20px;}
footer a {
    color:#808080;
    text-decoration: none;
}        

/* Left & Right alignment */
.fleft {
    float:left
}
.fright {
    float:right
}
.clear {
    clear:both
}
.col-1,.col-2,.col-3 {
    float:left
}
.alignright {
    text-align:right
}
.aligncenter {
    text-align:center
}
.wrapper {
    margin:0 auto;
    width: 1024px;
    overflow:hidden
}

/* form defaults */
/*input,select,textarea {
    font-family:Arial,Helvetica,sans-serif;
    font-size:1em;
    vertical-align:middle;
    font-weight:normal;
    color:#5c5c5c;
    margin: 0;
    padding: 0;}
fieldset {
    border:0
} */
form {
 background-color:#FAFAFA;
 padding:10px;
 width:280px;
 }
fieldset {
 padding:0 20px 20px 20px;
 margin-bottom:10px;
 border: 1px solid #de7e08;
 }
legend {
 color: #de7e08;
 font-weight:bold
 }
label {
 margin-top:10px;
 }
label.inline {
 display:inline;
 margin-right:50px;
 }
input, textarea, select, option {
 background-color:#FFF3F3;
 }
input, textarea, select {
 padding:3px;
 border:1px solid #F5C5C5;
 border-radius:5px;
 /* width: 120px; */
 box-shadow:1px 1px 2px #C0C0C0 inset;
 }
select {
 margin-top:10px;
 }
input[type=radio] {
 background-color:transparent;
 border:none;
 width:10px;
 }
input[type=submit], input[type=reset] {
 width:100px;
 margin-left:5px;
 box-shadow:1px 1px 1px #D83F3D;
 cursor:pointer;
 }
 
 input:focus, textarea:focus {
 background-color:white;
 }
input[type=submit]:focus, input[type=reset]:focus {
 background-color:#FFF3F3;
}

input[type=submit]:hover, input[type=reset]:hover {
 background-color:#FCDEDE;
 }
input[type=submit]:active, input[type=reset]:active {
 background-color:#FCDEDE;
 box-shadow:1px 1px 1px #D83F3D inset;
}

button {
 width:100px;
 margin-left:5px;
 box-shadow:1px 1px 1px #D83F3D;
 cursor:pointer;
 }
 
 /* formlaire creation compte */
 #form-subscribe label {
	/* display: block; */
	font-weight: bold;
        float: left;
        
	/* padding-top: 5px; */
        
	/* text-align: right; */
	width: 370px;
}
 #form-subscribe input {
	/* display: block; */
	margin: .5em 0 0 30px;
}
/* autres */
p {
    margin-bottom:20px;
    line-height:1.538em
}
address {
    font-style:normal;
    line-height:1.538em;
    float:left;
    margin-right:55px
}
address b {
    width:84px !important;
    width:81px;
    float:left
}

/* txt,links,lines,titles */
a {
    color:#f85811;
    outline:none
}
a:hover {
    text-decoration:none
}
h1 {
    color:#000;
    font-size: 18px 
}
h2 {
    font-family: 'EurostileNormalRegular',Arial;
    color:#000;
    font-weight: bolder;
    font-size:18px;
    line-height:1.2em;
    margin-bottom:20px}
h2 span {
    color:#f85811
}

h3 {
    color:#f85811;
}

h4{
    /* font-weight: bold; */
    font-size: 10px;
    /* line-height: 2em; */
}

/* content */
#contenu .inside {
    padding:24px 40px 30px 50px
}

.article-accueil {
    margin:0 auto;
    width:739px;
    overflow:hidden}

/* Sidebar */
aside{
    font-size: 10px;
}
aside .inside {
    padding:13px 5px 0 30px
}
aside h2 {
    letter-spacing:-1px;
    font-weight: bolder;
    font-size:18px;
    line-height:1.2em;
    margin-bottom:10px
}

.liens-sidebar a {
    color:#fff;
}

.liens-sidebar {
    background: #de7e08;
    padding: 5px;
}

.liens-sidebar div {
    display:block;
    width: 100%;
    height : auto;
}

.liens-sidebar img {
    vertical-align:middle;
    display:inline-block;
    padding-right: 20px;
}

.liens-sidebar span {
    display:inline-block;
}

.ligne-sidebar {
    margin-top:10px;
    border-bottom: 2px solid #818284
}

.trousse-outils-sidebar {
    display:block;
    width: 100%;
    height : auto;
}

.trousse-outils-sidebar h2{
    font-weight: bold;
    text-transform:uppercase;
    color: #818284;
    font-size: 12px;
}

.bloc-trousse-outils-sidebar{
    text-align: center;
    display:inline-block;
    float:left;
    width:33%;
}

.temoignage-sidebar a span{
    text-transform:uppercase;
    color: #808080;
}

.partenaire-sidebar{
    display:block;
    /* position: absolute; */
    /* padding-top:100px; */
}

.partenaire-sidebar img{
    float:left;
    display:inline-block;
    padding-right:2px
}
/* footer */
footer .inside {
    padding-top:36px}

/* page d'accueil */
.presentation-livret {
    display:block;
    width: 100%;
    height : auto;
    background: #d3d3d4;
    color:#000;
}

.presentation-livret h1 {
    font-family: 'EurostileNormalRegular',Arial;
    font-weight: bolder;
    padding: 20px 0 10px 20px;
    font-size:16px;
    text-transform:uppercase;
}

.contenu-presentation-livret {
    padding:0px 20px 30px 20px;
}

.contenu-presentation-livret p {
    text-transform:uppercase;
    font-size: 12px;
    font-weight: bold;
}
.contenu-presentation-livret li {
    font-size: 12px;
    margin-left: 30px;
}
.bas-presentation-livret{
    width: 100%;
    height: 100px;
    padding:0px 0px 20px 20px;
    color:#fff;
    font-size: 10px;
}
.bloc-bas-pres{
    display:inline-block;
    float:left;
    width:18%;
    height: 100px;
    margin: 0 5px 0 0;
    padding: 0 5px 5px 5px;
}
.bloc-bas-pres h4{
    font-size:14px;
    text-transform:uppercase;
    margin: 5px;
}

.bloc-bas-pres a h4{
    color: #818284;
}
.etape1 {
    background: #8fa11f;
}

.etape2 {
    background: #de7d0a;
}

.etape3 {
    background: #009c8f;
}

.voir-tuto-pres {
    width:21%;
    color: #808080 ;
    padding-top: 50px;
}

.img-voir-tuto-pres {
    width:14%;
}

.img-voir-tuto-pres img {
    padding-top: 30px;
}

.img-demarche-accueil{
    margin: 10px 20px 0 0;
}

