/* 
    Created on : 23 juin 2014, 10:35:30
    Author     : Thomas Beauvallet
*/
/*@font-face {
  font-family: "Lato";
  src: url("../mPDF/ttfonts/Lato-Regular.ttf");
  -fs-pdf-font-embed: embed;
  -fs-pdf-font-encoding: Identity-H;
}
@font-face {
  font-family: "Lato";
  src: url("../mPDF/ttfonts/Lato-Light.ttf");
  font-weight:300;
  -fs-pdf-font-embed: embed;
  -fs-pdf-font-encoding: Identity-H;
}
.normal{font-family:"Lato" !important;}
.lighter{font-family:"Lato" !important;font-weight:300 !important;}
*/
body {
    font-size: 1em;
    font-family: "Lato" !important;
}
* {
    font-size: 1em;
    font-family: "Lato" !important;
}

#main {
    margin: 0;
}
.cadre-folio-pf {
    margin: 0;
    padding: 0;
    //width: 3500px !important;
    //height: 2000px !important;
    //background-color: red;
}

.size-pochette{
    width: 4961px !important;
    height: inherit !important;
}
.size-pochette-pli{
    width: 2478px !important;
    height: 3485px !important;
}

.size-folio-a4{
    width: 2480px !important;
    height: 3400px !important;
    max-width: 2480px !important;
    max-height: 3400px !important;
}
.size-agenda-a4{
    width: 3500px !important;
    height: 2000px !important;
    max-width: 3500px !important;
    max-height: 2000px !important;
}


.block-pochette-recto-left-1{width: 1778px; height: 700px; padding: 800px 350px 0 350px;}
.block-pochette-recto-left-2{display: block; width: 1678px; height: 250px; padding: 300px 400px 50px 400px;}
.block-pochette-recto-left-3{display: block; width: 2478px; height: 400px; padding-top: 800px;}
.block-pochette-recto-right-1{width: 2478px; height: 300px; padding-left: 100px;}
.block-pochette-recto-right-2{width: 2478px; height: 100px; font-size: 120%; text-align: center;padding-top: 250px;}
.block-pochette-recto-right-3{width: 2478px; height: 800px; text-align: center;}
.block-pochette-recto-right-4{display: block; width: 2478px; height: 600px; font-weight: 300; padding-left: 100px; font-size: 72px;}

.mot-pochette-1 {font-size: 340%; line-height: 80%; float: left; margin-left: 10%; margin-top: 120px;}
.mot-pochette-2 {font-size: 420%; line-height: 80%; float: left; margin-left: 25%; margin-top: 70px;}
.mot-pochette-3 {font-size: 180%; line-height: 80%; float: left; margin-left: 30%; margin-top: 120px;}
.mot-pochette-4 {font-size: 220%; line-height: 80%; float: left; margin-left: 40%; margin-top: 90px;}

.block-pochette-verso-left-1{width: 2478px; height: 1000px;}
.block-pochette-verso-left-2{float: left; width: 600px; height: 2200px; background-color: #e9e9e9;}
.block-pochette-verso-left-3{float: left; width: 1800px; height:2000px; padding: 30px;}

.img-pochette-memo{width: 2478px !important; height: 3485px !important;}

.texte-pochette-recto {font-size: 1rem; color: #808080; line-height: 1rem}
.texte-pochette-recto p {line-height: 1rem; font-family: "Lato";}
.texte-pochette-verso {font-size: 1rem; line-height: 1rem}
.texte-pochette-verso p {line-height: 1.2rem; font-family: "Lato";}

.block-img-pochette-recto {/*margin-top: -40px; */display: block; width: 2478px; height: 500px; text-align: center; padding-top: 200px; padding-left: 150px;}
.div-img-pochette-recto{min-width: 550px !important; min-height: 550px !important; width: 550px !important; height: 550px !important;  max-width: 550px !important; max-height: 550px !important; float: left; /*padding-right: 10px;*/}
.img-pochette {min-width: 500px; min-height: 500px; width: 500px; height: 500px;  max-width: 500px; max-height: 500px;}
.img-pochette-lateral-verso {width: 100% !important;}
.logo-pochette {max-width: 100% !important; max-height: 800px !important;}

.logo-region{max-width: 200px !important; width: 200px !important; height: 400px !important; max-height: 400px !important;  float: left; margin-left: 50px !important;}
.logo-prefet{max-width: 300px !important; width: 300px !important; height: 400px !important; max-height: 400px !important;}
.logo-europe{max-width: 400px !important; width: 400px !important; height: 300px !important; max-height: 300px !important; float: right;margin-right: 20px !important; margin-top:140px !important;}

h1, h2, h3, h4, h5 {font-family: "Lato";}

.h1pochette{ font-size: 1.8rem}

.h2pochette{ font-size: 1.8rem}

.ul-pochette {margin-left: 20px !important; line-height: 2rem !important; list-style-image: url('../images/pictos/puce-liste-folio-orange.png') !important;}

.titre-folio h1 {font-size: 1.8rem !important; line-height: 1.8rem !important}
.titre-folio h2 {font-size: 1.8rem !important; line-height: 1.8rem !important}
.titre-folio h3 {font-size: 1.8rem !important; line-height: 1.8rem !important}
.logo-titre-folio {width: auto !important; height: auto !important; max-width: 600px !important; max-height: 300px !important;}
.page-footer {position: absolute; bottom: 0mm; width: 200mm; padding-bottom: -35mm;}
.footer-folio {position: absolute; bottom: 100mm;}

.block-pres-territoire h5 {font-size: 1rem !important; line-height: 1rem !important}
.block-pres-territoire h4 {font-size: 1.2rem !important; line-height: 1.2rem !important}
.block-pres-territoire p {font-size: 0.8rem !important; line-height: 0.8rem !important}
.pres-terri-img-defaut-moyenne {width: 600px !important; height: 400px !important; max-width: 600px !important; max-height: 400px !important;}
.pres-terri-img-defaut-grande {width: 1000px !important; height: 800px !important; max-width: 1000px !important; max-height: 800px !important;}
.pres-terri-img-defaut-moyenne-portrait {width: 400px !important; height: 600px !important; max-width: 400px !important; max-height: 600px !important;}
.img-pres-terri-2 {width: auto !important; height: 400px !important; max-width: 600px !important; max-height: 400px !important;}
.img-pres-terri-3 {width: 600px !important; height: 400px !important; max-width: 600px !important; max-height: 400px !important;}
.img-pres-terri-large {height: 800px !important; max-height: 800px !important;}

.block-locale h5 {font-size: 0.8rem !important; line-height: 0.8rem !important}
.block-locale h4 {font-size: 1.2rem !important; line-height: 1.2rem !important}
.block-locale p {font-size: 0.8rem !important; line-height: 0.8rem !important}
.block-locale ul {font-size: 0.8rem !important; line-height: 0.8rem !important}
.img-cat-locale {height: 100% !important; max-height: 350px !important; height: 100%; max-height: 350px; padding-bottom: 20px;}

.text-agenda {font-size: 18pt !important;}

.block-mois-agenda {font-size: 0.8em !important; line-height: 0.8em !important; width: 100% !important; height: 400px !important;}

.titre-mois-agenda {font-size: 18pt !important; line-height: 18pt !important;}

.table-agenda {line-height: 1.2em !important; font-size: 0.9em !important;}

.tbody-agenda tr {display: block; border:1px solid #9c9ea3;}

/*.table-agenda tr {display: block; border:1px solid black;} */

/*.tr-agenda {display: block; border:1px solid black;}*/

/*td {border-bottom-width:1pt;
 border-bottom-style: solid; 
 border-bottom-color: red;
}*/

.picto-jr-ferie {
background: url(../images/pictos/picto-jr-ferie-pdf.png) no-repeat;
//width: 150px !important;
//height: 150px !important;
padding-top: 20px !important;
padding-left: 20px !important;
}

.trait-vacances{
    background: #e57e0c;
}

.picto-jr-ferie-footer{
    margin-right: 20px;
}

.trait-vacances-footer{
    margin-right: 20px;
}

.footer-month{
    position: absolute;
    bottom: 425px;
    width: 560px;
    height: 200px;
    padding: 0;
    margin: 0;
    color: #fff;
    font-size: 60%;
    text-align: left;
}

.footer-month-fev{
    margin-top:100px;
}

.footer-month30{
    margin-top:50px;
}

.ul-ensemble {margin-left: 20px !important; font-size: 0.8rem; line-height: 0.8rem !important;}
.texte-ensemble {font-size: 0.8rem; color: #808080; line-height: 0.8rem}
.texte-ensemble p {line-height: 1rem; font-family: "Lato";}
