/* 
    Created on : 23 juin 2014, 10:35:30
    Author     : Thomas Beauvallet
*/
/*@font-face {
  font-family: "Lato";
  src: url("../mPDF/ttfonts/Lato-Regular.ttf");
  -fs-pdf-font-embed: embed;
  -fs-pdf-font-encoding: Identity-H;
}
@font-face {
  font-family: "Lato";
  src: url("../mPDF/ttfonts/Lato-Light.ttf");
  font-weight:300;
  -fs-pdf-font-embed: embed;
  -fs-pdf-font-encoding: Identity-H;
}
.normal{font-family:"Lato" !important;}
.lighter{font-family:"Lato" !important;font-weight:300 !important;}
*/
body {
    font-size: 1em;
    font-family: "Lato" !important;
}
* {
    font-size: 1em;
    font-family: "Lato" !important;
}

#main {
    margin: 0;
}
.cadre-folio-pf {
    margin: 0;
    padding: 0;
    width: 95%;
    height: 95%;
    background-color: red;
}
.texte-pochette-recto {font-size: 1rem; color: #808080; line-height: 1rem}
.texte-pochette-recto p {line-height: 1rem; font-family: "Lato";}
.texte-pochette-verso {font-size: 1rem; line-height: 1rem}
.texte-pochette-verso p {line-height: 1.2rem; font-family: "Lato";}

.block-img-pochette-recto {margin-top: -40px;}
.img-pochette {width: 100%;}
.img-pochette-lateral-verso {width: 100% !important;}
.logo-pochette {max-width: 100% !important;}

.logo-region{max-width: 60% !important; height: 80px !important; float: right; margin-left: 5px !important; margin-top:20px !important;}
.logo-prefet{max-width: 100% !important; height: 100% !important;}
.logo-europe{max-width: 100px !important; width: 100px !important; height: 20px !important; max-height: 20px !important; float: left;margin-right: 5px !important; margin-top:60px !important;}

h1, h2, h3, h4, h5 {font-family: "Lato";}

.h1pochette{ font-size: 1.8rem}

.h2pochette{ font-size: 1.8rem}

.ul-pochette {margin-left: 20px !important; line-height: 2rem !important; list-style-image: url('../images/pictos/puce-liste-folio-orange.png') !important;}

.text-agenda {font-size: 4px !important;}

.block-mois-agenda {font-size: 4px !important; line-height: 4px !important; width: 100% !important; height: 400px !important;}

.mois-agenda {width: 200px !important; height: 400px !important; background-color: green;}

.table-agenda {line-height: 0.9em !important; font-size: 0.9em !important;}

.tbody-agenda tr {border: 1px solid #fff !important;}

.table-agenda tr {border: 1px solid #fff !important;}