/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20 mars 2014, 15:45:47
    Author     : SH
*/


.menu-bo{
    /*width: 20%;*/
    border-right: 2px solid #b3b3b3;
    padding-right: 5px;
    float: left;
    height: auto;
    overflow: visible;
}
#menu-backoffice{
    clear: both;
    min-height: 600px;
    width: 160px;
    background: url(../images/bg-menu-bo.png) repeat-x;
    overflow: visible;
    margin-left: 0px; 
    padding-left: 0px; 
    float: left;
}
.titre-menu-bo{
    float: left;
    height: 15px;
}
.titre-menu-bo h2{
    font-weight: bold;
    text-transform:uppercase;
    color: #666666;
    font-size: 12px;
}

#menu-backoffice ul{
    margin:0;
}

#menu-backoffice li{
    list-style-type: none;
    border: 2px solid #b3b3b3;
    margin: 4px;
}

#menu-backoffice li a{
    text-decoration: none;
    text-transform:uppercase;
    color: #666666;
    font-size: 12px;
}

#menu-backoffice img{
    vertical-align: middle;
    margin: 1px;
}

.plate {
    width: 80%;
    min-height: 600px;
    float: left;
    border: 2px solid #b3b3b3;
    padding: 5px;
    margin-left: 5px;
}
.plate-menu-hide {
    width: 92%;
    float: left;
}

/* mes livrets */
.form-creer-first-livret h2 {
    font-family: 'Jura','EurostileRomanDTCRegular', Arial;
    background: url(../images/pictos/bg-titre-1livret.png) no-repeat;
    width: 344px;
    height: 51px;
    color: #fff;
    font-size: 18px;
    text-transform:uppercase;
    margin-bottom: 30px;
    text-align: center;
    line-height: 39px;
}

.form-creer-first-livret img {
    vertical-align: middle; 
}

.form-creer-first-livret{
    margin: 60px 60px;    
}

.form-creer-first-livret label{
    text-transform: uppercase;
}

.form-creer-first-livret input{
    width: 85%;
    margin: 24px 0;
}

#booklet-create {
    margin: 0 0 10px 10px;
    border-bottom: 1px #DD6B5C solid;    
}

.titre-creer-livret {

}
.titre-creer-livret h2 {
    font-family: 'Jura','EurostileRomanDTCRegular', Arial;
    /* width: 300px; */
    color: #DD6B5C;
    font-size: 16px;
    text-transform:uppercase;
    margin-bottom: 0;
    margin: 0 0 10px 0;
}

.titre-creer-livret img {
    vertical-align: middle; 
}

#booklets-list {
    margin-left: 10px;
}

#booklets-list ul {
    margin-left: 10px;
    width: 100%;
}

.form-creer-livret{
    margin: 0 0 10px 0;    
}

.form-creer-livret label{
    font-weight: bold;
}

.form-creer-livret input{
    width: 50%;
}

.booklet-list-header {
    padding: 10px;
    background-color: #DD6B5C;
    -webkit-border-radius: 0px 20px 0px 20px;
    -moz-border-radius: 0px 20px 0px 20px;
    border-radius: 0px 20px 0px 20px;
    color: #fff;
    text-transform: uppercase;
    overflow:auto;
    /* width: 96%; */
    margin-bottom: 20px;
}

.booklet-list-header h1 {
    color: #fff;
    text-transform: uppercase;
}

.booklet-list-header a {
    color: #fff;
    text-decoration:none;
}

.booklet-list-header img {
    vertical-align: middle;
}

h3{
    font-family: Arial;
    /* width: 300px; */
    color: #666666;
    font-size: 14px;
    text-transform:uppercase;
    margin-bottom: 0;
}
.pochette{
    margin-left:20px;
}

.folio h3 {
    height:25px;
    padding-left: 10px;
    text-align:left;
    font-size: 12px;
}

.folio {
    width: 20%;
    text-align:center;
    float: left;
    display: inline-block;
    margin-left: 0px;
    margin-right: 0px;
}

.folio img{
    margin: 15px 0 15px 0;
}

.folio button{
    background-color: #00a295;
    width: 80%;
    color:#fff;
    font-size: 8px;
    text-transform: uppercase;
    -webkit-border-radius: 0px 15px 0px 15px;
    -moz-border-radius: 0px 15px 0px 15px;
    border-radius: 0px 15px 0px 15px;
    padding:5px;
    margin-bottom: 10px;
}
/* doc pres territoire */

.fond-pres-territoire{
    background-color: #e7e7e9;
    border: 1px solid #DD6B5C;
    margin-left: 10px;
    padding: 15px;
}
h1.titre1fond-pres-territoire{
    float:left;
    color: #DD6B5C;
    text-transform:uppercase;
    font-weight:normal;
    font-size: 12px;
}
h2.titre2fond-pres-territoire{
    background-color:#DD6B5C;
    -webkit-border-radius: 0px 10px 0px 10px;
    -moz-border-radius: 0px 10px 0px 10px;
    border-radius: 0px 10px 0px 10px;    
    padding: 5px 10px;
    margin-left: 20px;
    color: #fff;
    text-transform:uppercase;
    /* width:300px; */
    float: left;
    font-family: Arial;
    font-size: 12px;
}
.left-pres-territoire{
    float: left;
    width: 5%;
    height: 100%;
}
.cadre-pres-territoire{
    padding-left: 20px;
    /* overflow:auto; */
    width: 75%;
    text-align:center;
}

.template-pres-territoire{
    width:30%;
    float: left;
    display: inline-block;
    border-right: 2px solid #b3b3b3;
}

.template-pres-territoire a{
    text-decoration: none;
}

.template-pres-territoire img{
    border: 3px solid #b1b1b1;
}


.template-pres-territoire h3{
    background-color:#00a295;
    -webkit-border-radius: 0px 10px 0px 10px;
    -moz-border-radius: 0px 10px 0px 10px;
    border-radius: 0px 10px 0px 10px;
    padding: 2px;
    color: #fff;
    text-transform:uppercase;
    width: 40%;
    margin: 2px auto;
    font-family: Arial;
    font-size: 10px;
    text-align: center;
    height: 15px;
}

.template-pres-territoire h3 span{
    float: left;
    margin: 0 auto;
}

.right-pres-territoire{
    float: left;
    margin-top: -40px;
    width: 20%;
}

.help-pres-territoire{
    background-color: #fff;
    width: 100%;
    height: 120px;
    margin-bottom:100px;
    border: 2px solid #999999;
}
.help-pres-territoire img{
    padding: 5px;
}

.link-pres-territoire a{
    color:#fff;
    text-decoration:none;
}
.link-pres-territoire div{
    padding: 5px;
    margin: 5px 0;
    height: 32px;
}

.link-pres-territoire div span{
    float: left;
    width:75%;
    font-size: 10px;
}

.link-pres-territoire div img{
    float: right;
    vertical-align: middle;
    /* width:25%; */
}

/* syle folio plateforme */

.fond-folio-pf{
    background-color: #e7e7e9;
    border: 1px solid #DD6B5C;
    margin-left: 10px;
    padding: 15px;
}
h1.titre1fond-folio-pf{
    float:left;
    color: #DD6B5C;
    text-transform:uppercase;
    font-weight:normal;
    font-size: 12px;
}
/*.fond-folio-pf h2{
    background-color:#DD6B5C;
    -webkit-border-radius: 0px 10px 0px 10px;
    padding: 5px 10px;
    margin-left: 20px;
    color: #fff;
    text-transform:uppercase;
    float: left;
    font-family: Arial;
    font-size: 12px;
}*/
.foliotoolbar{
    padding-top: 50px;
}
.menu-folio{
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0px;
    left: 0;
    background: url(../images/bg-menu-folio.png) repeat-x;
    z-index: 150;
}
.menu-folio ul {
 padding:0;
 margin:0;
 list-style-type:none;
 float: right;
}
.menu-folio li {
 float:left;
 border-left:1px solid black;
 }
.menu-folio ul li a {
 display:block;
 float:left;   
 /* width: 130px; */
 /* line-height: 14px; */ 
 color:#000;
 text-decoration:none;
 text-align:center;
 margin: 2px 10px;
 height: 28px;
 cursor: pointer;
}   


.cadre-folio-pf{
    margin-top: 20px;
    /* margin-right: 20px; */
    border: 1px solid #bbbbbb;
    width: 632px;
    float: left;
    text-align:center;
    height: 894px;
    overflow: hidden;
    font-size: 12px;
    line-height: 100%;
}

.template-folio-pf{
    width:30%;
    float: left;
    display: inline-block;
    border-right: 2px solid #b3b3b3;
}

.template-folio-pf h3{
    background-color:#00a295;
    -webkit-border-radius: 0px 10px 0px 10px;
    -moz-border-radius: 0px 10px 0px 10px;
    border-radius: 0px 10px 0px 10px;
    padding: 5px;
    color: #fff;
    text-transform:uppercase;
    width:50%;
    margin: 0 auto;
    font-family: Arial;
    text-align: center;
}

.right-folio-pf{
    float: right;
    z-index: 100;
    margin-top: -40px;
    width: 140px;
}

.right-folio-pf p{
    font-size: 10px;
}
.right-folio-pf a{
    color: #808080;
}
.right-folio-pf img{
    margin: 5px 0;
}
#folio-edit-toolbox{
    width: 100%;
    display: inline-block;
    text-align: center;
}

.select-folio{
    width: 50%;
    float: left;
}

.select-folio span{
    font-size: 10px;
}

.help-folio-pf{
    background-color: #fff;
    width: 100%;
    height: 120px;
    margin-bottom: 40px;
    border: 2px solid #999999;
}
.help-folio-pf img{
    padding: 5px;
}

.cadre-toolbox{
    background-color: #fff;
    border: 1px solid #DD6B5C;
    margin-bottom: 20px;
    padding: 5px;
}

.cadre-toolbox h3{
    font-size: 10px;
    background-color: #00b3ff;
    color: #fff;
    padding: 2px;
    margin-bottom: 5px;
}

.link-img-doc-toolbox{
    width: 48%;
    float: left;
    background-color: #d8d9da;
    font-size: 8px;
    margin: 1px;
    text-align: center;
    height: 32px;
}
.link-folio-pf a{
    color:#fff;
    text-decoration:none;
}
.link-folio-pf div{
    padding: 2px;
    margin: 5px 0;
    height: 32px;
    width: 100%;
    display: inline-block;
}

.link-folio-pf div span{
    float: left;
    width: 74%;
    font-size: 10px;
}

.link-folio-pf div img{
    float: right;
    vertical-align: middle;
    width:25%;
    margin: 0;
}

/* fullscreen */
.fullscreen {
    width: 97%;
    height: 98%;
    position: absolute;
    z-index: 10;
    left: 0;
    top: 40px;
    margin: 0;      
}
.cfpffullscreen {
    position: absolute;
    z-index: 100;
    /* left: 30px; */
    /* top: 65px; */
    /* font-size: 160%; */
    margin: 0;
    /* width: 86%; */
    /* zoom: 2; */
    //-ms-zoom: 2;
    //-webkit-zoom: 2;    
    //-moz-transform-origin: left center;
    //transform: scale(2,4);    
    //-webkit-transform: scale(2.2,2.2); /* Safari and Chrome */
    //-o-transform: scale(2,4); /* Opera */
    //-moz-transform: scale(2,4); /* Firefox */
    /* height: 100%; */  
    -moz-transform:  scale(2.2,2.2);
    transform: scale(2.2);
    transform-origin: 0 20% 0;
    -ms-transform: scale(2.2,2.2); /* IE 9 */
    -ms-transform-origin:-15% 5%; /* IE 9 */
    -webkit-transform: scale(2.2); /* Chrome, Safari, Opera */
    -webkit-transform-origin: -5% -5%; /* Chrome, Safari, Opera */
}

@-moz-document url-prefix()
{
    .cfpffullscreen {
    left: 5%;
    top: 70%;
    }
}

  .cfpffullscreen/**/ {
    //top: 340px;
    //left: 530px;
    }

.rfpffullscreen{
    /* width: 10%; */
    /* zoom: 1.8; */
}

/*@media screen and (max-width: 1440px) {
  .rfpffullscreen {
    width: 13%;
  }
  .cfpffullscreen {
     width: 80%;
  
     height: 100%; 
    zoom: 1.2;
}
}*/
@media screen and (min-width: 640px) {
.cfpffullscreen {
    /* zoom: 1; */
    -moz-transform:  scale(0.9,0.9);
    transform: scale(0.9);
    transform-origin: 0 20% 0;
    -ms-transform: scale(0.9,0.9); /* IE 9 */
    -ms-transform-origin:-15% 5%; /* IE 9 */
    -webkit-transform: scale(0.9); /* Chrome, Safari, Opera */
    -webkit-transform-origin: -5% -5%; /* Chrome, Safari, Opera */
}

@-moz-document url-prefix()
{
    .cfpffullscreen {
    left: 5%;
    top: 20%;
    }
}
}

@media screen and (min-width: 800px) {
.cfpffullscreen {
    /* zoom: 1.2; */
    -moz-transform:  scale(1.1,1.1);
    transform: scale(1.2);
    transform-origin: 0 20% 0;
    -ms-transform: scale(1.1,1.1); /* IE 9 */
    -ms-transform-origin:-15% 5%; /* IE 9 */
    -webkit-transform: scale(1.1); /* Chrome, Safari, Opera */
    -webkit-transform-origin: -5% -5%; /* Chrome, Safari, Opera */
}

@-moz-document url-prefix()
{
    .cfpffullscreen {
    left: 5%;
    top: 30%;
    }
}
}
@media screen and (min-width: 1024px) {
.cfpffullscreen {
    /* zoom: 1.4; */
    -moz-transform:  scale(1.2,1.2);
    transform: scale(1.2);
    transform-origin: 0 20% 0;
    -ms-transform: scale(1.2,1.2); /* IE 9 */
    -ms-transform-origin:-15% 5%; /* IE 9 */
    -webkit-transform: scale(1.2); /* Chrome, Safari, Opera */
    -webkit-transform-origin: -5% -5%; /* Chrome, Safari, Opera */
}

@-moz-document url-prefix()
{
    .cfpffullscreen {
    left: 5%;
    top: 30%;
    }
}
}
@media screen and (min-width: 1280px) {
.cfpffullscreen {
    /* zoom: 1.6; */
-moz-transform:  scale(1.4,1.4);
    transform: scale(1.4);
    transform-origin: 0 20% 0;
    -ms-transform: scale(1.4,1.4); /* IE 9 */
    -ms-transform-origin:-15% 5%; /* IE 9 */
    -webkit-transform: scale(1.4); /* Chrome, Safari, Opera */
    -webkit-transform-origin: -5% -5%; /* Chrome, Safari, Opera */
}

@-moz-document url-prefix()
{
    .cfpffullscreen {
    left: 5%;
    top: 40%;
    }
}
}
@media screen and (min-width: 1400px) {
.cfpffullscreen {
    /* zoom: 1.8; */
    -moz-transform:  scale(1.6,1.6);
    transform: scale(1.6);
    transform-origin: 0 20% 0;
    -ms-transform: scale(1.6,1.6); /* IE 9 */
    -ms-transform-origin:-15% 5%; /* IE 9 */
    -webkit-transform: scale(1.6); /* Chrome, Safari, Opera */
    -webkit-transform-origin: -5% -5%; /* Chrome, Safari, Opera */
}

@-moz-document url-prefix()
{
    .cfpffullscreen {
    left: 5%;
    top: 50%;
    }
}
}
@media screen and (min-width: 1600px) {
.cfpffullscreen {
    /* zoom: 2; */
-moz-transform:  scale(2,2);
    transform: scale(2);
    transform-origin: 0 20% 0;
    -ms-transform: scale(2,2); /* IE 9 */
    -ms-transform-origin:-15% 5%; /* IE 9 */
    -webkit-transform: scale(2); /* Chrome, Safari, Opera */
    -webkit-transform-origin: -5% -5%; /* Chrome, Safari, Opera */
}

@-moz-document url-prefix()
{
    .cfpffullscreen {
    left: 5%;
    top: 70%;
    }
}
}
@media screen and (min-width: 1900px) {
.cfpffullscreen {
    /* zoom: 2.5; */
-moz-transform:  scale(2.2,2.2);
    transform: scale(2.2);
    transform-origin: 0 20% 0;
    -ms-transform: scale(2.2,2.2); /* IE 9 */
    -ms-transform-origin:-15% 5%; /* IE 9 */
    -webkit-transform: scale(2.2); /* Chrome, Safari, Opera */
    -webkit-transform-origin: -5% -5%; /* Chrome, Safari, Opera */
}

@-moz-document url-prefix()
{
    .cfpffullscreen {
    left: 5%;
    top: 70%;
    }
}
}
.menuHidden{
    width: 750px;
    height: 1061px;
}
.menuHidden[class~="cfpffullscreen"]{
    /* width: 83%; */
    /* height: 100%; */
}

.pochetteshow{
    width: 632px;
    height: 447px;
}

.pochetteshow[class~="menuHidden"] {
    width: 750px;
    height: 530px;
}

.pochetteshow[class~="cfpffullscreen"] {
    /* width: 82%; */
    /* height: 100%; */
    /* zoom: 2.4; */
}

.agendashow{
    width: 632px;
    height: 447px;
}

.agendashow[class~="menuHidden"] {
    width: 750px;
    height: 530px;
}

.agendashow[class~="cfpffullscreen"] {
    /*width: 83%;
    height: 100%;*/
}
/* library liste*/
#library-list li{
    width: 100%;
    margin: 0 10px 10px 0;
    padding: 5px 0;
    display: list-item;
    height: 160px;
    overflow: auto;
}

#library-list li.active {
    background-color: #ebebeb;
}

#library-list li:hover {
    background-color: #ebebeb;
}

#library-list li .check-image{
    width: 5%;
    float: left;
    padding-left: 10px;
    margin: 65px 0;
}

#library-list li .miniature-image{
    width: 25%;
    float: left;
}
#library-list li .miniature-image img{
    border:1px solid #c5c5c5;
    max-width: 95%;
    max-height: 95%;
}

#library-list li .infos-image{
    width: 65%;
    float: left;
    padding-left: 10px;
    overflow: hidden;
}

#library-list li .infos-image h3{
    color: #808080;
    text-transform: none;
    width: 50%;
    float: left;
}

#library-list li .infos-image p{
    color: #585858;
    height: 100px;
    margin-top: 20px;
}

#library-list li .actions-image{
    width: 100%;
    float: left;
    /* padding-left: 10px; */
}
#library-list li .actions-image a span{
    color: #808080;
    text-decoration: underline;
}

/* library miniature*/
#library-miniature li{
    width: 15%;
    float: left;
    margin: 0 10px 10px 0;
    padding: 15px;
    display: inline-block;
}

#library-miniature li.active {
    background-color: #ebebeb;
}

#library-miniature li:hover {
    background-color: #ebebeb;
}

#library-miniature li div{
    height: 120px;
    text-align: center;
}
#library-miniature li div img{
    border:1px solid #c5c5c5;
}


.haut-library{
    width: 100%;
    overflow: auto;
}

.titre-library{
    width: 50%;
    float: left;
}

.titre-library h2{
    text-transform: uppercase;
    font-weight: 700;
    color: #808080;
    font-size: 14px;
}

.menu-library{
    width: 12%;
    float: left;
}
.menu-library-link {
    cursor: pointer;
}
.menu-library-link.selected {
    /* border: 1px solid #e47d0a; */
    font-weight: 700;
}

.menu-library img{
    vertical-align: baseline;
    width: 15px;
    height: 15px;
    margin-left: 10px;
}

.block-select-library{
    width: 100%;
    margin-bottom: 30px;
    overflow: auto;
}

.onglet-library{
    width: 20%;
    float: left;
}

.onglet-library h3{
    background-color: #00a295;
    width: 90%;
    color: #fff;
    font-size: 10px;
    text-align: center;
    text-transform: none;
    -webkit-border-radius: 0px 20px 0px 20px;
    -moz-border-radius: 0px 20px 0px 20px;
    border-radius: 0px 20px 0px 20px;
    padding: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}
.onglet-library h3.selected {
    background-color: #e47d0a;
}

.recherche-library{
    width: 50%;
    float: left;
}

.recherche-library img{
    vertical-align: middle;
    margin-left: 10px;
}

.recherche-library input{
    width: 90%;
}

#library-add-popup {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
#library-add-popup > .sheet-fade {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: black;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
    -khtml-opacity: 0.7;
    opacity: 0.7;
    z-index: 90;
    cursor: pointer;
}

#library-add-popup > .sheet-content {
    position: absolute;
    left: 20%;
    right: 20%;
    top: 20%;
    bottom: 20%;
    padding: 25px; 
    border: 2px solid black;
    background-color: #ffffff;
    z-index: 100;
}
#library-edit-popup {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
#library-edit-popup > .sheet-fade {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: black;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
    -khtml-opacity: 0.7;
    opacity: 0.7;
    z-index: 90;
    cursor: pointer;
}

#library-edit-popup > .sheet-content {
    position: absolute;
    left: 20%;
    right: 20%;
    top: 10%;
    bottom: 10%;
    padding: 25px; 
    border: 2px solid black;
    background-color: #ffffff;
    z-index: 100;
}
#library-import-popup {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
#library-import-popup > .sheet-fade {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: black;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
    -khtml-opacity: 0.7;
    opacity: 0.7;
    z-index: 90;
    cursor: pointer;
}

#library-import-popup > .sheet-content {
    position: absolute;
    left: 20%;
    right: 20%;
    top: 10%;
    bottom: 10%;
    padding: 25px; 
    border: 2px solid black;
    background-color: #ffffff;
    z-index: 100;
}
#library-cats {
    cursor: pointer;
}
#library-cats li{
    width: 15%;
    float: left;
    margin: 0 10px 10px 0;
    padding: 15px;
    display: inline-block;
}

#library-cats li.active {
    background-color: #ebebeb;
}

#library-cats li:hover {
    background-color: #ebebeb;
}

#library-cats li div{
    height: 120px;
    text-align: center;
}
#library-cats li div img{
    border:1px solid #c5c5c5;
}
/* Agenda */
.picto-jr-ferie{
    background: url(../images/pictos/picto-jr-ferie.png) no-repeat;
    vertical-align: middle;
    width: 10%;
}

.trait-vacances{
    background: #e57e0c;
}

.picto-jr-ferie-footer{
    margin-right: 5%;
    width: 12px;
    height: 12px;
}

.trait-vacances-footer{
    margin-right: 5%;
    width: 12px;
    height: 12px;
}

.footer-month{
    height: 35px;
    margin-top: 1%;
    color: #fff;
    font-size: 60%;
    text-align: left;
    padding: 1%;
}

.footer-month-fev{
    margin-top:17%
}

.footer-month30{
    margin-top:9%
}

.width70{
    /* width: 70% !important; */
    /* max-height: 70% !important; */
    /* min-height: 70% !important; */
    background-color: red;
}

.ui-accordion-content-active{
    height: auto !important;
}

.faq-item h3{
    text-transform: none;
    font-size: 16px;
    margin: 10px 0;
    font-weight: 700;
}

.faq-item p {
margin-bottom: 10px;
margin-left: 20px;
}

.titre-folio h1 {font-size: 200%; line-height: 100%;}
.titre-folio h2 {font-size: 200%; line-height: 100%;}
.titre-folio h3 {font-size: 240%; line-height: 100%;}

.block-pres-territoire h5 {font-size: 12px; line-height: 12px}
.block-pres-territoire h4 {font-size: 18px; line-height: 18px;}
.block-pres-territoire p {font-size: 100%; line-height: 100%}
.pres-terri-img-defaut-moyenne {width: 70%; max-height: 70%;}
.logo-titre-folio {max-width: 80%; height:auto;}
.pres-terri-img-defaut-grande {max-width: 90%; max-height: 80%; min-height: 80%;}
.pres-terri-img-defaut-moyenne-portrait {max-width: 40%; max-height: 70%;}
.img-pres-terri-2 {max-width: 30%; max-height: 40%;}
.img-pres-terri-3 {max-width: 30%; max-height: 50%;}
.img-pres-terri-large {max-width: 100%; max-height: 80%;}

.block-locale h5 {font-size: 10px; line-height: 10px}
.block-locale h4 {font-size: 14px; line-height: 14px;}
.block-locale p {font-size: 80%; line-height: 120%;}
.block-locale ul {font-size: 80%; line-height: 100%}
.img-cat-locale {max-width: 100%; height: auto; max-height: 12%;}

.footer-folio {display: block; width: 100%; height: 8%; padding-top: 1%;}

.size-pochette{
    width: 100%;
    height: 100%;
}
.size-pochette-pli{
     width: 49%;
     height:100%;
}

.size-folio-a4{
    width: 100%;
    height: 100%;
}
.size-agenda-a4{
    width: 100%;
    height: 100%;
}