<div class="wrapper">
    <section id="content">
        <div ng-show="message.show" 
             ng-bind="message.text" 
             ng-class="{message_success: message.type === 'success', message_error: message.type === 'error'}">
        </div>
        <div ng-hide="message.show && message.type === 'success'">
            Adresse e-mail : <input type="text" ng-model="username">
            <br>
            Mot de passe : <input type="password" ng-model="passwd">
            <br>
            <button ng-click="create()">S'inscrire</button>
        </div>
    </section>
    <aside ng-include="'partials/home/right.html'"></aside>
</div>