<div class="wrapper">
    <section id="content">
        <div ng-if="message.show" 
             ng-bind="message.text" 
             ng-class="{message_success: message.type === 'success', message_error: message.type === 'error'}">
        </div>
        <div ng-show="saveInProgress">
            Enregistrement des changements...
            <br>
            <img src="images/loading.gif">
        </div>
        <div ng-hide="saveInProgress" id="form-subscribe">
            <fieldset>
                <legend>Vos informations de compte</legend>
                <label>Nom de votre structure : {{User.getInfos().name}}</label>
                <label style="width: 390px;">Nom r&eacute;f&eacute;rent (responsable de la saisie du livret) : {{User.getInfos().last_name}}</label>
                <label>Pr&eacute;nom r&eacute;f&eacute;rent : {{User.getInfos().first_name}}</label>
                <label>Fonction : {{User.getInfos().fonction}}</label>
                <label>Adresse mail : {{User.getInfos().username}}</label>
                <label>Téléphone : {{User.getInfos().phone}}</label>
                <label>Adresse : {{User.getInfos().address}}</label>
                <label>Code Postal : {{User.getInfos().cp}}</label>
                <div style="clear: both;"></div>
                <div>
                <label for="form-profil-passwd">Mot de passe choisi* :</label>
                <input type="password" ng-model="passwd" id="form-profil-passwd">
                </div>
                <div>
                <label for="form-profil-passwd2">Confirmez le mot de passe choisi* :</label>
                <input type="password" ng-model="passwd2" id="form-profil-passwd2">
                </div>
                <div style="clear: both;"></div>
                <br>
                <button ng-click="save()">Enregistrer</button>

            </fieldset>
        </div>
        <div ng-init="showCGU = false" ng-if="showCGU" ng-include="'partials/common/cgu.html'" onload="parent = $parent"></div>
    </section>
    <aside ng-include="'partials/home/right.html'"></aside>
</div>