<div class="wrapper">
    <section id="content">
        <div ng-if="message.show" 
             ng-bind="message.text" 
             ng-class="{message_success: message.type === 'success', message_error: message.type === 'error'}">
        </div>
        <div ng-show="saveInProgress">
            Enregistrement des changements...
            <br>
            <img src="images/loading.gif">
        </div>
        <div ng-hide="saveInProgress" id="form-subscribe" ng-keypress="($event.keyCode === 13) ? save() : null">
            <fieldset>
                <legend>Vos informations de compte</legend>
                <label for="form-subscribe-name-compagny">Nom de votre structure* : </label>
                <input type="text" ng-model="userInfos.name" id="form-subscribe-name-compagny">
                <br>
                <label for="form-subscribe-lastname">Nom r&eacute;f&eacute;rent (responsable de la saisie du livret)* :</label>
                <input type="text" ng-model="userInfos.last_name" id="form-subscribe-lastname">
                <br>
                <label for="form-subscribe-firstname">Pr&eacute;nom r&eacute;f&eacute;rent* :</label>
                <input type="text" ng-model="userInfos.first_name" id="form-subscribe-firstname">
                <br>
                <label for="form-subscribe-fonction">Fonction : </label>
                <input type="text" ng-model="userInfos.fonction" id="form-subscribe-fonction">
                <br>
                <label for="form-subscribe-username">Adresse mail : </label>
                <input type="text" ng-model="userInfos.username" id="form-subscribe-username" disabled readonly>
                <br>
                <label for="form-subscribe-phone">Téléphone :</label>
                <input type="text" ng-model="userInfos.phone" id="form-subscribe-phone">
                <br>
                <label for="form-subscribe-adress">Adresse* :</label>
                <input type="text" ng-model="userInfos.address" id="form-subscribe-adress">
                <br>
                <label for="form-subscribe-cp">Code Postal* :</label>
                <input type="text" ng-model="userInfos.cp" id="form-subscribe-cp">
                <br>
                <label for="form-subscribe-city">Ville* :</label>
                <input type="text" ng-model="userInfos.city" id="form-subscribe-city">
                <br>
                <label for="form-subscribe-passwd">Mot de passe choisi* :</label>
                <input type="password" ng-model="userInfos.passwd" id="form-subscribe-passwd">
                <br>   
                <label for="form-subscribe-passwd">Confirmez le mot de passe choisi* :</label>
                <input type="password" ng-model="passwd2" id="form-subscribe-passwd">
                <div style="clear: both;"></div>
                <br>
                <button ng-click="save()">Enregistrer</button>

            </fieldset>
        </div>
    </section>
</div>