<div class="wrapper">
    <section id="content">
        <h4>Vous avez oublié votre mot de passe ? Vous allez pouvoir le réinitialiser grâce à votre boîte mail.</h4>
        <div ng-show="resetInProgress">
            R&eacute;initialisation de votre mot de passe en cours...
            <br>
            <img src="images/loading.gif">
        </div>
        <div ng-hide="resetInProgress" ng-keypress="($event.keyCode === 13) ? resetPasswd() : null">
            <fieldset>
                <legend>Reinitialisez votre mot de passe</legend>
                <div ng-if="passwdChanged">
                    Consultez votre messagerie, vous allez recevoir une mail pour réinitialiser votre mot de passe.
                </div>
                <div ng-if="!passwdChanged">
                    <div ng-if="$parent.error" ng-bind="$parent.error_message" class="message_error"></div>
                    <label for="account-reset-passwd">Votre mail</label> <input type="text" ng-model="$parent.email" id="account-reset-passwd">
                    <br>
                    <button ng-click="resetPasswd()">Valider</button>
                </div>                
            </fieldset>
        </div>
    </section>
    <aside ng-include="'partials/home/right.html'"></aside>
</div>