<div id="modhome"> 

<h2>
    <img style="vertical-align: middle; padding-right:5px;" src="images/pictos/a4.png" width="32" height="32" alt="Accueil" title="Accueil">
    Accueil
</h2>

<br><hr><br>
<h2>Bouton "Nous contacter"</h2>
<input type="radio" name="enable_contact" ng-model="home.enable_contact" ng-value="true"> Actif
<input type="radio" name="enable_contact" ng-model="home.enable_contact" ng-value="false"> Inactif
<br><hr><br>
<h2>Emails de reception des demandes de contact</h2>
<small>Un email par ligne</small>
<textarea ng-trim="true" ng-model="home.emails_contact"></textarea>
<br><hr><br>
<h2>T&eacute;moignage utilisateur</h2>
<textarea ng-trim="true" ng-model="home.feedback"></textarea>
<br><hr><br>

<h2>Texte RRHN</h2>
<textarea ng-trim="true" ng-model="home.rrhn"></textarea>
<br><hr><br>

<h2>Logo de la r&eacute;gion</h2>
    <img ng-show="home.logo_region.base64" ng-src="data:{{home.logo_region.filetype}};base64,{{home.logo_region.base64}}" style="height: 80px;">
    <p ng-hide="home.logo_region.base64">Aucune image</p>
<br><br>
<input type="file" ng-model="home.logo_region" base-sixty-four-input />

<br><hr><br>
<h2>Logo du pr&eacute;fet de la r&eacute;gion</h2>
<img ng-show="home.logo_prefet.base64" ng-src="data:{{home.logo_prefet.filetype}};base64,{{home.logo_prefet.base64}}" style="height: 80px;">
<p ng-hide="home.logo_prefet.base64">Aucune image</p>
<br><br>
<input type="file" ng-model="home.logo_prefet" base-sixty-four-input />

<br><hr><br>
<h2>Logo de l'europe</h2>
<img ng-show="home.logo_europe.base64" ng-src="data:{{home.logo_europe.filetype}};base64,{{home.logo_europe.base64}}" style="height: 80px;">
<p ng-hide="home.logo_europe.base64">Aucune image</p>
<br><br>
<input type="file" ng-model="home.logo_europe" base-sixty-four-input />

<br><hr><br>
<h2>Logo RRHN</h2>
<img ng-show="home.logo_rrhn.base64" ng-src="data:{{home.logo_rrhn.filetype}};base64,{{home.logo_rrhn.base64}}" style="height: 80px;">
<p ng-hide="home.logo_rrhn.base64">Aucune image</p>
<br><br>
<input type="file" ng-model="home.logo_rrhn" base-sixty-four-input />

<br><hr><br>
<!--
<p>Logo de la r&eacute;gion</p>
<img ng-src="{{home.logo_region}}">
<br><br>
<p>Logo du pr&eacute;fet de la r&eacute;gion</p>
<img ng-src="{{home.logo_prefet}}">
<br><br>
<p>Logo de l'europe</p>
<img ng-src="{{home.logo_europe}}">
<br><br>
<p>Texte d'accueil</p>
<textarea ng-trim="true" ng-model="home.home_text"></textarea>
<br><br>
<p>Image d'accueil</p>
<img ng-src="{{home.home_picture}}" width="300" height="230">
<br><br>
-->
<button ng-click="save()">Sauvegarder les changements</button>

</div>