<h2>
    <img style="vertical-align: middle; padding-right:5px;" src="images/pictos/edition.png" width="32" height="32" alt="Statistiques" title="Statistiques">
    Statistiques
</h2>
<button ng-click="reloadStats()">Actualiser</button>
<div class="page-stats">
    <div class="bloc-stats">
        <h3>user actifs : {{stats.users_confirmed}}</h3>
    </div>
    <div class="bloc-stats">
        <h3>user non valid&eacute;s {{stats.users_not_confirmed}}</h3>
    </div>
    <div class="bloc-stats">
        <h3>nombre de photos: {{stats.pictures}}</h3>
    </div>
    <div class="bloc-stats">
        <h3>nombre de livrets : {{stats.booklets}}</h3>
    </div>
</div>