<div class="size-folio-a4" style="background-color: #fff; text-align: left; padding: 1%; font-family: 'Lato',Arial; color: #58595b;">
    <div style="width: 100%" class="block-pres-territoire-title-2">
        <div style="width: 69%; float: left; padding-top: 1%;" class="titre-folio">
            <h1 style="text-transform: uppercase; font-weight: 300; color: #93989e;">Présentation du territoire</h1>
            <h2 style="margin: 0; color: #93989e; font-weight: 500;" class="ng-editable ng-deletable" data-one-line="true">de la communauté de commune de</h2>
            <h3 style="color:#58595b; text-transform: none; padding-top: 1%;" class="ng-editable ng-deletable" data-one-line="true">Maecenas accumsan</h3>
        </div>
        <div style="width: 25%; float: left;">
            <img src="images/logo.png" alt="logo" title="Logo" style="float: right;" class="ng-picture-select logo-titre-folio"/>
        </div>
    </div>
    <div style="display: block; width: 100%; height: 30%; border-bottom: 1px solid #e57e0c; text-align: center;" class="block-pres-territoire">
        <h5 class="ng-editable" style="color: #58595b; text-align: left; margin-bottom: 1%;"><img src="images/pictos/puce-titre-folio.png" style="margin-right: 1%;" alt="puces-titre-folio" title="puces-titre-folio"/>Titre carte</h5>
        <img src="images/img-defaut-large.png" alt="logo" title="Logo" class="ng-picture-select img-pres-terri-large" />                       
    </div> 
    <div style="display: block; width: 100%; height: 23%; border-bottom: 1px solid #e57e0c;" class="block-pres-territoire">
        <h4 class="ng-editable" data-one-line="true" style="color: #e57e0c; text-transform: uppercase; padding-top: 1%;">Présentation du territoire</h4>
        <h5 class="ng-editable" data-one-line="true" style="color: #58595b; margin-bottom: 1%;"><img src="images/pictos/puce-titre-folio.png" style="margin-right: 1%;" alt="puces-titre-folio" title="puces-titre-folio"/>Titre</h5>
        <p class="ng-editable" style="width: 100%;" data-max-length="1000">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend aliquet mauris eget lobortis. Donec hendrerit nisi justo, 
            quis fringilla nunc semper vel. Donec et erat nec sapien faucibus fringilla at id justo. Nulla lobortis ante sapien, eget consequat 
            sapien accumsan pellentesque. Aliquam tincidunt justo quis magna viverra feugiat. Maecenas accumsan ipsum non mauris rutrum dapibus 
            quis in lectus. Cras consectetur eros eu mauris ullamcorper, id egestas nisi adipiscing. Vivamus mauris est, tempor sit amet massa
            eget, dapibus dapibus mi. Phasellus nec interdum quam.

Nam fringilla vehicula condimentum. In scelerisque nunc neque, sit amet dictum dui interdum eget. Suspendisse sed malesuada velit. Donec massa 
velit, tincidunt nec congue vitae, rutrum eget orci. Vestibulum nullam.           
        </p>
    </div>
    <div style="display: block; width: 100%; height: 25%;" class="block-pres-territoire">
        <h4 class="ng-editable" data-one-line="true" style="color: #e57e0c; text-transform: uppercase; padding-top: 1%;">Parole d'acteur</h4>
        <h5 class="ng-editable" data-one-line="true" style="color: #58595b; margin-bottom: 1%;"><img src="images/pictos/puce-titre-folio.png" style="margin-right: 1%;" alt="puces-titre-folio" title="puces-titre-folio"/>Titre</h5>
        <p class="ng-editable" style="width: 100%;" data-max-length="1000">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend aliquet mauris eget lobortis. Donec hendrerit nisi justo, 
            quis fringilla nunc semper vel. Donec et erat nec sapien faucibus fringilla at id justo. Nulla lobortis ante sapien, eget consequat 
            sapien accumsan pellentesque. Aliquam tincidunt justo quis magna viverra feugiat. Maecenas accumsan ipsum non mauris rutrum dapibus 
            quis in lectus. Cras consectetur eros eu mauris ullamcorper, id egestas nisi adipiscing. Vivamus mauris est, tempor sit amet massa 
            eget, dapibus dapibus mi. Phasellus nec interdum quam.

Nam fringilla vehicula condimentum. In scelerisque nunc neque, sit amet dictum dui interdum eget. Suspendisse sed malesuada velit. Donec massa 
velit, tincidunt nec congue vitae, rutrum eget orci. Vestibulum nullam.            
        </p>
    </div>   
</div>