<div class="size-folio-a4" style="background-color: #fff; text-align: left; padding: 1%; font-family: 'Lato',Arial; color: #58595b;">
    <div style="display: block; width: 100%; border-bottom: 1px solid #e57e0c;" class="block-pres-territoire  block-pres-territoire-title">
        <h4 class="ng-editable" data-one-line="true" style="color: #e57e0c; text-transform: uppercase; padding-top: 2%;">###TITRE_PATRIMOINE_ARCHITECTURAL###</h4>
        <h5 style="color: #58595b; text-align: left; margin-bottom: 1%;">
			<img src="images/pictos/puce-titre-folio.png" style="margin-right: 1%;" alt="puces-titre-folio" title="puces-titre-folio" />
			<span class="ng-editable" data-one-line="true" >###SOUS_TITRE_PATRIMOINE_ARCHITECTURAL###</span>
		</h5>
        <div style="width: 100%;">
            <p class="ng-editable" style="width: 100%; float: left;" data-max-length="1000">###TEXTE_PATRIMOINE_ARCHITECTURAL###</p>
            <div style="width: 100%; float: left; text-align: center; padding-top: 1%;">
                <img src="images/img-defaut-moyenne.png" alt="logo" title="Logo" class="ng-picture-select img-pres-terri-2" />
                <img src="images/img-defaut-moyenne.png" alt="logo" title="Logo" class="ng-picture-select img-pres-terri-2" />
            </div>            
        </div>
     </div>
    <div style="display: block; width: 100%; height: 24%; border-bottom: 1px solid #e57e0c;" class="block-pres-territoire">
        <h4 class="ng-editable" data-one-line="true" style="color: #e57e0c; text-transform: uppercase; padding-top: 2%;">###TITRE_PATRIMOINE_ENVIRONNEMENTAL###</h4>
        <h5 style="color: #58595b; text-align: left; margin-bottom: 1%;">
			<img src="images/pictos/puce-titre-folio.png" style="margin-right: 1%;" alt="puces-titre-folio" title="puces-titre-folio" />
			<span class="ng-editable" data-one-line="true" >###SOUS_TITRE_PATRIMOINE_ENVIRONNEMENTAL###</span>
		</h5>
        <p class="ng-editable" style="width: 100%;" data-max-length="1000">###TEXTE_PATRIMOINE_ENVIRONNEMENTAL###</p>
    </div>
    <div style="display: block; width: 100%; height: 30%;" class="block-pres-territoire">
        <h4 class="ng-editable" data-one-line="true" style="color: #e57e0c; text-transform: uppercase; padding-top: 2%;">###TITRE_ACTIVITE_ECONOMIQUE###</h4>
        <h5 style="color: #58595b; text-align: left; margin-bottom: 1%;">
			<img src="images/pictos/puce-titre-folio.png" style="margin-right: 1%;" alt="puces-titre-folio" title="puces-titre-folio" />
			<span class="ng-editable" data-one-line="true" >###SOUS_TITRE_ACTIVITE_ECONOMIQUE###</span>
		</h5>
        <p class="ng-editable" style="width: 100%;" data-max-length="1000">###TEXTE_ACTIVITE_ECONOMIQUE###</p>
    </div>
    <div class="ng-locked" style="display: block; width: 100%; height: 8%;">
        <div>
            <div style="width: 65%; float: left; display: block;">
                <img src="images/region-haute-normandie.png" alt="logo" title="Logo" style="width: 10%; height:auto;"/>
                <img src="images/prefet-haute-normandie.jpg" alt="logo" title="Logo" style="width: 13%; height:auto;"/>
                <img src="images/europe-feader.png" alt="logo" title="Logo" style="width: 20%; height:auto;"/>
            </div>
            <div style="width: 35%; float: left;">
                <img src="images/logo-reseau-rural.png" alt="logo" title="Logo" style="width: 100%; height:auto;"/>
            </div>            
        </div>
    </div>    
</div>