<div id="booklet-create">
    <div class="titre-creer-livret">
        <h2>Creer mon livret maintenant<img src="images/mes-livrets.png" alt="mes-livrets" title="Mes livrets" width="48" height="48"/></h2>        
    </div>
    <div class="form-creer-livret">
        <div ng-if="error !== ''" ng-bind="error" style="color: red"></div>
        <label for="booklet-create-name">Nom de mon livret</label>
        <input type="text" id="booklet-create-name" ng-model="newBookName" ng-trim="true" placeholder="Entrez le nom de votre livret">
        <a href="#" onclick="return false;" ng-click="createBooklet()">OK</a>
    </div>
</div>
<ul id="booklets-list">
    <li ng-repeat="booklet in booklets| orderBy:'name'">
        <div class="booklet-list-header">
            <a style="font-size:18px; padding-right:400px" href="#" onclick="return false;" ng-click="selectBooklet(booklet.id)">
                {{booklet.name}}
            </a>
            <a style="font-size:12px; float:right;" href="#" onclick="return false;" ng-click="deleteBooklet(booklet.id)">
                <img src="images/supprimer.png" width="32" height="32" alt="Supprimer" title="Supprimer"/>
                Supprimer
            </a>
            <a style="font-size:12px; float:right;" href="#" onclick="return false;" ng-click="duplicateBooklet(booklet.id)">
                <img src="images/dupliquer.png" width="32" height="32" alt="dupliquer" title="Dupliquer"/>
                Dupliquer
            </a>
        </div>
        <div class="booklet-list-body" ng-show="booklet.id === selectedBooklet">
            <div style="background-color: #fff; width:100%;">
            <div class="pochette folio">
                <h3> > La Pochette</h3>
                <img src="images/pochette2.png" alt="phototheque" title="Photothèque"/>
                <button ng-if="!isFolioTypePresent($index,'folio1')" ng-click="createFolio(booklet.id, 'folio1')">Commencer maintenant</button>
                <button ng-if="isFolioTypePresent($index, 'folio1')">Modifier</button>
                <br>
                <span>Pochette Format A3 (recto/verso)</span>
            </div>
            <div class="folio">
                <h3> > La présentation du territoire</h3>
                <img src="images/folio2.png" alt="phototheque" title="Photothèque"/>
                <button ng-click="createFolio(booklet.id, 'folio2')">Commencer maintenant</button>
                <br>
                <span>1 Feuillet Format A4 (recto/verso)</span>
            </div>
            <div class="folio">
                <h3> > L'Offre locale</h3>
                <img src="images/folio2.png" alt="phototheque" title="Photothèque"/>
                <button ng-click="createFolio(booklet.id, 'folio3')">Commencer maintenant</button>
                <br>
                <span>Feuillet Format A4 (recto/verso)</span>
                <span>Quantité: suivant contenu</span>
            </div>
            <div class="folio">
                <h3> > Les règles pour bien vivre ensemble</h3>
                <img src="images/folio2.png" alt="phototheque" title="Photothèque"/>
                <button ng-click="createFolio(booklet.id, 'folio4')">Commencer maintenant</button>
                <br>
                <span>1 Feuillet Format A4 (recto/verso)</span>
            </div>
            <div class="folio">
                <h3> > L'agenda</h3>
                <img src="images/folio2.png" alt="phototheque" title="Photothèque"/>
                <button ng-click="createFolio(booklet.id, 'folio5')">Commencer maintenant</button>
                <br>
                <span>1 Feuillet Format A4 (recto/verso)</span>
            </div>
            </div>
        </div>
    </li>
</ul>
