<div style="background-color: ">
    <h1>La présentation du territoire</h1>
    <h2>Choisir Votre document</h2>
    <div class="cadre-pres-territoire">
        <div class="template-pres-territoire">
            <a href="#">
                <img src="images/pres-territoire-template1.jpg" alt="1" title="1"/>
                Choisir
            </a>
        </div>
        <div class="template-pres-territoire">
            <a href="#">
                <img src="images/pres-territoire-template2.jpg" alt="2" title="2"/>
                Choisir
            </a>
        </div>
        <div class="template-pres-territoire">
            <a href="#">
                <img src="images/pres-territoire-template3.jpg" alt="3" title="3"/>
                Choisir
            </a>
        </div>
    </div>
    <div>
        <a href="#">
            Etape Suivante
        </a>
            <a href="#">
            Enregistrer et revenir à mon livret
        </a>
    </div>
</div>
