<div class="fond-pres-territoire">
    <h1 class="titre1fond-pres-territoire"><img style="vertical-align: middle; padding-right:5px;" src="images/titre-folio.png" width="32" height="32" alt="Supprimer" title="Supprimer"/>La présentation du territoire</h1>
    <h2 class="titre2fond-pres-territoire">Choisir la forme de votre document</h2>
    <div style="width:100%; display:inline-block;">
        <div class="left-pres-territoire">
            <p style="height: 130px; margin: 100px 0;">Recto</p>
            <p>Verso</p>
        </div>
        <div class="cadre-pres-territoire">
            <div class="template-pres-territoire">
                <a href="#" onclick="return false;" ng-click="makeChoice('territoire1')">
                    <img src="images/pres-territoire-template1.jpg" alt="Présentation du territoire modèle A" title="Présentation du territoire modèle A"/>
                    <h3>Choisir<div ng-if="template === 'territoire1'"> &radic;</div></h3>
                </a>
            </div>
            <div class="template-pres-territoire">
                <a href="#" onclick="return false;" ng-click="makeChoice('territoire2')">
                    <img src="images/pres-territoire-template2.jpg" alt="Présentation du territoire modèle B" title="Présentation du territoire modèle B"/>
                    <h3>Choisir<div ng-if="template === 'territoire2'"> &radic;</div></h3>
                </a>
            </div>
            <div style="border-right: none;" class="template-pres-territoire">
                <a href="#" onclick="return false;" ng-click="makeChoice('territoire3')">
                    <img src="images/pres-territoire-template3.jpg" alt="Présentation du territoire modèle C" title="Présentation du territoire modèle C"/>
                    <h3>Choisir<div ng-if="template === 'territoire3'"> &radic;</div></h3>
                </a>
            </div>
        </div>
        <div class="right-pres-territoire">
            <div class="help-pres-territoire">
                <img src="images/pictos/help.png" width="16" height="16" alt="help" title="Aide"/>
                Astuce !
                <a href="#" class="link" ng-click="toggleHelp()">d&eacute;tails...</a>
            </div>
            <div class="link-pres-territoire">
                <!--                <div style="background-color: #00a295;">
                                    <a href="#" onclick="return false;" ng-click="confirmChoiceNext()">
                                        <span>Etape Suivante</span>
                                        <img src="images/pictos/suivant.png" width="32" height="32" alt="Suivant" title="Etape suivante"/>
                                    </a>
                                </div>
                                <div style="background-color: #f0b14e;">
                                    <a href="#" onclick="return false;" ng-click="confirmChoiceReturn()">
                                        <span>Enregistrer et revenir à mon livret</span>
                                        <img src="images/pictos/enregistrer.png" width="32" height="32" alt="Enregitrer" title="Enregistrer"/>
                                    </a>
                                </div>-->
                <div style="background-color: #00aa9d;">
                    <a href="#" onclick="return false;" ng-click="gotoBooklets()">
                        <span>Annuler</span>
                        <img src="images/pictos/annuler.png" width="32" height="32" alt="Annuler" title="Annuler"/>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="popup-help" ng-show="showHelp">
    <div class="sheet-fade" ng-click="toggleHelp()"></div>
    <div class="sheet-content">
        <button ng-click="toggleHelp()" class="sheet-close">
            <img src="images/pictos/fermer.png" alt="Fermer" title="Fermer" /> Fermer
        </button>
        <h2>Astuce !</h2>
        La présentation du territoire comprend deux pages, d'où les boutons recto verso.
        <br>
        Vous pouvez choisir entre l'un de ces 3 modèles de mise en page, en fonction de votre contenu (A, B ou C). Attention, ce choix est définitif, vous ne pourrez plus changer de modèle après avoir commencer la mise en page. Lisez la suite pour savoir comment choisir le modèle plus adapté. N'hésitez pas à copier votre livret avant de procéder à votre sélection.
        <br>
        >> Passez votre souris sur les aperçus pour savoir de quel modèle il s'agit : A, B ou C. 
        <br><br>
        Le modèle A :
        <br>
        Ce modèle est adapté pour intégrer :
        <br>
        - 2 cartes ou photos de présentation de votre territoire (une carte globale + une carte sur une zone d'activité par exemple),
        <br>
        Ce sont des zones images qui peuvent être utilisées pour tout type de visuels de présentation du territoire.
        <br>
        - un témoignage d'un acteur avec une photo de type photo d'identité,
        <br>
        - une présentation du patrimoine architectural avec 3 photos,
        <br>
        - une présentation du patrimoine environnemental avec 1 photo,
        <br>
        - une partie sur les activités économiques avec 1 photo.
        <br><br>
        Le PLUS du modèle A :
        <br>
        - les 2 cartes (ou visuels) pour le recto.
        <br>
        - la possibilité de mettre beaucoup d'images
        <br><br>
        Le modèle B :
        <br>
        Ce modèle a été pensé pour intégrer : 
        <br>
        - 1 carte de présentation de votre territoire ou 1 grande photo pour présenter le territoire.
        <br>
        - un témoignage d'un acteur (sans photo),
        <br>
        - une présentation du patrimoine architectural avec 2 photos,
        <br>
        - une présentation du patrimoine environnemental sans image,
        <br>
        - une partie sur les activités économiques sans image.
        <br><br>
        Les PLUS du modèle B :
        <br>
        - le grand visuel (carte ou autre) pour le recto.
        <br>
        - peu d'images nécessaires
        <br><br>
        Le modèle C :
        <br>
        Ce modèle a été conçu pour intégrer : 
        <br>
        - une présentation de votre territoire avec 3 petites photos
        <br>
        - un paragraphe sans photo pour les forces et les faiblesses
        <br>
        - un témoignage d'un acteur avec 1 photo de type photo d'identité,
        <br>
        - une présentation du patrimoine architectural avec 1 petite photo,
        <br>
        - une présentation du patrimoine environnemental avec 1 petite photo,
        <br>
        - une présentation des activités économiques sans avec 1 petite photo.
        <br><br>
        Les PLUS du modèle C :
        <br>
        - 3 petites photos pour présenter le territoire
        <br>
        - la possibilité de mettre en avant les atouts et les faiblesses du territoire
        <br>
    </div>
</div>
