<div class="menu-folio">
    <img src="images/logo-menu-folio.png" alt="logo" title="Retour à l'accueil"/>
    <ul>
        <li><a href="#" onclick="return false;" class="ng-marker-toggle ng-tooltip" title="Masque les reperes de l'edition"><img src="images/pictos/reperes.png" alt="reperes" title="Masquer les repères"/></a></li>
        <li><a href="#"><img src="images/pictos/aperçu.png" alt="aperçu" title="Aperçu"/></a></li>
        <li><a class="ng-tooltip" ng-click="toggleFullScreen()" title="Passer en edition plein ecran"><img src="images/pictos/fullscreen.png" alt="fullscreen" title="Afficher en plein écran"/></a></li>
        <li><a href="#" onclick="return false;" ng-click="save()"><img src="images/pictos/enregistrer.png" alt="Enregistrer" title="Enregistrer"/></a></li>
        <li><a class="ng-tooltip" title="Exporter PDF" ng-href="api/booklet/{{booklet_id}}/folio/{{folio_id}}/export"><img src="images/pictos/exporter.png" alt="Exporter" title="Exporter"/></a></li>
        <li><a class="ng-tooltip" ng-click="toggleTooltips()"><img src="images/pictos/aide-faq.png" alt="Aide" title="Aide"/></a></li>
        <li>
            <div ng-if="User.isLogged()" id="userPannel"> 
                <div class="namePannel" style="float: left;">
                    <img src="images/pictos/login.png" alt="login" title="Login" style="margin: 2px 10px;" />
                    <h3>{{User.getCompleteName()}}</h3>
                </div>
                <div class="menuPannel" style="float: left;">
                    <span><a href="#" onclick="return false;" ng-click="logout()"><img src="images/pictos/se-deconnecter.png" alt="se-deconnecter" title="Se déconnecter" style="vertical-align: middle"/></a></span>
                </div>
            </div>
        </li>
    </ul>
</div>
<div ng-if="folio !== null" class="fond-folio-pf" ng-class="{fullscreen: showFullscreen}">
    <h1 class="titre1fond-folio-pf">
        <img style="vertical-align: middle; padding-right:5px;" src="images/titre-folio.png" width="32" height="32" alt="Supprimer" title="Supprimer"/>
        {{folio.type}} - {{booklet.name}}
    </h1>
    <div style="width:100%; display:inline-block;">
        <div class="cadre-folio-pf" id="drawboard" compile="folio.ownPage[selected_page].content" ng-class="{cfpffullscreen: showFullscreen, menuHidden: (layout.menuShow === false), pochetteshow: (folio.type === 'pochette'), agendashow: (folio.type === 'agenda')}"></div>
        <div class="right-folio-pf" ng-class="{rfpffullscreen: showFullscreen}">
            <div class="help-folio-pf">
                <img src="images/pictos/help.png" width="16" height="16" alt="help" title="Aide"/>
            </div>
            <div class="cadre-toolbox">
                <h3 style="background-color: #DD6B5C">Votre sélection</h3>
                <!--<button class="ng-tooltip" ng-click="toggleFullScreen()" title="Passer en edition plein ecran">
                    Fullscreen
                </button>
                <button class="ng-tooltip" ng-click="toggleTooltips()">
                    Afficher les aides
                </button> --> 
                <div ng-if="folio.ownPage.length === 2 && folio.type !== 'locale'" id="folio-edit-toolbox">
                    <div class="select-folio">
                        <a href="#" onclick="return false;" ng-click="selectPage(0)">
                            <span>> Recto</span>
                            <img src="images/pictos/pochette-petit.png" alt="recto" title="recto"/>
                        </a>
                        <a>
                            <span>Enregistrer</span>
                            <img src="images/pictos/enregistrer.png" width="32" height="32" alt="Enregistrer" title="Enregistrer"/>
                        </a>
                    </div>
                    <div class="select-folio">
                        <a href="#" onclick="return false;" ng-click="selectPage(1)">
                            <span>> Verso</span>
                            <img src="images/pictos/pochette-petit.png" alt="Verso" title="Verso"/>
                        </a>
                        <a>
                            <span>Enregistrer</span>
                            <img src="images/pictos/enregistrer-nb.png" width="32" height="32" alt="Enregistrer" title="Enregistrer"/>
                        </a>
                    </div>
                    <!--<a href="#" onclick="return false;" class="ng-marker-toggle ng-tooltip" title="Masque les reperes de l'edition">Masquer les reperes</a>-->
                </div>
                <div ng-if="folio.ownPage.length > 2 || folio.type === 'locale'" id="folio-edit-toolbox">
                    <h3>Page</h3>
                    <div ng-repeat="page in folio.ownPage" class="select-folio" style="width: 30%; float: left; height: auto; margin: 0 2px;">
                        <a href="#" onclick="return false;" ng-click="selectPage($index)">
                            <span>> {{$index + 1}}</span>
                            <img src="images/pictos/folio-petit.png" alt="Page" title="Page"/>
                        </a>
                        <a>
                            <span style="font-size: 8px">Enregistrer</span>
                            <img src="images/pictos/enregistrer.png" width="32" height="32" alt="Enregistrer" title="Enregistrer"/>
                        </a>
                    </div>
                    <!--<a href="#" onclick="return false;" class="ng-marker-toggle">Masquer les reperes</a>-->
                </div>
                <p style=margin-bottom:5px;">Vous avez terminé votre document.<br>
                    Exporter le sur votre ordinateur au format pdf</p>
                <a class="ng-tooltip" title="Exporter PDF" ng-href="api/booklet/{{booklet_id}}/folio/{{folio_id}}/export">
                    <img style="vertical-align: middle;" src="images/pictos/exporter.png" alt="Exporter" title="Exporter"/>
                    <span>Exporter</span>
                </a>
                <div class="link-folio-pf">
                    <div style="background-color: #f0b14e;">
                        <a href="#" onclick="return false;" ng-click="save()">
                            <span>Enregistrer et revenir à mon livret</span>
                            <img src="images/pictos/enregistrer.png" width="32" height="32" alt="Enregitrer" title="Enregistrer"/>
                        </a>
                    </div>
                    <div style="background-color: #000;">
                        <a ng-href="#/plateforme/booklets/{{booklet.id}}">
                            <span>Annuler</span>
                            <img src="images/pictos/annuler.png" width="32" height="32" alt="Annuler" title="Annuler"/>
                        </a>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</div>

<div ng-show="showPictureSelector" ng-include="'partials/backoffice/picture-select.html'"></div>

<div id="ng-editable-toolbox" class="ng-editable-toolbox" style="display: none;">
    <div class="ng-editable-toolbox-cadre">
        <div class="ng-editable-toolbox-color-button">
            <img src="images/toolbox-color-palette.png" title="palette de couleur" alt="palette de couleur">
        </div>
        <div class="ng-editable-toolbox-font-button">
            <img src="images/toolbox-font-majuscule.png" title="palette de texte" alt="palette de texte">
        </div>
        <div class="ng-editable-toolbox-chars">
            <label>Caractères restants</label>
            <b></b>
        </div>
    </div>
    <div class="ng-editable-toolbox-color-submenu">
        <div class="ng-editable-toolbox-color-carre">
            <img src="images/toolbox-color-carre-orange.png" title="orange" alt="orange">
            <input type="hidden" value="#e27d09">
        </div>
        <div class="ng-editable-toolbox-color-carre">
            <img src="images/toolbox-color-carre-violet.png" title="violet" alt="violet">
            <input type="hidden" value="#7a1b7f">
        </div>
        <div class="ng-editable-toolbox-color-carre">
            <img src="images/toolbox-color-carre-turquoise.png" title="turquoise" alt="turquoise">
            <input type="hidden" value="#00a194">
        </div>
        <div class="ng-editable-toolbox-color-carre">
            <img src="images/toolbox-color-carre-vert.png" title="vet" alt="vert">
            <input type="hidden" value="#94a620">
        </div>
        <div class="ng-editable-toolbox-color-carre">
            <img src="images/toolbox-color-carre-marron.png" title="marron" alt="marron">
            <input type="hidden" value="#824518">
        </div>
        <div class="ng-editable-toolbox-color-carre">
            <img src="images/toolbox-color-carre-gris.png" title="gris" alt="gris">
            <input type="hidden" value="#666666">
        </div>
        <div class="ng-editable-toolbox-color-carre">
            <img src="images/toolbox-color-carre-noir.png" title="noir" alt="noir">
            <input type="hidden" value="#19171c">
        </div>
    </div>
    <div class="ng-editable-toolbox-font-submenu">
        <div class="ng-editable-toolbox-font-style ng-editable-toolbox-font-normal">
            <img src="images/toolbox-font-normal.png" title="Normal" alt="Normal">
        </div>
        <div class="ng-editable-toolbox-font-style ng-editable-toolbox-font-gras">
            <img src="images/toolbox-font-gras.png" title="Gras" alt="Gras">
        </div>
        <div class="ng-editable-toolbox-font-style ng-editable-toolbox-font-italique">
            <img src="images/toolbox-font-italique.png" title="Italique" alt="Italique">
        </div>
        <div class="ng-editable-toolbox-font-style ng-editable-toolbox-font-gras-italique">
            <img src="images/toolbox-font-gras-italique.png" title="Gras italique" alt="Gras italique">
        </div>
        <div class="ng-editable-toolbox-font-style ng-editable-toolbox-font-souligne">
            <img src="images/toolbox-font-souligne.png" title="Soulign&ea&eacute;" alt="Soulign&ea&eacute;">
        </div>
        <div style="clear: both;"></div>
        <div class="ng-editable-toolbox-font-size ng-editable-toolbox-font-titre">
            <img src="images/toolbox-font-titre.png" title="Titre" alt="Titre">
        </div>
        <div style="clear: both;"></div>
        <div class="ng-editable-toolbox-font-size ng-editable-toolbox-font-soustitre">
            <img src="images/toolbox-font-soustitre.png" title="Sous titre" alt="Sous titre">
        </div>
        <div style="clear: both;"></div>
        <div class="ng-editable-toolbox-font-size ng-editable-toolbox-font-texte">
            <img src="images/toolbox-font-texte.png" title="Texte" alt="Texte">
        </div>
        <div style="clear: both;"></div>
    </div>
</div>       
