<div class="fond-pres-territoire">
    <h1 class="titre1fond-pres-territoire"><img style="vertical-align: middle; padding-right:5px;" src="images/titre-folio.png" width="32" height="32" alt="Supprimer" title="Supprimer"/>La présentation du territoire</h1>
    <h2 class="titre2fond-pres-territoire">Choisir la forme de votre document</h2>
    <div style="width:100%; display:inline-block;">
        <div class="left-pres-territoire">
            <p style="height: 130px; margin: 70px 0;">Recto</p>
            <p>Verso</p>
        </div>
        <div class="cadre-pres-territoire">
            <div class="template-pres-territoire">
                <a href="#" onclick="return false;" ng-click="makeChoice('territoire1')">
                    <img src="images/pres-territoire-template1.jpg" alt="Présentation du territoire modèle A" title="Présentation du territoire modèle A"/>
                    <h3><span>Choisir</span><div ng-if="template === 'territoire1'"> &radic;</div></h3>
                </a>
            </div>
            <div class="template-pres-territoire">
                <a href="#" onclick="return false;" ng-click="makeChoice('territoire2')">
                    <img src="images/pres-territoire-template2.jpg" alt="Présentation du territoire modèle B" title="Présentation du territoire modèle B"/>
                    <h3><span>Choisir</span><div ng-if="template === 'territoire2'"> &radic;</div></h3>
                </a>
            </div>
            <div style="border-right: none;" class="template-pres-territoire">
                <a href="#" onclick="return false;" ng-click="makeChoice('territoire3')">
                    <img src="images/pres-territoire-template3.jpg" alt="Présentation du territoire modèle C" title="Présentation du territoire modèle C"/>
                    <h3><span>Choisir</span><div ng-if="template === 'territoire3'"> &radic;</div></h3>
                </a>
            </div>
        </div>
        <div class="right-pres-territoire">
            <div class="help-pres-territoire">
                <img src="images/pictos/help.png" width="16" height="16" alt="help" title="Aide"/>
            </div>
            <div class="link-pres-territoire">
<!--                <div style="background-color: #00a295;">
                    <a href="#" onclick="return false;" ng-click="confirmChoiceNext()">
                        <span>Etape Suivante</span>
                        <img src="images/pictos/suivant.png" width="32" height="32" alt="Suivant" title="Etape suivante"/>
                    </a>
                </div>
                <div style="background-color: #f0b14e;">
                    <a href="#" onclick="return false;" ng-click="confirmChoiceReturn()">
                        <span>Enregistrer et revenir à mon livret</span>
                        <img src="images/pictos/enregistrer.png" width="32" height="32" alt="Enregitrer" title="Enregistrer"/>
                    </a>
                </div>-->
                <div style="background-color: #000;">
                    <a href="#" onclick="return false;" ng-click="gotoBooklets()">
                        <span>Annuler</span>
                        <img src="images/pictos/annuler.png" width="32" height="32" alt="Annuler" title="Annuler"/>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>