<div style="background-color: #e7e7e9; border: 1px solid #DD6B5C; margin-left: 10px;">
    <h1 style="color: #DD6B5C; text-tranform:uppercase; font-weight:normal;">La présentation du territoire</h1>
    <h2 style="background-color:#DD6B5C; -webkit-border-radius: 0px 20px 0px 20px; padding: 15px; color: #fff; text-tranform:uppercase; width:300px; float: right; font-family: Arial;">Choisir Votre document</h2>
    <div class="cadre-pres-territoire">
        <div class="template-pres-territoire">
            <a href="#">
                <img src="images/pres-territoire-template1.jpg" alt="1" title="1"/>
                <h3>Choisir</h3>
            </a>
        </div>
        <div class="template-pres-territoire">
            <a href="#">
                <img src="images/pres-territoire-template2.jpg" alt="2" title="2"/>
                <h3>Choisir</h3>
            </a>
        </div>
        <div class="template-pres-territoire">
            <a href="#">
                <img src="images/pres-territoire-template3.jpg" alt="3" title="3"/>
                <h3>Choisir</h3>
            </a>
        </div>
    </div>
    <div style="float: right;">
        <a href="#">
            <p>Etape Suivante</p>
        </a>
        <a href="#">
            <p>Enregistrer et revenir à mon livret</p>
        </a>
        <a href="#">
            <p>annuler</p>
        </a>
    </div>
</div>