<div id="picture-selector" ng-controller="BackofficeCtrl.Library">
    <label for="picture-select-filter">Rechercher : </label><input type="text" id="picture-select-filter" ng-model="pictureFilter">
    <ul id="picture-select-list">
        <li ng-repeat="image in library | filter:pictureFilter" ng-click="$parent.selectImage(image.filename)">
            <img ng-src="images/uploaded/{{image.filename}}" style="width: 50px; height: 50px;">
            <br>
            Nom : {{image.name}}
            <br>
            Description : {{image.description}}
        </li>
    </ul>
    <br>
    <button ng-click="$parent.togglePictureSelect()">X</button>
</div>