<div class="size-folio-a4" style="background-color: #fff; text-align: left; padding: 1%; overflow: auto; font-family: 'Lato',Arial;">
    <div style="width: 100%; height: 10%" class="page-header">
        <div style="width: 69%; float: left; padding-top: 1%;" class="titre-folio">
            <h1 style="text-transform: uppercase; font-weight: 300; color: #93989e;">###TITRE_LOCALE_1###</h1>
            <h2 style="margin: 0; color: #93989e; font-weight: 500;" class="ng-editable ng-deletable" data-one-line="true">###TITRE_LOCALE_2###</h2>
            <h3 style="color:#58595b; text-transform: none; padding-top: 1%;" class="ng-editable ng-deletable" data-one-line="true">###TITRE_LOCALE_3###</h3>
        </div>
        <div style="width: 25%; float: left;" class="height100">
            <img src="###LOGO###" alt="logo" title="Logo" style="float: right;" class="ng-picture-select logo-titre-folio"/>
        </div>
    </div>
	<div class="page-body">
		<div class="ng-clone-cat ng-remove-cat" style="display: block; width: 100%; height: auto; border-bottom: 2px  solid #e57e0c; overflow: auto;">
			<div style="width: 22%; height: auto; float: left; text-align: center;">
				<img src="###PETITE###" alt="logo" title="Logo" class="ng-picture-select img-cat-locale" />
			</div>
			<div style="width: 77%; height: auto; float: left; padding-left: 1%;" class="block-locale">
				<h4 style="color: #e57e0c; text-transform: uppercase; padding: 0; font-weight: 700;"><span class="ng-editable" data-max-length="45">###TITRE_1###</span></h4>
				<div class="ng-clone-orga ng-remove-orga" style="overflow: hidden;">
					<h5 style="color: #58595b; margin-bottom: 1%; text-transform: uppercase; font-weight: 700;"><img src="images/pictos/puce-titre-folio-orange.png" style="margin-right: 1%; vertical-align: middle;" alt="puces-titre-folio" title="puces-titre-folio"/><span class="ng-editable" data-max-length="45">###TITRE_ORGANISME###</span></h5>
					<p class="ng-editable" data-max-length="200" style="margin-bottom: 0px; padding-left: 4%;">###TEXTE_DESCRIPTION###</p>
					<div style="width: 44%; float: left; padding-left: 4%;">
						<p class="ng-editable" data-max-length="200" style="margin-bottom: 0px; padding-left: 4%;">###TEXTE_GAUCHE###</p>
					</div> 
					<div style="width: 49%; float: left;">
						<p class="ng-editable" data-max-length="200" style="margin-bottom: 0px; padding-left: 4%;">###TEXTE_DROIT###</p>
					</div> 
				</div>   
				<div class="ng-clone-orga ng-remove-orga" style="overflow: hidden;">
					<h5 style="color: #58595b; margin-bottom: 1%; text-transform: uppercase; font-weight: 700;"><img src="images/pictos/puce-titre-folio-orange.png" style="margin-right: 1%; vertical-align: middle;" alt="puces-titre-folio" title="puces-titre-folio"/><span class="ng-editable" data-max-length="45">###TITRE_ORGANISME###</span></h5>
					<p class="ng-editable" data-max-length="200" style="margin-bottom: 0px; padding-left: 4%;">###TEXTE_DESCRIPTION###</p>
					<div style="width: 44%; float: left; padding-left: 4%;">
						<p class="ng-editable" data-max-length="200" style="margin-bottom: 0px; padding-left: 4%;">###TEXTE_GAUCHE###</p>
					</div> 
					<div style="width: 49%; float: left;">
						<p class="ng-editable" data-max-length="200" style="margin-bottom: 0px; padding-left: 4%;">###TEXTE_DROIT###</p>
					</div> 
				</div>                 
			</div>        
		</div>
		<div class="ng-clone-cat ng-remove-cat" style="display: block; width: 100%; height: auto; border-bottom: 2px  solid #e57e0c; overflow: auto; padding-top: 1%;">
			<div style="width: 22%; height: auto; float: left; text-align: center;">
				<img src="###PETITE###" alt="logo" title="Logo" class="ng-picture-select img-cat-locale" />
			</div>
			<div style="width: 77%; height: auto; float: left; padding-left: 1%;" class="block-locale">
				<h4 style="color: #e57e0c; text-transform: uppercase; padding: 0; font-weight: 700;"><span class="ng-editable" data-max-length="45">###TITRE_2###</span></h4>
				<div class="ng-clone-orga ng-remove-orga" style="overflow: hidden;">
					<h5 style="color: #58595b; margin-bottom: 1%; text-transform: uppercase; font-weight: 700;"><img src="images/pictos/puce-titre-folio-orange.png" style="margin-right: 1%; vertical-align: middle;" alt="puces-titre-folio" title="puces-titre-folio"/><span class="ng-editable" data-max-length="45">###TITRE_ORGANISME###</span></h5>
					<p class="ng-editable" data-max-length="200" style="margin-bottom: 0px; padding-left: 4%;">###TEXTE_DESCRIPTION###</p>
					<div style="width: 44%; float: left; padding-left: 4%;">
						<p class="ng-editable" data-max-length="200" style="margin-bottom: 0px; padding-left: 4%;">###TEXTE_GAUCHE###</p>
					</div> 
					<div style="width: 49%; float: left;">
						<p class="ng-editable" data-max-length="200" style="margin-bottom: 0px; padding-left: 4%;">###TEXTE_DROIT###</p>
					</div> 
				</div>                     
			</div>        
		</div>
	   <div class="ng-clone-cat ng-remove-cat" style="display: block; width: 100%; height: auto; border-bottom: 2px  solid #e57e0c; overflow: auto; padding-top: 1%;">
			<div style="width: 22%; height: auto; float: left; text-align: center;">
				<img src="###PETITE###" alt="logo" title="Logo" class="ng-picture-select img-cat-locale" />
			</div>
			<div style="width: 77%; height: auto; float: left; padding-left: 1%;" class="block-locale">
				<h4 style="color: #e57e0c; text-transform: uppercase; padding: 0; font-weight: 700;"><span class="ng-editable" data-max-length="45">###TITRE_3###</span></h4>
				<div class="ng-clone-orga ng-remove-orga" style="overflow: hidden;">
					<h5 style="color: #58595b; margin-bottom: 1%; text-transform: uppercase; font-weight: 700;"><img src="images/pictos/puce-titre-folio-orange.png" style="margin-right: 1%; vertical-align: middle;" alt="puces-titre-folio" title="puces-titre-folio"/><span class="ng-editable" data-max-length="45">###TITRE_ORGANISME###</span></h5>
					<p class="ng-editable" data-max-length="200" style="margin-bottom: 0px; padding-left: 4%;">###TEXTE_DESCRIPTION###</p>
					<div style="width: 44%; float: left; padding-left: 4%;">
						<p class="ng-editable" data-max-length="200" style="margin-bottom: 0px; padding-left: 4%;">###TEXTE_GAUCHE###</p>
					</div> 
					<div style="width: 49%; float: left;">
						<p class="ng-editable" data-max-length="200" style="margin-bottom: 0px; padding-left: 4%;">###TEXTE_DROIT###</p>
					</div> 
				</div>                     
			</div>        
		</div>
		<div class="ng-clone-cat ng-remove-cat" style="display: block; width: 100%; height: auto; border-bottom: 2px  solid #e57e0c; overflow: auto; padding-top: 1%;">
			<div style="width: 22%; height: auto; float: left; text-align: center;">
				<img src="###PETITE###" alt="logo" title="Logo" class="ng-picture-select img-cat-locale" />
			</div>
			<div style="width: 77%; height: auto; float: left; padding-left: 1%;" class="block-locale">
				<h4 style="color: #e57e0c; text-transform: uppercase; padding: 0; font-weight: 700;"><span class="ng-editable" data-max-length="45" >###TITRE_4###</span></h4>
				<div class="ng-clone-orga ng-remove-orga" style="overflow: hidden;">
					<h5 style="color: #58595b; margin-bottom: 1%; text-transform: uppercase; font-weight: 700;"><img src="images/pictos/puce-titre-folio-orange.png" style="margin-right: 1%; vertical-align: middle;" alt="puces-titre-folio" title="puces-titre-folio"/><span class="ng-editable" data-max-length="45">###TITRE_ORGANISME###</span></h5>
					<p class="ng-editable" data-max-length="200" style="margin-bottom: 0px; padding-left: 4%;">###TEXTE_DESCRIPTION###</p>
					<div style="width: 44%; float: left; padding-left: 4%;">
						<p class="ng-editable" data-max-length="200" style="margin-bottom: 0px; padding-left: 4%;">###TEXTE_GAUCHE###</p>
					</div> 
					<div style="width: 49%; float: left;">
						<p class="ng-editable" data-max-length="200" style="margin-bottom: 0px; padding-left: 4%;">###TEXTE_DROIT###</p>
					</div> 
				</div>                     
			</div>        
		</div>
		<div class="ng-clone-cat ng-remove-cat" style="display: block; width: 100%; height: auto; border-bottom: 2px  solid #e57e0c; overflow: auto; padding-top: 1%;">
			<div style="width: 22%; height: auto; float: left; text-align: center;">
				<img src="###PETITE###" alt="logo" title="Logo" class="ng-picture-select img-cat-locale" />
			</div>
			<div style="width: 77%; height: auto; float: left; padding-left: 1%;" class="block-locale">
				<h4 style="color: #e57e0c; text-transform: uppercase; padding: 0; font-weight: 700;"><span class="ng-editable" data-max-length="45" >###TITRE_5###</span></h4>
				<div class="ng-clone-orga ng-remove-orga" style="overflow: hidden;">
					<h5 style="color: #58595b; margin-bottom: 1%; text-transform: uppercase; font-weight: 700;"><img src="images/pictos/puce-titre-folio-orange.png" style="margin-right: 1%; vertical-align: middle;" alt="puces-titre-folio" title="puces-titre-folio"/><span class="ng-editable" data-max-length="45">###TITRE_ORGANISME###</span></h5>
					<p class="ng-editable" data-max-length="200" style="margin-bottom: 0px; padding-left: 4%;">###TEXTE_DESCRIPTION###</p>
					<div style="width: 44%; float: left; padding-left: 4%;">
						<p class="ng-editable" data-max-length="200" style="margin-bottom: 0px; padding-left: 4%;">###TEXTE_GAUCHE###</p>
					</div> 
					<div style="width: 49%; float: left;">
						<p class="ng-editable" data-max-length="200" style="margin-bottom: 0px; padding-left: 4%;">###TEXTE_DROIT###</p>
					</div> 
				</div>                     
			</div>        
		</div>
		<div class="ng-clone-cat ng-remove-cat" style="display: block; width: 100%; height: auto; border-bottom: 2px  solid #e57e0c; overflow: auto; padding-top: 1%;">
			<div style="width: 22%; height: auto; float: left; text-align: center;">
				<img src="###PETITE###" alt="logo" title="Logo" class="ng-picture-select img-cat-locale" />
			</div>
			<div style="width: 77%; height: auto; float: left; padding-left: 1%;" class="block-locale">
				<h4 style="color: #e57e0c; text-transform: uppercase; padding: 0; font-weight: 700;"><span class="ng-editable" data-max-length="45">###TITRE_6###</span></h4>
				<div class="ng-clone-orga ng-remove-orga" style="overflow: hidden;">
					<h5 style="color: #58595b; margin-bottom: 1%; text-transform: uppercase; font-weight: 700;"><img src="images/pictos/puce-titre-folio-orange.png" style="margin-right: 1%; vertical-align: middle;" alt="puces-titre-folio" title="puces-titre-folio"/><span class="ng-editable" data-max-length="45">###TITRE_ORGANISME###</span></h5>
					<p class="ng-editable" data-max-length="200" style="margin-bottom: 0px; padding-left: 4%;">###TEXTE_DESCRIPTION###</p>
					<div style="width: 44%; float: left; padding-left: 4%;">
						<p class="ng-editable" data-max-length="200" style="margin-bottom: 0px; padding-left: 4%;">###TEXTE_GAUCHE###</p>
					</div> 
					<div style="width: 49%; float: left;">
						<p class="ng-editable" data-max-length="200" style="margin-bottom: 0px; padding-left: 4%;">###TEXTE_DROIT###</p>
					</div> 
				</div>                     
			</div>        
		</div>     
	</div>  
</div>
