<div style="background-color: #fff; text-align: left; padding: 1%; height: 98%; width: 98%; overflow: auto; font-family: 'Lato',Arial;">
    <div style="width: 100%; height: 10%">
        <div style="width: 69%; float: left; padding-top: 1%;">
            <h1 style="font-size: 200%; text-transform: uppercase; font-weight: 300; color: #93989e;">Offre locale</h1>
            <h2 style="margin: 0; color: #93989e; font-size: 200%; font-weight: 500;" class="ng-editable ng-deletable" data-one-line="true">du territoire de</h2>
            <h3 style="color:#58595b; font-size: 240%; text-transform: none; padding-top: 1%;" class="ng-editable ng-deletable" data-one-line="true">Maecenas accumsan</h3>
        </div>
        <div style="width: 31%; float: left;">
            <img src="images/logo.png" alt="logo" title="Logo" style="max-width: 80%; height:auto; float: right;" class="ng-picture-select"/>
        </div>
    </div>
    <div class="ng-clone-cat ng-remove-cat" style="display: block; width: 100%; height: auto; border-bottom: 2px  solid #e57e0c; overflow: auto;">
        <div style="width: 22%; height: auto; float: left; text-align: center;">
            <img src="images/img-defaut-petite.png" alt="logo" title="Logo" style="width: 100%; height: auto;" class="ng-picture-select" />
        </div>
        <div style="width: 77%; height: auto; float: left; padding-left: 1%;">
            <h4 class="ng-editable" data-max-length="45" style="color: #e57e0c; font-size: 120%; text-transform: uppercase; padding: 0; font-weight: 700;">Petite enfance</h4>        
            <div class="ng-clone-orga ng-remove-orga" style="overflow: hidden; font-size: 80%;">
                <h5 class="ng-editable" data-max-length="45" style="color: #58595b; margin-bottom: 1%; text-transform: uppercase; font-weight: 700;"><img src="images/pictos/puce-titre-folio-orange.png" style="margin-right: 1%; vertical-align: middle;" alt="puces-titre-folio" title="puces-titre-folio"/>Organisme</h5>
                <p class="ng-editable" data-max-length="200" style="margin-bottom: 0px; padding-left: 4%;">Nam fringilla vehicula condimentum. In scelerisque nunc neque, sit amet dictum dui interdum eget. Suspendisse sed malesuada velit.</p>
                <div style="width: 44%; float: left; padding-left: 4%;">
                    <ul style="list-style-type: none; line-height: 100%;"> 
                        <li>Téléphone : <span class="ng-editable" data-max-length="10">qd </span></li> 
                        <li>Adresse : <span class="ng-editable" data-max-length="28"> qsd</span></li> 
                        <li>Mail : <span class="ng-editable" data-max-length="35">qsd </span></li> 
                        <li>Site Web : <span class="ng-editable" data-max-length="35"> qsd</span></li> 
                    </ul>
                </div> 
                <div style="width: 49%; float: left;">
                    <ul style="list-style-type: none; line-height: 100%;"> 
                        <li>Horaires : <span class="ng-editable" data-max-length="32" data-one-line="true">dqs </span></li> 
                        <li><span class="ng-editable" data-max-length="38" data-one-line="true">dqs </span></li> 
                        <li>Contact : <span class="ng-editable" data-max-length="35"> qsd</span></li> 
                        <li class="ng-deletable">Distance : <span class="ng-editable" data-max-length="32"> qsd</span></li> 
                    </ul>
                </div> 
            </div>                     
        </div>        
    </div>
    <div class="ng-clone-cat ng-remove-cat" style="display: block; width: 100%; height: auto; border-bottom: 2px  solid #e57e0c; overflow: auto; padding-top: 1%;">
        <div style="width: 22%; height: auto; float: left; text-align: center;">
            <img src="images/img-defaut-petite.png" alt="logo" title="Logo" style="width: 100%; height: auto;" class="ng-picture-select" />
        </div>
        <div style="width: 77%; height: auto; float: left; padding-left: 1%;">
            <h4 class="ng-editable" data-max-length="45" style="color: #e57e0c; font-size: 120%; text-transform: uppercase; padding: 0; font-weight: 700;">Scolarité</h4>        
            <div class="ng-clone-orga ng-remove-orga" style="overflow: hidden; font-size: 80%;">
                <h5 class="ng-editable" data-max-length="45" style="color: #58595b; margin-bottom: 1%; text-transform: uppercase; font-weight: 700;"><img src="images/pictos/puce-titre-folio-orange.png" style="margin-right: 1%; vertical-align: middle;" alt="puces-titre-folio" title="puces-titre-folio"/>Organisme</h5>
                <p class="ng-editable" data-max-length="200" style="margin-bottom: 0px; padding-left: 4%;">Nam fringilla vehicula condimentum. In scelerisque nunc neque, sit amet dictum dui interdum eget. Suspendisse sed malesuada velit.</p>
                <div style="width: 44%; float: left; padding-left: 4%;">
                    <ul style="list-style-type: none; line-height: 100%;"> 
                        <li>Téléphone : <span class="ng-editable" data-max-length="10">qd </span></li> 
                        <li>Adresse : <span class="ng-editable" data-max-length="28"> qsd</span></li> 
                        <li>Mail : <span class="ng-editable" data-max-length="35">qsd </span></li> 
                        <li>Site Web : <span class="ng-editable" data-max-length="35"> qsd</span></li> 
                    </ul>
                </div> 
                <div style="width: 49%; float: left;">
                    <ul style="list-style-type: none; line-height: 100%;"> 
                        <li>Horaires : <span class="ng-editable" data-max-length="32" data-one-line="true">dqs </span></li> 
                        <li><span class="ng-editable" data-max-length="38" data-one-line="true">dqs </span></li> 
                        <li>Contact : <span class="ng-editable" data-max-length="35"> qsd</span></li> 
                        <li class="ng-deletable">Distance : <span class="ng-editable" data-max-length="32"> qsd</span></li> 
                    </ul>
                </div> 
            </div>                     
        </div>        
    </div>
   <div class="ng-clone-cat ng-remove-cat" style="display: block; width: 100%; height: auto; border-bottom: 2px  solid #e57e0c; overflow: auto; padding-top: 1%;">
        <div style="width: 22%; height: auto; float: left; text-align: center;">
            <img src="images/img-defaut-petite.png" alt="logo" title="Logo" style="width: 100%; height: auto;" class="ng-picture-select" />
        </div>
        <div style="width: 77%; height: auto; float: left; padding-left: 1%;">
            <h4 class="ng-editable" data-max-length="45" style="color: #e57e0c; font-size: 120%; text-transform: uppercase; padding: 0; font-weight: 700;">Périscolaire</h4>        
            <div class="ng-clone-orga ng-remove-orga" style="overflow: hidden; font-size: 80%;">
                <h5 class="ng-editable" data-max-length="45" style="color: #58595b; margin-bottom: 1%; text-transform: uppercase; font-weight: 700;"><img src="images/pictos/puce-titre-folio-orange.png" style="margin-right: 1%; vertical-align: middle;" alt="puces-titre-folio" title="puces-titre-folio"/>Organisme</h5>
                <p class="ng-editable" data-max-length="200" style="margin-bottom: 0px; padding-left: 4%;">Nam fringilla vehicula condimentum. In scelerisque nunc neque, sit amet dictum dui interdum eget. Suspendisse sed malesuada velit.</p>
                <div style="width: 44%; float: left; padding-left: 4%;">
                    <ul style="list-style-type: none; line-height: 100%;"> 
                        <li>Téléphone : <span class="ng-editable" data-max-length="10">qd </span></li> 
                        <li>Adresse : <span class="ng-editable" data-max-length="28"> qsd</span></li> 
                        <li>Mail : <span class="ng-editable" data-max-length="35">qsd </span></li> 
                        <li>Site Web : <span class="ng-editable" data-max-length="35"> qsd</span></li> 
                    </ul>
                </div> 
                <div style="width: 49%; float: left;">
                    <ul style="list-style-type: none; line-height: 100%;"> 
                        <li>Horaires : <span class="ng-editable" data-max-length="32" data-one-line="true">dqs </span></li> 
                        <li><span class="ng-editable" data-max-length="38" data-one-line="true">dqs </span></li> 
                        <li>Contact : <span class="ng-editable" data-max-length="35"> qsd</span></li> 
                        <li class="ng-deletable">Distance : <span class="ng-editable" data-max-length="32"> qsd</span></li> 
                    </ul>
                </div> 
            </div>                     
        </div>        
    </div>
    <div class="ng-clone-cat ng-remove-cat" style="display: block; width: 100%; height: auto; border-bottom: 2px  solid #e57e0c; overflow: auto; padding-top: 1%;">
        <div style="width: 22%; height: auto; float: left; text-align: center;">
            <img src="images/img-defaut-petite.png" alt="logo" title="Logo" style="width: 100%; height: auto;" class="ng-picture-select" />
        </div>
        <div style="width: 77%; height: auto; float: left; padding-left: 1%;">
            <h4 class="ng-editable" data-max-length="45" style="color: #e57e0c; font-size: 120%; text-transform: uppercase; padding: 0; font-weight: 700;">Culture</h4>        
            <div class="ng-clone-orga ng-remove-orga" style="overflow: hidden; font-size: 80%;">
                <h5 class="ng-editable" data-max-length="45" style="color: #58595b; margin-bottom: 1%; text-transform: uppercase; font-weight: 700;"><img src="images/pictos/puce-titre-folio-orange.png" style="margin-right: 1%; vertical-align: middle;" alt="puces-titre-folio" title="puces-titre-folio"/>Organisme</h5>
                <p class="ng-editable" data-max-length="200" style="margin-bottom: 0px; padding-left: 4%;">Nam fringilla vehicula condimentum. In scelerisque nunc neque, sit amet dictum dui interdum eget. Suspendisse sed malesuada velit.</p>
                <div style="width: 44%; float: left; padding-left: 4%;">
                    <ul style="list-style-type: none; line-height: 100%;"> 
                        <li>Téléphone : <span class="ng-editable" data-max-length="10">qd </span></li> 
                        <li>Adresse : <span class="ng-editable" data-max-length="28"> qsd</span></li> 
                        <li>Mail : <span class="ng-editable" data-max-length="35">qsd </span></li> 
                        <li>Site Web : <span class="ng-editable" data-max-length="35"> qsd</span></li> 
                    </ul>
                </div> 
                <div style="width: 49%; float: left;">
                    <ul style="list-style-type: none; line-height: 100%;"> 
                        <li>Horaires : <span class="ng-editable" data-max-length="32" data-one-line="true">dqs </span></li> 
                        <li><span class="ng-editable" data-max-length="38" data-one-line="true">dqs </span></li> 
                        <li>Contact : <span class="ng-editable" data-max-length="35"> qsd</span></li> 
                        <li class="ng-deletable">Distance : <span class="ng-editable" data-max-length="32"> qsd</span></li> 
                    </ul>
                </div> 
            </div>                     
        </div>        
    </div>
    <div class="ng-clone-cat ng-remove-cat" style="display: block; width: 100%; height: auto; border-bottom: 2px  solid #e57e0c; overflow: auto; padding-top: 1%;">
        <div style="width: 22%; height: auto; float: left; text-align: center;">
            <img src="images/img-defaut-petite.png" alt="logo" title="Logo" style="width: 100%; height: auto;" class="ng-picture-select" />
        </div>
        <div style="width: 77%; height: auto; float: left; padding-left: 1%;">
            <h4 class="ng-editable" data-max-length="45" style="color: #e57e0c; font-size: 120%; text-transform: uppercase; padding: 0; font-weight: 700;">Sport</h4>        
            <div class="ng-clone-orga ng-remove-orga" style="overflow: hidden; font-size: 80%;">
                <h5 class="ng-editable" data-max-length="45" style="color: #58595b; margin-bottom: 1%; text-transform: uppercase; font-weight: 700;"><img src="images/pictos/puce-titre-folio-orange.png" style="margin-right: 1%; vertical-align: middle;" alt="puces-titre-folio" title="puces-titre-folio"/>Organisme</h5>
                <p class="ng-editable" data-max-length="200" style="margin-bottom: 0px; padding-left: 4%;">Nam fringilla vehicula condimentum. In scelerisque nunc neque, sit amet dictum dui interdum eget. Suspendisse sed malesuada velit.</p>
                <div style="width: 44%; float: left; padding-left: 4%;">
                    <ul style="list-style-type: none; line-height: 100%;"> 
                        <li>Téléphone : <span class="ng-editable" data-max-length="10">qd </span></li> 
                        <li>Adresse : <span class="ng-editable" data-max-length="28"> qsd</span></li> 
                        <li>Mail : <span class="ng-editable" data-max-length="35">qsd </span></li> 
                        <li>Site Web : <span class="ng-editable" data-max-length="35"> qsd</span></li> 
                    </ul>
                </div> 
                <div style="width: 49%; float: left;">
                    <ul style="list-style-type: none; line-height: 100%;"> 
                        <li>Horaires : <span class="ng-editable" data-max-length="32" data-one-line="true">dqs </span></li> 
                        <li><span class="ng-editable" data-max-length="38" data-one-line="true">dqs </span></li> 
                        <li>Contact : <span class="ng-editable" data-max-length="35"> qsd</span></li> 
                        <li class="ng-deletable">Distance : <span class="ng-editable" data-max-length="32"> qsd</span></li> 
                    </ul>
                </div> 
            </div>                     
        </div>        
    </div>
    <div class="ng-clone-cat ng-remove-cat" style="display: block; width: 100%; height: auto; border-bottom: 2px  solid #e57e0c; overflow: auto; padding-top: 1%;">
        <div style="width: 22%; height: auto; float: left; text-align: center;">
            <img src="images/img-defaut-petite.png" alt="logo" title="Logo" style="width: 100%; height: auto;" class="ng-picture-select" />
        </div>
        <div style="width: 77%; height: auto; float: left; padding-left: 1%;">
            <h4 class="ng-editable" data-max-length="45" style="color: #e57e0c; font-size: 120%; text-transform: uppercase; padding: 0; font-weight: 700;">Santé</h4>        
            <div class="ng-clone-orga ng-remove-orga" style="overflow: hidden; font-size: 80%;">
                <h5 class="ng-editable" data-max-length="45" style="color: #58595b; margin-bottom: 1%; text-transform: uppercase; font-weight: 700;"><img src="images/pictos/puce-titre-folio-orange.png" style="margin-right: 1%; vertical-align: middle;" alt="puces-titre-folio" title="puces-titre-folio"/>Organisme</h5>
                <p class="ng-editable" data-max-length="200" style="margin-bottom: 0px; padding-left: 4%;">Nam fringilla vehicula condimentum. In scelerisque nunc neque, sit amet dictum dui interdum eget. Suspendisse sed malesuada velit.</p>
                <div style="width: 44%; float: left; padding-left: 4%;">
                    <ul style="list-style-type: none; line-height: 100%;"> 
                        <li>Téléphone : <span class="ng-editable" data-max-length="10">qd </span></li> 
                        <li>Adresse : <span class="ng-editable" data-max-length="28"> qsd</span></li> 
                        <li>Mail : <span class="ng-editable" data-max-length="35">qsd </span></li> 
                        <li>Site Web : <span class="ng-editable" data-max-length="35"> qsd</span></li> 
                    </ul>
                </div> 
                <div style="width: 49%; float: left;">
                    <ul style="list-style-type: none; line-height: 100%;"> 
                        <li>Horaires : <span class="ng-editable" data-max-length="32" data-one-line="true">dqs </span></li> 
                        <li><span class="ng-editable" data-max-length="38" data-one-line="true">dqs </span></li> 
                        <li>Contact : <span class="ng-editable" data-max-length="35"> qsd</span></li> 
                        <li class="ng-deletable">Distance : <span class="ng-editable" data-max-length="32"> qsd</span></li> 
                    </ul>
                </div> 
            </div>                     
        </div>        
    </div>
    <div class="page-footer" style="display: block; width: 100%; height: 6%; padding-top: 1%; overflow: visible;">
        <div>
            <div style="width: 65%; float: left; display: block;">
                <img src="images/region-haute-normandie.png" alt="logo" title="Logo" style="width: 10%"/>
                <img src="images/prefet-haute-normandie.jpg" alt="logo" title="Logo" style="width: 13%"/>
                <img src="images/europe-feader.png" alt="logo" title="Logo" style="width: 25%"/>
            </div>
            <div style="width: 35%; float: left;">
                <img src="images/logo-reseau-rural.png" alt="logo" title="Logo" style="width: 100%"/>
            </div>            
        </div>
    </div>    
</div>
