<div style="background-color: #fff; text-align: left; padding: 5px; min-height: 1030px;">
    <div style="width: 100%; height: 110px">
        <div style="width: 68%; float: left;">
            <h1 class="ng-locked" style="font-size: 20px; text-transform: uppercase;">Offre locale</h1>
            <h2 class="ng-locked" style="font-family: Arial; margin: 0;">du territoire de</h2>
            <h3 class="ng-editable" style="color:#000;">Maecenas accumsan</h3>
        </div>
        <div class="ng-editable" style="width: 31%; float: left;">
            <img src="images/logo.png" alt="logo" title="Logo"/>
        </div>
    </div>
    <div style="display: block; width: 100%; height: 210px; border-bottom: 1px solid #e57e0c; padding-bottom: 10px;">
        <h4 class="ng-editable" style="color: #e57e0c; font-size: 18px; text-transform: uppercase; padding-top: 5px;">Services administratifs</h4>
        <h5 class="ng-editable" style="color: #58595b; margin-bottom: 2px;"><img style="margin-right: 5px;" src="images/pictos/puce-titre-folio-orange.png" alt="puces-titre-folio" title="puces-titre-folio"/>Organisme</h5>
        <div style="width: 100%;">
            <div style="width: 22%; float: left; text-align: center;">
                <img src="images/img-defaut-petite.png" alt="logo" title="Logo"/>
            </div> 
            <div style="width: 78%; float: left;">
                <p class="ng-editable">Nam fringilla vehicula condimentum. In scelerisque nunc neque, sit amet dictum dui interdum eget. Suspendisse sed malesuada velit. Donec massa 
                    velit, tincidunt nec congue vitae, rutrum eget orci. Vestibulum nullam.</p>
                <div style="width: 44%; float: left; padding-left: 20px;">
                    <ul> 
                        <li style="margin-bottom: 5px;">Téléphone : <span class="ng-editable">qd </span></li> 
                        <li style="margin-bottom: 5px;">Adresse : <span class="ng-editable"> qsd</span></li> 
                        <li style="margin-bottom: 5px;">Mail : <span class="ng-editable">qsd </span></li>   
                        <li>Site Web : <span class="ng-editable"> qsd</span></li> 
                    </ul>
                </div> 
                <div style="width: 49%; float: left;">
                    <ul> 
                        <li style="margin-bottom: 5px;">Horaires : <span class="ng-editable">dqs </span></li> 
                        <li style="margin-bottom: 5px;">Contact : <span class="ng-editable"> qsd</span></li>  
                        <li class="ng-deletable">Distance : <span class="ng-editable"> qsd</span></li> 
                    </ul>
                </div> 
            </div>                     
        </div>
    </div>
    <div style="display: block; width: 100%; height: 210px; border-bottom: 1px solid #e57e0c; padding-bottom: 10px;">
        <h4 class="ng-editable" style="color: #e57e0c; font-size: 18px; text-transform: uppercase; padding-top: 5px;">Sécurité</h4>
        <h5 class="ng-editable" style="color: #58595b; margin-bottom: 2px;"><img style="margin-right: 5px;" src="images/pictos/puce-titre-folio-orange.png" alt="puces-titre-folio" title="puces-titre-folio"/>Organisme</h5>
        <div style="width: 100%;">
            <div style="width: 22%; float: left; text-align: center;">
                <img src="images/img-defaut-petite.png" alt="logo" title="Logo"/>
            </div> 
            <div style="width: 78%; float: left;">
                <p class="ng-editable">Nam fringilla vehicula condimentum. In scelerisque nunc neque, sit amet dictum dui interdum eget. Suspendisse sed malesuada velit. Donec massa 
                    velit, tincidunt nec congue vitae, rutrum eget orci. Vestibulum nullam.</p>
                <div style="width: 44%; float: left; padding-left: 20px;">
                    <ul> 
                        <li style="margin-bottom: 5px;">Téléphone : <span class="ng-editable">qd </span></li> 
                        <li style="margin-bottom: 5px;">Adresse : <span class="ng-editable"> qsd</span></li> 
                        <li style="margin-bottom: 5px;">Mail : <span class="ng-editable">qsd </span></li>   
                        <li>Site Web : <span class="ng-editable"> qsd</span></li> 
                    </ul>
                </div> 
                <div style="width: 49%; float: left;">
                    <ul> 
                        <li style="margin-bottom: 5px;">Horaires : <span class="ng-editable">dqs </span></li> 
                        <li style="margin-bottom: 5px;">Contact : <span class="ng-editable"> qsd</span></li>  
                        <li class="ng-deletable">Distance : <span class="ng-editable"> qsd</span></li> 
                    </ul>
                </div>  
            </div>                     
        </div>
    </div>
    <div style="display: block; width: 100%; height: 210px; border-bottom: 1px solid #e57e0c; padding-bottom: 10px;">
        <h4 class="ng-editable" style="color: #e57e0c; font-size: 18px; text-transform: uppercase; padding-top: 5px;">Transport</h4>
        <h5 class="ng-editable" style="color: #58595b; margin-bottom: 2px;"><img style="margin-right: 5px;" src="images/pictos/puce-titre-folio-orange.png" alt="puces-titre-folio" title="puces-titre-folio"/>Organisme</h5>
        <div style="width: 100%;">
            <div style="width: 22%; float: left; text-align: center;">
                <img src="images/img-defaut-petite.png" alt="logo" title="Logo"/>
            </div> 
            <div style="width: 78%; float: left;">
                <p class="ng-editable">Nam fringilla vehicula condimentum. In scelerisque nunc neque, sit amet dictum dui interdum eget. Suspendisse sed malesuada velit. Donec massa 
                    velit, tincidunt nec congue vitae, rutrum eget orci. Vestibulum nullam.</p>
                <div style="width: 44%; float: left; padding-left: 20px;">
                    <ul> 
                        <li style="margin-bottom: 5px;">Téléphone : <span class="ng-editable">qd </span></li> 
                        <li style="margin-bottom: 5px;">Adresse : <span class="ng-editable"> qsd</span></li> 
                        <li style="margin-bottom: 5px;">Mail : <span class="ng-editable">qsd </span></li>   
                        <li>Site Web : <span class="ng-editable"> qsd</span></li> 
                    </ul>
                </div> 
                <div style="width: 49%; float: left;">
                    <ul> 
                        <li style="margin-bottom: 5px;">Horaires : <span class="ng-editable">dqs </span></li> 
                        <li style="margin-bottom: 5px;">Contact : <span class="ng-editable"> qsd</span></li>  
                        <li class="ng-deletable">Distance : <span class="ng-editable"> qsd</span></li> 
                    </ul>
                </div> 
            </div>                     
        </div>
    </div>
    <div style="display: block; width: 100%; height: 210px; border-bottom: 1px solid #e57e0c; padding-bottom: 10px;">
        <h4 class="ng-editable" style="color: #e57e0c; font-size: 18px; text-transform: uppercase; padding-top: 5px;">Accompagnement social</h4>
        <h5 class="ng-editable" style="color: #58595b; margin-bottom: 2px;"><img style="margin-right: 5px;" src="images/pictos/puce-titre-folio-orange.png" alt="puces-titre-folio" title="puces-titre-folio"/>Organisme</h5>
        <div style="width: 100%;">
            <div style="width: 22%; float: left; text-align: center;">
                <img src="images/img-defaut-petite.png" alt="logo" title="Logo"/>
            </div> 
            <div style="width: 78%; float: left;">
                <p class="ng-editable">Nam fringilla vehicula condimentum. In scelerisque nunc neque, sit amet dictum dui interdum eget. Suspendisse sed malesuada velit. Donec massa 
                    velit, tincidunt nec congue vitae, rutrum eget orci. Vestibulum nullam.</p>
                <div style="width: 44%; float: left; padding-left: 20px;">
                    <ul> 
                        <li style="margin-bottom: 5px;">Téléphone : <span class="ng-editable">qd </span></li> 
                        <li style="margin-bottom: 5px;">Adresse : <span class="ng-editable"> qsd</span></li> 
                        <li style="margin-bottom: 5px;">Mail : <span class="ng-editable">qsd </span></li>   
                        <li>Site Web : <span class="ng-editable"> qsd</span></li> 
                    </ul>
                </div> 
                <div style="width: 49%; float: left;">
                    <ul> 
                        <li style="margin-bottom: 5px;">Horaires : <span class="ng-editable">dqs </span></li> 
                        <li style="margin-bottom: 5px;">Contact : <span class="ng-editable"> qsd</span></li>  
                        <li class="ng-deletable">Distance : <span class="ng-editable"> qsd</span></li> 
                    </ul>
                </div> 
            </div>                     
        </div>
    </div>
    <div style="display: block; width: 100%; height: 210px; border-bottom: 1px solid #e57e0c; padding-bottom: 10px;">
        <h4 class="ng-editable" style="color: #e57e0c; font-size: 18px; text-transform: uppercase; padding-top: 5px;">Services Marchands - Commerce</h4>
        <h5 class="ng-editable" style="color: #58595b; margin-bottom: 2px;"><img style="margin-right: 5px;" src="images/pictos/puce-titre-folio-orange.png" alt="puces-titre-folio" title="puces-titre-folio"/>Organisme</h5>
        <div style="width: 100%;">
            <div style="width: 22%; float: left; text-align: center;">
                <img src="images/img-defaut-petite.png" alt="logo" title="Logo"/>
            </div> 
            <div style="width: 78%; float: left;">
                <p class="ng-editable">Nam fringilla vehicula condimentum. In scelerisque nunc neque, sit amet dictum dui interdum eget. Suspendisse sed malesuada velit. Donec massa 
                    velit, tincidunt nec congue vitae, rutrum eget orci. Vestibulum nullam.</p>
                <div style="width: 44%; float: left; padding-left: 20px;">
                    <ul> 
                        <li style="margin-bottom: 5px;">Téléphone : <span class="ng-editable">qd </span></li> 
                        <li style="margin-bottom: 5px;">Adresse : <span class="ng-editable"> qsd</span></li> 
                        <li style="margin-bottom: 5px;">Mail : <span class="ng-editable">qsd </span></li>   
                        <li>Site Web : <span class="ng-editable"> qsd</span></li> 
                    </ul>
                </div> 
                <div style="width: 49%; float: left;">
                    <ul> 
                        <li style="margin-bottom: 5px;">Horaires : <span class="ng-editable">dqs </span></li> 
                        <li style="margin-bottom: 5px;">Contact : <span class="ng-editable"> qsd</span></li>  
                        <li class="ng-deletable">Distance : <span class="ng-editable"> qsd</span></li> 
                    </ul>
                </div> 
            </div>                     
        </div>
    </div>
    <div style="display: block; width: 100%; height: 210px; border-bottom: 1px solid #e57e0c; padding-bottom: 10px;">
        <h4 class="ng-editable" style="color: #e57e0c; font-size: 18px; text-transform: uppercase; padding-top: 5px;">Services Marchands - Artisans</h4>
        <h5 class="ng-editable" style="color: #58595b; margin-bottom: 2px;"><img style="margin-right: 5px;" src="images/pictos/puce-titre-folio-orange.png" alt="puces-titre-folio" title="puces-titre-folio"/>Organisme</h5>
        <div style="width: 100%;">
            <div style="width: 22%; float: left; text-align: center;">
                <img src="images/img-defaut-petite.png" alt="logo" title="Logo"/>
            </div> 
            <div style="width: 78%; float: left;">
                <p class="ng-editable">Nam fringilla vehicula condimentum. In scelerisque nunc neque, sit amet dictum dui interdum eget. Suspendisse sed malesuada velit. Donec massa 
                    velit, tincidunt nec congue vitae, rutrum eget orci. Vestibulum nullam.</p>
                <div style="width: 44%; float: left; padding-left: 20px;">
                    <ul> 
                        <li style="margin-bottom: 5px;">Téléphone : <span class="ng-editable">qd </span></li> 
                        <li style="margin-bottom: 5px;">Adresse : <span class="ng-editable"> qsd</span></li> 
                        <li style="margin-bottom: 5px;">Mail : <span class="ng-editable">qsd </span></li>   
                        <li>Site Web : <span class="ng-editable"> qsd</span></li> 
                    </ul>
                </div> 
                <div style="width: 49%; float: left;">
                    <ul> 
                        <li style="margin-bottom: 5px;">Horaires : <span class="ng-editable">dqs </span></li> 
                        <li style="margin-bottom: 5px;">Contact : <span class="ng-editable"> qsd</span></li>  
                        <li class="ng-deletable">Distance : <span class="ng-editable"> qsd</span></li> 
                    </ul>
                </div> 
            </div>                     
        </div>
    </div>
    <div style="display: block; width: 100%; height: 100px; padding-top: 5px;">
        <div>
            <div style="width: 65%; float: left; display: block;">
                <img src="images/region-haute-normandie.png" alt="logo" title="Logo"/>
                <img src="images/prefet-haute-normandie.jpg" alt="logo" title="Logo"/>
                <img src="images/europe-feader.png" alt="logo" title="Logo"/>
            </div>
            <div style="width: 35%; float: left;">
                <img src="images/logo-reseau-rural.png" alt="logo" title="Logo"/>
            </div>            
        </div>
    </div>    
</div>
