<div style="background-color: #fff; text-align: left; padding: 1%; height: 100%; width: 100%; overflow: auto; font-family: 'Lato',Arial;">
    <div class="page-header" style="width: 100%; height: 12%;">
        <div style="width: 68%; float: left;">
            <h1 class="ng-locked" style="font-size: 130%; text-transform: uppercase;font-weight: 300;">Offre locale</h1>
            <h2 class="ng-locked" style="margin: 0;">du territoire de</h2>
            <h3 class="ng-editable" style="color:#000;">Maecenas accumsan</h3>
        </div>
        <div class="ng-editable" style="width: 31%; float: left;">
            <img src="images/logo.png" alt="logo" title="Logo" style="width: 100%"/>
        </div>
    </div>
    <div class="ng-clone-cat ng-remove-cat" style="display: block; width: 100%; height: 14%; border-bottom: 2px  solid #e57e0c; padding-bottom: 2%; margin-bottom: 2%; overflow: auto;">
            <div style="width: 100%;">
                <div style="width: 22%; float: left; text-align: center;">
                    <img src="images/img-defaut-petite.png" alt="logo" title="Logo" style="width: 100%"/>
                </div> 
                <div style="width: 77%; float: left; padding-left: 1%;">
                    <h4 class="ng-editable" style="color: #e57e0c; font-size: 120%; text-transform: uppercase; padding-top: 1%; line-height: 45%; font-weight: 700;">Services marchands - exploitation vente directe</h4>        
                    <div class="ng-clone-orga ng-remove-orga" style="overflow: hidden; font-size: 80%;">
                    <h5 class="ng-editable" style="color: #58595b; margin-bottom: 1%; text-transform: uppercase; font-weight: 700;"><img src="images/pictos/puce-titre-folio-orange.png" style="margin-right: 1%; vertical-align: middle;" alt="puces-titre-folio" title="puces-titre-folio"/>Organisme<span class="ng-clone-orga ng-remove-orga"></span></h5>
                    <p class="ng-editable" style="margin-bottom: 2px; padding-left: 4%;">Nam fringilla vehicula condimentum. In scelerisque nunc neque, sit amet dictum dui interdum eget. Suspendisse sed malesuada velit.</p>
                    <div style="width: 44%; float: left; padding-left: 4%;">
                        <ul style="list-style-type: none; line-height: 100%;"> 
                            <li style="margin-bottom: 1%;">Téléphone : <span class="ng-editable">qd </span></li> 
                            <li style="margin-bottom: 1%;">Adresse : <span class="ng-editable"> qsd</span></li> 
                            <li style="margin-bottom: 1%;">Mail : <span class="ng-editable">qsd </span></li> 
                            <li>Site Web : <span class="ng-editable"> qsd</span></li> 
                        </ul>
                    </div> 
                    <div style="width: 49%; float: left;">
                        <ul style="list-style-type: none; line-height: 100%;"> 
                            <li style="margin-bottom: 1%;">Horaires : <span class="ng-editable">dqs </span></li> 
                            <li style="margin-bottom: 1%;">Contact : <span class="ng-editable"> qsd</span></li> 
                            <li class="ng-deletable">Distance : <span class="ng-editable"> qsd</span></li> 
                        </ul>
                    </div> 
                </div>                     
            </div>
        </div>
    </div>
    <div class="ng-clone-cat ng-remove-cat" style="display: block; width: 100%; height: 14%; border-bottom: 2px  solid #e57e0c; padding-bottom: 2%; margin-bottom: 2%; overflow: auto;">
            <div style="width: 100%;">
                <div style="width: 22%; float: left; text-align: center;">
                    <img src="images/img-defaut-petite.png" alt="logo" title="Logo" style="width: 100%"/>
                </div> 
                <div style="width: 77%; float: left; padding-left: 1%;">
                    <h4 class="ng-editable" style="color: #e57e0c; font-size: 120%; text-transform: uppercase; padding-top: 1%; line-height: 45%; font-weight: 700;">Traitements des déchets</h4>        
                    <div class="ng-clone-orga ng-remove-orga" style="overflow: hidden; font-size: 80%;">
                    <h5 class="ng-editable" style="color: #58595b; margin-bottom: 1%; text-transform: uppercase; font-weight: 700;"><img src="images/pictos/puce-titre-folio-orange.png" style="margin-right: 1%; vertical-align: middle;" alt="puces-titre-folio" title="puces-titre-folio"/>Organisme<span class="ng-clone-orga ng-remove-orga"></span></h5>
                    <p class="ng-editable" style="margin-bottom: 2px; padding-left: 4%;">Nam fringilla vehicula condimentum. In scelerisque nunc neque, sit amet dictum dui interdum eget. Suspendisse sed malesuada velit.</p>
                    <div style="width: 44%; float: left; padding-left: 4%;">
                        <ul style="list-style-type: none; line-height: 100%;"> 
                            <li style="margin-bottom: 1%;">Téléphone : <span class="ng-editable">qd </span></li> 
                            <li style="margin-bottom: 1%;">Adresse : <span class="ng-editable"> qsd</span></li> 
                            <li style="margin-bottom: 1%;">Mail : <span class="ng-editable">qsd </span></li> 
                            <li>Site Web : <span class="ng-editable"> qsd</span></li> 
                        </ul>
                    </div> 
                    <div style="width: 49%; float: left;">
                        <ul style="list-style-type: none; line-height: 100%;"> 
                            <li style="margin-bottom: 1%;">Horaires : <span class="ng-editable">dqs </span></li> 
                            <li style="margin-bottom: 1%;">Contact : <span class="ng-editable"> qsd</span></li> 
                            <li class="ng-deletable">Distance : <span class="ng-editable"> qsd</span></li> 
                        </ul>
                    </div> 
                </div>                     
            </div>
        </div>
    </div>
    <div class="ng-clone-cat ng-remove-cat" style="display: block; width: 100%; height: 14%; border-bottom: 2px  solid #e57e0c; padding-bottom: 2%; margin-bottom: 2%; overflow: auto;">
            <div style="width: 100%;">
                <div style="width: 22%; float: left; text-align: center;">
                    <img src="images/img-defaut-petite.png" alt="logo" title="Logo" style="width: 100%"/>
                </div> 
                <div style="width: 77%; float: left; padding-left: 1%;">
                    <h4 class="ng-editable" style="color: #e57e0c; font-size: 120%; text-transform: uppercase; padding-top: 1%; line-height: 45%; font-weight: 700;">Autre</h4>        
                    <div class="ng-clone-orga ng-remove-orga" style="overflow: hidden; font-size: 80%;">
                    <h5 class="ng-editable" style="color: #58595b; margin-bottom: 1%; text-transform: uppercase; font-weight: 700;"><img src="images/pictos/puce-titre-folio-orange.png" style="margin-right: 1%; vertical-align: middle;" alt="puces-titre-folio" title="puces-titre-folio"/>Organisme<span class="ng-clone-orga ng-remove-orga"></span></h5>
                    <p class="ng-editable" style="margin-bottom: 2px; padding-left: 4%;">Nam fringilla vehicula condimentum. In scelerisque nunc neque, sit amet dictum dui interdum eget. Suspendisse sed malesuada velit.</p>
                    <div style="width: 44%; float: left; padding-left: 4%;">
                        <ul style="list-style-type: none; line-height: 100%;"> 
                            <li style="margin-bottom: 1%;">Téléphone : <span class="ng-editable">qd </span></li> 
                            <li style="margin-bottom: 1%;">Adresse : <span class="ng-editable"> qsd</span></li> 
                            <li style="margin-bottom: 1%;">Mail : <span class="ng-editable">qsd </span></li> 
                            <li>Site Web : <span class="ng-editable"> qsd</span></li> 
                        </ul>
                    </div> 
                    <div style="width: 49%; float: left;">
                        <ul style="list-style-type: none; line-height: 100%;"> 
                            <li style="margin-bottom: 1%;">Horaires : <span class="ng-editable">dqs </span></li> 
                            <li style="margin-bottom: 1%;">Contact : <span class="ng-editable"> qsd</span></li> 
                            <li class="ng-deletable">Distance : <span class="ng-editable"> qsd</span></li> 
                        </ul>
                    </div> 
                </div>                     
            </div>
        </div>
    </div>    
    <div class="page-footer" style="display: block; width: 100%; height: 6%; padding-top: 1%; overflow: visible;">
        <div>
            <div style="width: 65%; float: left; display: block;">
                <img src="images/region-haute-normandie.png" alt="logo" title="Logo" style="width: 10%"/>
                <img src="images/prefet-haute-normandie.jpg" alt="logo" title="Logo" style="width: 13%"/>
                <img src="images/europe-feader.png" alt="logo" title="Logo" style="width: 25%"/>
            </div>
            <div style="width: 35%; float: left;">
                <img src="images/logo-reseau-rural.png" alt="logo" title="Logo" style="width: 100%"/>
            </div>            
        </div>
    </div>    
</div>