<div style="background-color: #fff; text-align: left; padding: 5px; min-height: 1030px;">
    <div style="width: 100%; height: 110px">
        <div style="width: 68%; float: left;">
            <h1 class="ng-locked" style="font-size: 20px; text-transform: uppercase;">Présentation du terrtoire</h1>
            <h2 class="ng-locked" style="font-family: Arial; margin: 0;">de la communauté de commune de</h2>
            <h3 class="ng-editable" style="color:#000;">Maecenas accumsan</h3>
        </div>
        <div class="ng-editable" style="width: 31%; float: left;">
            <img src="images/logo.png" alt="logo" title="Logo"/>
        </div>
    </div>
    <div style="display: block; width: 100%; height: 210px; border-bottom: 1px solid #e57e0c; padding-bottom: 5px;">
        <h4 style="color: #e57e0c; font-size: 18px; text-transform: uppercase; padding-top: 5px;">Services Marchands - Exploitation vente directe</h4>
        <h5 class="ng-editable" style="color: #58595b;"><img style="margin-right: 5px;" src="images/pictos/puce-titre-folio.png" alt="puces-titre-folio" title="puces-titre-folio"/>Organisme</h5>
        <div style="width: 100%;">
            <div style="width: 22%; float: left; text-align: center;">
                <img src="images/img-defaut-petite.png" alt="logo" title="Logo"/>
            </div> 
            <div style="width: 78%; float: left;">
                <p class="ng-editable">Nam fringilla vehicula condimentum. In scelerisque nunc neque, sit amet dictum dui interdum eget. Suspendisse sed malesuada velit. Donec massa 
                    velit, tincidunt nec congue vitae, rutrum eget orci. Vestibulum nullam.</p>
                <div style="width: 44%; float: left; padding-left: 20px;">
                    <ul> 
                        <li>Téléphone : <span class="ng-editable">qd </span></li> 
                        <li>Adresse : <span class="ng-editable"> qsd</span></li> 
                        <li>Mail : <span class="ng-editable">qsd </span></li> 
                        <li>Site Web : <span class="ng-editable"> qsd</span></li> 
                    </ul>
                </div> 
                <div style="width: 49%; float: left;">
                    <ul> 
                        <li>Horaires : <span class="ng-editable">dqs </span></li> 
                        <li>Contact : <span class="ng-editable"> qsd</span></li> 
                        <li>Distance : <span class="ng-editable"> qsd</span></li> 
                    </ul>
                </div> 
            </div>                     
        </div>
    </div>
    <div style="display: block; width: 100%; height: 210px; border-bottom: 1px solid #e57e0c; padding-bottom: 5px;">
        <h4 style="color: #e57e0c; font-size: 18px; text-transform: uppercase; padding-top: 5px;">Traitements des déchets</h4>
        <h5 class="ng-editable" style="color: #58595b;"><img style="margin-right: 5px;" src="images/pictos/puce-titre-folio.png" alt="puces-titre-folio" title="puces-titre-folio"/>Organisme</h5>
        <div style="width: 100%;">
            <div style="width: 22%; float: left; text-align: center;">
                <img src="images/img-defaut-petite.png" alt="logo" title="Logo"/>
            </div> 
            <div style="width: 78%; float: left;">
                <p class="ng-editable">Nam fringilla vehicula condimentum. In scelerisque nunc neque, sit amet dictum dui interdum eget. Suspendisse sed malesuada velit. Donec massa 
                    velit, tincidunt nec congue vitae, rutrum eget orci. Vestibulum nullam.</p>
                <div style="width: 44%; float: left; padding-left: 20px;">
                    <ul> 
                        <li>Téléphone : <span class="ng-editable">qd </span></li> 
                        <li>Adresse : <span class="ng-editable"> qsd</span></li> 
                        <li>Mail : <span class="ng-editable">qsd </span></li> 
                        <li>Site Web : <span class="ng-editable"> qsd</span></li> 
                    </ul>
                </div> 
                <div style="width: 49%; float: left;">
                    <ul> 
                        <li>Horaires : <span class="ng-editable">dqs </span></li> 
                        <li>Contact : <span class="ng-editable"> qsd</span></li> 
                        <li>Distance : <span class="ng-editable"> qsd</span></li> 
                    </ul>
                </div>  
            </div>                     
        </div>
    </div>
    <div style="display: block; width: 100%; height: 210px; border-bottom: 1px solid #e57e0c; padding-bottom: 5px;">
        <h4 style="color: #e57e0c; font-size: 18px; text-transform: uppercase; padding-top: 5px;">Autre</h4>
        <h5 class="ng-editable" style="color: #58595b;"><img style="margin-right: 5px;" src="images/pictos/puce-titre-folio.png" alt="puces-titre-folio" title="puces-titre-folio"/>Organisme</h5>
        <div style="width: 100%;">
            <div style="width: 22%; float: left; text-align: center;">
                <img src="images/img-defaut-petite.png" alt="logo" title="Logo"/>
            </div> 
            <div style="width: 78%; float: left;">
                <p class="ng-editable">Nam fringilla vehicula condimentum. In scelerisque nunc neque, sit amet dictum dui interdum eget. Suspendisse sed malesuada velit. Donec massa 
                    velit, tincidunt nec congue vitae, rutrum eget orci. Vestibulum nullam.</p>
                <div style="width: 44%; float: left; padding-left: 20px;">
                    <ul> 
                        <li>Téléphone : <span class="ng-editable">qd </span></li> 
                        <li>Adresse : <span class="ng-editable"> qsd</span></li> 
                        <li>Mail : <span class="ng-editable">qsd </span></li> 
                        <li>Site Web : <span class="ng-editable"> qsd</span></li> 
                    </ul>
                </div> 
                <div style="width: 49%; float: left;">
                    <ul> 
                        <li>Horaires : <span class="ng-editable">dqs </span></li> 
                        <li>Contact : <span class="ng-editable"> qsd</span></li> 
                        <li>Distance : <span class="ng-editable"> qsd</span></li> 
                    </ul>
                </div> 
            </div>                     
        </div>
    </div>
    <div style="display: block; width: 100%; height: 100px; padding-top: 5px;">
        <div>
            <div style="width: 65%; float: left; display: block;">
                <img src="images/region-haute-normandie.png" alt="logo" title="Logo"/>
                <img src="images/prefet-haute-normandie.jpg" alt="logo" title="Logo"/>
                <img src="images/europe-feader.png" alt="logo" title="Logo"/>
            </div>
            <div style="width: 35%; float: left;">
                <img src="images/logo-reseau-rural.png" alt="logo" title="Logo"/>
            </div>            
        </div>
    </div>    
</div>
