<div class="size-folio-a4" style="background-color: #fff; text-align: left; padding: 1%; font-family: 'Lato',Arial; color: #58595b;">
    <div style="width: 100%; height: 10%">
        <div style="width: 69%; float: left; padding-top: 1%;" class="titre-folio">
            <h1 style="text-transform: uppercase; font-weight: 300; color: #93989e;">###TITRE_TERRITOIRE_1###</h1>
            <h2 style="margin: 0; color: #93989e; font-weight: 500;" class="ng-editable ng-deletable" data-one-line="true">###TITRE_TERRITOIRE_2###</h2>
            <h3 style="color:#58595b; text-transform: none; padding-top: 1%;" class="ng-editable ng-deletable" data-one-line="true">###TITRE_TERRITOIRE_3###</h3>
        </div>
        <div style="width: 25%; float: left;">
            <img src="images/logo.png" alt="logo" title="Logo" style="float: right;" class="ng-picture-select logo-titre-folio"/>
        </div>
    </div>
    <div style="display: block; width: 100%; border-bottom: 1px solid #e57e0c;" class="block-pres-territoire block-pres-territoire-title block-pres-territoire-title-3">
        <h4 class="ng-editable" data-one-line="true" style="color: #e57e0c; text-transform: uppercase; padding-top: 2%;">###TITRE_TERRITOIRE###</h4>
        <h5 style="color: #58595b; text-align: left; margin-bottom: 1%;">
			<img src="images/pictos/puce-titre-folio.png" style="margin-right: 1%;" alt="puces-titre-folio" title="puces-titre-folio" />
			<span class="ng-editable" data-one-line="true" >###SOUS_TITRE_TERRITOIRE###</span>
		</h5>
        <div style="width: 100%; height:auto;">
            <p style="width: 100%; margin-bottom: 1%; height: auto; float: left;" class="ng-editable" data-max-length="1000">###TEXTE_TERRITOIRE###</p>
            <div style="width: 100%; height:auto; float: left; text-align: center;">
                <img src="images/img-defaut-petite.png" alt="logo" title="Logo" class="ng-picture-select img-pres-terri-3" />
                <img src="images/img-defaut-petite.png" alt="logo" title="Logo" class="ng-picture-select img-pres-terri-3" />
                <img src="images/img-defaut-petite.png" alt="logo" title="Logo" class="ng-picture-select img-pres-terri-3" />
            </div>        
        </div>
    </div>
    <div style="display: block; width: 100%; height: 19%; border-bottom: 1px solid #e57e0c;" class="block-pres-territoire">
        <h4 class="ng-editable" data-one-line="true" style="color: #e57e0c; text-transform: uppercase; padding-top: 2%;">###TITRE_FORCE_FAIBLESSE###</h4>
        <h5 style="color: #58595b; text-align: left; margin-bottom: 1%;">
			<img src="images/pictos/puce-titre-folio.png" style="margin-right: 1%;" alt="puces-titre-folio" title="puces-titre-folio" />
			<span class="ng-editable" data-one-line="true" >###SOUS_TITRE_FORCE_FAIBLESSE###</span>
		</h5>
        <p class="ng-editable" style="width: 100%;" data-max-length="1000">###TEXTE_FORCE_FAIBLESSE###</p>
    </div>
    <div style="display: block; width: 100%; height: 28%;" class="block-pres-territoire">
        <h4 class="ng-editable" data-one-line="true" style="color: #e57e0c; text-transform: uppercase; padding-top: 2%;">###TITRE_PAROLE_ACTEUR###</h4>
        <h5 style="color: #58595b; text-align: left; margin-bottom: 1%;">
			<img src="images/pictos/puce-titre-folio.png" style="margin-right: 1%;" alt="puces-titre-folio" title="puces-titre-folio" />
			<span class="ng-editable" data-one-line="true" >###SOUS_TITRE_PAROLE_ACTEUR###</span>
		</h5>
        <div style="width: 100%;">
            <div style="width: 30%; float: left; text-align: center;">
                <img src="images/img-defaut-moyenne-portrait.png" alt="logo" title="Logo" class="ng-picture-select pres-terri-img-defaut-moyenne-portrait" />
            </div> 
            <p style="width: 69%; float: left;" class="ng-editable" data-max-length="1000">###TEXTE_PAROLE_ACTEUR###</p>                     
        </div>
    </div> 
</div>
