template fiche territoire 1 page 1
<div style="all: none; background-color: #fff;">
    <div  style="width: 100%">
        <div style="width: 70%">
            <h1>Présentation du terrtoire</h1>
            <h2>de la communauté de commune de</h2>
            <h3>Maecenas accumsan</h3>
        </div>
        <div style="width: 30%">
            logo
        </div>
    </div>
    <div>
        <h5>Titre carte</h5>
        <div>
            <div>
            
            </div>
            <div>
            
            </div>            
        </div>
    </div> 
    <div>
        <h4>Présentaion du territoire</h4>
        <h5>Titre</h5>
        <div>
            <div>
            
            </div>
            <div>
            
            </div>            
        </div>
    </div>
    <div>
        <h4>Parole d'acteur</h4>
        <h5>Titre</h5>
        <div>
            <div>
            
            </div>
            <div>
            
            </div>            
        </div>
    </div>
    <div>
        <div>
            <div>
            
            </div>
            <div>
            
            </div>            
        </div>
    </div>    
</div>