<div style="background-color: #fff; text-align: left; padding: 1%; height: 100%; font-family: 'Lato',Arial;">
    <div style="display: block; width: 100%; height: 30%; border-bottom: 1px solid #e57e0c;">
        <h4 style="color: #e57e0c; font-size: 18px; text-transform: uppercase;">Patrimoine Architectural</h4>
        <h5 class="ng-editable" style="color: #58595b;"><img src="images/pictos/puce-titre-folio.png" style="margin-right: 1%;" alt="puces-titre-folio" title="puces-titre-folio"/>Titre</h5>
        <div style="width: 100%; height:auto;">
            <div style="width: 100%; height: auto; float: left;" class="ng-editable">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend aliquet mauris eget lobortis. Donec hendrerit nisi justo, 
                quis fringilla nunc semper vel. Donec et erat nec sapien faucibus fringilla at id justo. Nulla lobortis ante sapien, eget consequat 
                sapien accumsan pellentesque. Aliquam tincidunt justo quis magna viverra feugiat. 

                Nam fringilla vehicula condimentum. In scelerisque nunc neque, sit amet dictum dui interdum eget. Suspendisse sed malesuada velit. Donec massa 
                velit, tincidunt nec congue vitae, rutrum eget orci. Vestibulum nullam.
            </div>
            <div style="width: 100%; height:auto; float: left; text-align: center;">
                <img src="images/img-defaut-petite.png" alt="logo" title="Logo" style="width: 30%; height:auto;"/>
                <img src="images/img-defaut-petite.png" alt="logo" title="Logo" style="width: 30%; height:auto;"/>
                <img src="images/img-defaut-petite.png" alt="logo" title="Logo" style="width: 30%; height:auto;"/>
            </div>            
        </div>
    </div>
    <div style="display: block; width: 100%; height: 27%; border-bottom: 1px solid #e57e0c; padding-top: 1%;">
        <h4 style="color: #e57e0c; font-size: 18px; text-transform: uppercase;">Paroles environnementales</h4>
        <h5 class="ng-editable" style="color: #58595b;"><img src="images/pictos/puce-titre-folio.png" style="margin-right: 1%;" alt="puces-titre-folio" title="puces-titre-folio"/>Titre</h5>
        <div style="width: 100%; height:auto;">
            <div style="width: 59%; float: left;" class="ng-editable">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend aliquet mauris eget lobortis. Donec hendrerit nisi justo, 
                quis fringilla nunc semper vel. Donec et erat nec sapien faucibus fringilla at id justo. Nulla lobortis ante sapien, eget consequat 
                sapien accumsan pellentesque. Aliquam tincidunt justo quis magna viverra feugiat. Maecenas accumsan ipsum non mauris rutrum dapibus 
                quis in lectus. Cras consectetur eros eu mauris ullamcorper, id egestas nisi adipiscing. Vivamus mauris est, tempor sit amet massa
                eget, dapibus dapibus mi. Phasellus nec interdum quam.
            </div>
            <div style="width: 40%; float: left; text-align: center;">
                <img src="images/img-defaut-moyenne.png" alt="logo" title="Logo" style="width: 70%; height:auto;"/>
            </div>            
        </div>
    </div>
    <div style="display: block; width: 100%; height: 27%; padding-top: 1%;">
        <h4 style="color: #e57e0c; font-size: 18px; text-transform: uppercase;">Les Activités économiques</h4>
        <h5 class="ng-editable" style="color: #58595b;"><img src="images/pictos/puce-titre-folio.png" style="margin-right: 1%;" alt="puces-titre-folio" title="puces-titre-folio"/>Titre</h5>
        <div style="width: 100%; height: auto;">
            <div style="width: 59%; float: left;" class="ng-editable">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend aliquet mauris eget lobortis. Donec hendrerit nisi justo, 
                quis fringilla nunc semper vel. Donec et erat nec sapien faucibus fringilla at id justo. Nulla lobortis ante sapien, eget consequat 
                sapien accumsan pellentesque. Aliquam tincidunt justo quis magna viverra feugiat. Maecenas accumsan ipsum non mauris rutrum dapibus 
                quis in lectus. Cras consectetur eros eu mauris ullamcorper, id egestas nisi adipiscing. Vivamus mauris est, tempor sit amet massa
                eget, dapibus dapibus mi. Phasellus nec interdum quam.
            </div>
            <div style="width: 40%; float: left; text-align: center;">
                <img src="images/img-defaut-moyenne.png" alt="logo" title="Logo" style="width: 70%; height:auto;"/>
            </div>            
        </div>
    </div>
    <div style="display: block; width: 100%; height: 10%; padding-top: 1%;">
        <div>
            <div style="width: 65%; float: left; display: block;">
                <img src="images/region-haute-normandie.png" alt="logo" title="Logo" style="width: 10%; height:auto;"/>
                <img src="images/prefet-haute-normandie.jpg" alt="logo" title="Logo" style="width: 13%; height:auto;"/>
                <img src="images/europe-feader.png" alt="logo" title="Logo" style="width: 20%; height:auto;"/>
            </div>
            <div style="width: 35%; float: left;">
                <img src="images/logo-reseau-rural.png" alt="logo" title="Logo" style="width: 100%; height:auto;"/>
            </div>            
        </div>
    </div>     
</div>
