<div id="cgu">
    <div class="sheet-fade" ng-click="parent.showCGU = false"></div>
    <div class="sheet-content">
        <h2>Conditions générales d’utilisation</h2>
        <br>
        <p>Je m’engage en tant qu’utilisateur de l’application « Livret de l’accueil des nouveaux résidents en milieu rural » et par là même j’engage la structure que je représente  à :</p>
        <p>	-	maintenir sur le format export (PDF ou papier) du livret les logos du Réseau rural    haut-normand, de l’Europe (FEADER), de l’Etat et de la Région Haute-Normandie, tels qu’ils sont définis et placés sur l’application ;</p>
        <p>	-	mentionner le financement de l’Europe et de l’Etat dans toute action d’information (presse, réunion publique, etc…) que je serai amené à faire au sujet de ce livret ;</p>
        <p>	-	utiliser les photographies disponibles dans la photothèque uniquement dans le cadre de la création du livret d’accueil (l’utilisation des images doit se faire dans le respect du droit de la propriété intellectuelle - Loi n° 92-597 du 1 juillet 1992 relative au code de la propriété intellectuelle).</p>

        <button type="button" class="sheet-close" ng-click="parent.showCGU = false"> 
            <img src="images/pictos/fermer.png" alt="Fermer" title="Fermer" /> Fermer
        </button>
    </div>
</div>
