<div class="wrapper">
    <section id="content">
        <h2>Contact</h2>
        <h4 ng-hide="message.show && message.type === 'success'">
            Pour nous contacter, remplissez ce formulaire. Nous vous apporterons une réponse dans les meilleurs délais.
            <br>
            Les champs obligatoires sont indiqués par un *
        </h4>
        <div ng-if="message.show" 
             ng-bind="message.text" 
             ng-class="{message_success: message.type === 'success', message_error: message.type === 'error'}">
        </div>
        <div ng-show="contactInProgress">
            Envoi du formulaire de contact...
            <br>
            <img src="images/loading.gif">
        </div>
        <div ng-hide="(message.show && message.type === 'success') || contactInProgress" id="form-contact">
            <fieldset>
                <legend>Formulaire de contact</legend>
                <label for="form-contact-name-compagny">Nom de votre structure* : </label>
                <input type="text" ng-model="contactInfos.name" ng-hide="User.isLogged()" id="form-contact-name-compagny">
                <span ng-show="User.isLogged()">{{User.getInfos().name}}</span>
                <br>
                <label for="form-contact-lastname">Nom* :</label>
                <input type="text" ng-model="contactInfos.last_name" ng-hide="User.isLogged()" id="form-contact-lastname">
                <span ng-show="User.isLogged()">{{User.getInfos().last_name}}</span>
                <br>
                <label for="form-contact-firstname">Pr&eacute;nom* :</label>
                <input type="text" ng-model="contactInfos.first_name" ng-hide="User.isLogged()" id="form-contact-firstname">
                <span ng-show="User.isLogged()">{{User.getInfos().first_name}}</span>
                <br>
                <label for="form-contact-fonction">Fonction : </label>
                <input type="text" ng-model="contactInfos.fonction" ng-hide="User.isLogged()" id="form-contact-fonction">
                <span ng-show="User.isLogged()">{{User.getInfos().fonction}}</span>
                <br>
                <label for="form-contact-email">Adresse mail* :</label>
                <input type="text" ng-model="contactInfos.email" ng-hide="User.isLogged()" id="form-contact-email">
                <span ng-show="User.isLogged()">{{User.getInfos().username}}</span>
                <br ng-hide="User.isLogged()">
                <label for="form-contact-email2" ng-hide="User.isLogged()">Confirmez votre adresse mail* :</label>
                <input type="text" ng-model="email2" ng-hide="User.isLogged()" id="form-contact-email2">
                <br>
                <label for="form-contact-phone">Téléphone :</label>
                <input type="text" ng-model="contactInfos.phone" ng-hide="User.isLogged()" id="form-contact-phone">
                <span ng-show="User.isLogged()">{{User.getInfos().phone}}</span>
                <br>
                <label for="form-contact-adress">Adresse :</label>
                <input type="text" ng-model="contactInfos.address" ng-hide="User.isLogged()" id="form-contact-address">
                <span ng-show="User.isLogged()">{{User.getInfos().address}}</span>
                <br>
                <label for="form-contact-cp">Code Postal :</label>
                <input type="text" ng-model="contactInfos.cp" ng-hide="User.isLogged()" id="form-contact-cp">
                <span ng-show="User.isLogged()">{{User.getInfos().cp}}</span>
                <br>
                <label for="form-contact-city">Ville :</label>
                <input type="text" ng-model="contactInfos.city" ng-hide="User.isLogged()" id="form-contact-city">
                <span ng-show="User.isLogged()">{{User.getInfos().city}}</span>
                <br>
                <label for="form-contact-question">Votre question* :</label>
                <textarea id="form-contact-question" ng-model="contactInfos.question"></textarea>
                <br>
                <button ng-click="contact()">Valider</button>
            </fieldset>
        </div>
    </section>
    <aside ng-if="!layout.requireMenu" ng-include="'partials/home/right.html'"></aside>
</div>