<link href='http://fonts.googleapis.com/css?family=Jura:400,300,500,600' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Jura:400,300,500,600'>
<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900'>
<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=PT+Sans:400,700'>
<a href="index.html#/home"><div id="logo"></div></a>    
<div id="slogan">
    <h2>C'est ensemble que se construit l'avenir des territoires</h2>
    <h1>BIEN ACCUEILLIR LES NOUVEAUX HABITANTS</h1>
    <h2>Plate-forme dédiée à la création de livret d'accueil personnalisé</h2>
    <img src="images/header-reseau-rural.jpg" alt="reseau-rural-haute-normandie" title="Réseau Rural Haute-Normandie"/>
</div>
<div ng-include="'partials/common/user.html'" style="width: 200px; float: left;"></div>