<a href="index.html#/home">
	<img id="logo" ng-show="$root.layout.param['logo_rrhn'].base64" src="data:{{$root.layout.param['logo_rrhn'].filetype}};base64,{{$root.layout.param['logo_rrhn'].base64}}" alt="Réseau Rural Haute-Normandie" title="Réseau Rural Haute-Normandie" />
</a>    
<div id="slogan">
    <h2>C'est ensemble que se construit l'avenir des territoires</h2>
    <h1>BIEN ACCUEILLIR LES NOUVEAUX HABITANTS</h1>
    <h2>Plate-forme dédiée à la création de livrets d'accueil personnalisés</h2>
    <img src="images/RRHN.gif" alt="reseau-rural-haute-normandie" title="Réseau Rural Haute-Normandie"/>
</div>
<div ng-include="'partials/common/user.html'" style="width: 200px; float: left;"></div>