<div class="wrapper">
    <section id="content">
        
            <h2>Mentions Légales</h2>
            <h3>Directeur de la publication :</h3>
            <p>
                Anne PERRET<br>
                Directrice Régionale de l’Alimentation , de l’Agriculture et de la Forêt<br>
                Cité Administrative<br>
                2 rue Saint Sever<br>
                76 032 ROUEN<br>
            </p>
            <h3>Administrateur :</h3>
            <p>
                Christian BLANQUART<br>
                christian.blanquart@agriculture.gouv.fr<br>
                </p>
            <h3>Prestataire d’hébergement :</h3>
            <p>
                OVH<br>
                http://www.ovh.com/fr/contact
            </p>
            <h3>Photographies :</h3>
            <p>
                Les photographies disponibles dans la photothèque sont  uniquement utilisables pour la création d’un livret d’accueil (l’utilisation des images 
                doit se faire dans le respect du droit de la propriété intellectuelle - Loi n° 92-597 du 1 juillet 1992 relative au code de la propriété intellectuelle). <br>
                Crédit photos : Fotolia.com<br>
                Traitement des données à caractère personnel<br>
                Conformément aux dispositions de la loi n° 78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés, vous disposez d’un droit d’accès, 
                de modification, de rectification et de suppression des données qui vous concernent.<br>
                Ce droit s’exerce, en justifiant de son identité : <br>
                par voie postale :<br>
                par courrier électronique : christian.blanquart@agriculture.gouv.fr<br>
                Aucune information personnelle n’est collectée à votre insu, ou cédée à des tiers.<br>
            </p>
            <h3>Traitement des données à caractère personnel</h3>
            <p>
                Conformément aux dispositions de la loi n° 78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés, vous disposez d’un 
                droit d’accès, de modification, de rectification et de suppression des données qui vous concernent. <br>
                Ce droit s’exerce, en justifiant de son identité : <br>
                par voie postale :<br>
                par courrier électronique : christian.blanquart@agriculture.gouv.fr<br>
                Aucune information personnelle n’est collectée à votre insu, ou cédée à des tiers.
            </p>
            <h3>Droit d’auteur</h3>
            <p>
                Tous les contenus présents sur le site sont couverts par le droit d’auteur.<br> 
                Toute reprise est dès lors conditionnée à l’accord de l’auteur en vertu de l’article L.122-4 du Code de la Propriété Intellectuelle.<br>                
            </p>
            <h3>La reproduction de contenus</h3>
            <p>
                L’utilisateur s’engage :<br> 
                à respecter l’intégrité des données mises à sa disposition, en veillant à ce que la teneur et la portée des textes et décisions ne soient pas altérées, 
                notamment par des retraitements (modifications des textes, insertion de commentaires sans que ceux-ci puissent être clairement distingués du texte 
                authentique, coupes altérant le sens de l’acte, de nature à induire le lecteur en erreur, <br>
                à indiquer la source des données rediffusées, la date de leur dernière mise à jour et à les assortir des indications utiles pour apprécier la nature et 
                l’origine de l’acte (date, intitulé, auteur...). <br>
                à ne pas commercialiser les données rediffusées <br>
                à réaliser le téléchargement lui-même, sans utiliser de robot. Le téléchargement ne pourra porter sur la totalité d’un ensemble de données.<br>
              Tous droits de reproduction réservés, en France comme à l’étranger.                
            </p>
            <h3>Etablissement de liens</h3>
            <p>
                La DRAAF Haute Normandie autorise tout site ou tout autre support à citer ou à mettre en place un lien hypertexte pointant vers le site « livret-accueil-haute-normandie.fr ».<br> 
                La DRAAF Haute-Normandie se réserve le droit de demander la suppression d’un lien qu’elle estime non conforme à l’objet du site « livret-accueil-haute-normandie.fr », à ses missions, 
                ou plus généralement à l’éthique de l’Administration.<br>
Cette autorisation est valable pour tout support, à l’exception de ceux diffusant des informations à caractère polémique, pornographique, xénophobe ou pouvant, dans une plus large mesure porter atteinte à la sensibilité du plus grand nombre.                
            </p>
            <h3>Accès au site</h3>
            <p>
                L’éditeur s’efforce de permettre l’accès au site 24 heures sur 24, 7 jours sur 7, sauf en cas de force majeure ou d’un événement hors du contrôle du ministère de l’agriculture et de l’agroalimentaire, et sous réserve des 
                éventuelles pannes et interventions de maintenance nécessaires au bon fonctionnement du site et des services.<br>
                Par conséquent, le ministère de l’agriculture et de l’agroalimentaire ne peut garantir une disponibilité du site et/ou des services, une fiabilité des transmissions et des performances 
                en termes de temps de réponse ou de qualité. Il n’est prévu aucune assistance technique vis à vis de l’utilisateur que ce soit par des moyens électronique ou téléphonique.<br>
                La responsabilité de l’éditeur ne saurait être engagée en cas d’impossibilité d’accès à ce site et/ou d’utilisation des services. Le site internet « livret-accueil-haute-normandie.fr » 
                ne correspond pas à une mission de service public, l’accès n’est donc pas soumis au principe de continuité du service public.<br>
                Par ailleurs, le ministère de l’agriculture et de l’agroalimentaire peut être amené à interrompre le site ou une partie des services, à tout moment sans préavis, 
                le tout sans droit à indemnités. L’utilisateur reconnaît et accepte que le ministère de l’agriculture et de l’agroalimentaire ne soit pas responsable des interruptions, 
                et des conséquences qui peuvent en découler pour l’utilisateur ou tout tiers.<br>            
            </p>
            <h3>Acceptation des conditions d’utilisation</h3>
            <p>
                L’utilisateur reconnaît avoir pris connaissance des conditions d’utilisation, au moment de sa connexion et déclare expressément les accepter sans réserve. 
                La DRAAF de Haute-Normandie se réserve la possibilité de modifier, à tout moment et sans préavis, les présentes conditions d’utilisation afin de les 
                adapter aux évolutions du site et/ou de son exploitation ». 
               
            </p>
            










        
    </section>
    <aside ng-include="'partials/home/right.html'"></aside>
</div>