<div class="titre-menu-bo" ng-hide="!$parent.menuShow"><h2> > Console</h2></div>
<div style="float: left;">
    <button ng-click="$parent.menuShow = !$parent.menuShow">{{($parent.menuShow) ? '<' : '>'}}</button>
</div>
<ul id="menu-backoffice" ng-hide="!$parent.menuShow">
    <li>
        <a href="#/admin/stats">
            <img src="images/pictos/mes-livrets.png" alt="mes-livrets" title="Mes livrets"/>
            <span ng-hide="!$parent.menuShow" class="menubo">STATISTIQUES</span>
            <img src="images/pictos/menu-liste.png" alt="liste" title="Mes livrets"/>
        </a>
    </li>
    <li>
        <a href="#/admin/users">
            <img src="images/pictos/mon-compte.png" alt="mon-compte" title="Mon Compte"/>
            <span ng-hide="!$parent.menuShow" class="menubo">UTILISATEURS</span>
            <img src="images/pictos/menu-liste.png" alt="liste" title="Mon Compte"/>
        </a>
    </li>
    <li>
        <a href="#/admin/library">
            <img src="images/pictos/phototheque.png" alt="phototheque" title="Photothèque"/>
            <span ng-hide="!$parent.menuShow" class="menubo">PHOTOTHEQUE</span>
            <img src="images/pictos/menu-liste.png" alt="liste" title="Photothèque"/>
        </a>
    </li>
    <li>
        <a href="#/admin/mod_home">
            <img src="images/pictos/aide-faq.png" alt="aide-faq" title="Aide et FAQ"/>
            <span ng-hide="!$parent.menuShow" class="menubo">ACCUEIL</span>
            <img src="images/pictos/menu-liste.png" alt="liste" title="Aide et FAQ"/>
        </a>
    </li>
    <li>
        <a href="#/admin/mod_editor">
            <img src="images/pictos/contact.png" alt="contact" title="Contact"/>
            <span ng-hide="!$parent.menuShow" class="menubo">EDITION</span>
            <img src="images/pictos/menu-liste.png" alt="liste" title="Contact"/>
        </a>
    </li>
    <li>
        <a href="#/admin/mod_help">
            <img src="images/pictos/contact.png" alt="contact" title="Contact"/>
            <span ng-hide="!$parent.menuShow" class="menubo">AIDE</span>
            <img src="images/pictos/menu-liste.png" alt="liste" title="Contact"/>
        </a>
    </li>
</ul>