<div class="titre-menu-bo" ng-hide="!layout.menuShow"><h2><img src="images/pictos/menu-liste.png" style="vertical-align: middle;" ng-hide="!layout.menuShow"/>Trousse à outils</h2></div>
<div style="float: right;">
    <img ng-src="images/pictos/{{layout.menuShow === true && 'menu-fermer.png' || 'menu-ouvrir.png'}}" ng-click="toggleShowMenu()">
</div>
<ul id="menu-backoffice" ng-hide="!layout.menuShow">
    <li>
        <a href="#/plateforme/booklets">
            <img src="images/pictos/mes-livrets.png" alt="Créer et modifier mon livret" title="Créer et modifier mon livret"/>
            <span ng-hide="!layout.menuShow" class="menubo">MES LIVRETS</span>
            <img src="images/pictos/menu-liste.png" ng-hide="!layout.menuShow" alt="liste" title="Mes livrets"/>
        </a>
    </li>
    <li>
        <a href="#/plateforme/account">
            <img src="images/pictos/mon-compte.png" alt="mon-compte" title="Mon Compte"/>
            <span ng-hide="!layout.menuShow" class="menubo">MON COMPTE</span>
            <img src="images/pictos/menu-liste.png" ng-hide="!layout.menuShow" alt="Gérer mon compte" title="Gérer mon compte"/>
        </a>
    </li>
    <li>
        <a href="#/plateforme/library">
            <img src="images/pictos/phototheque.png" alt="phototheque" title="Photothèque"/>
            <span ng-hide="!layout.menuShow" class="menubo">PHOTOTHEQUE</span>
            <img src="images/pictos/menu-liste.png" ng-hide="!layout.menuShow" alt="Accéder à la photothèque" title="Accéder à la photothèque"/>
        </a>
    </li>
    <li>
        <a href="#/plateforme/help">
            <img src="images/pictos/aide-faq.png" alt="aide-faq" title="Aide et FAQ"/>
            <span ng-hide="!layout.menuShow" class="menubo">AIDE ET FAQ</span>
            <img src="images/pictos/menu-liste.png" ng-hide="!layout.menuShow" alt="Consulter l’aide et la FAQ" title="Consulter l’aide et la FAQ"/>
        </a>
    </li>
    <li ng-show="$root.layout.param['enable_contact']" >
        <a href="#/plateforme/contact">
            <img src="images/pictos/contact.png" alt="contact" title="Contact"/>
            <span ng-hide="!layout.menuShow" class="menubo">CONTACT</span>
            <img src="images/pictos/menu-liste.png" ng-hide="!layout.menuShow" alt="Contact" title="Contact"/>
        </a>
    </li>
</ul>