<div ng-controller="CommonCtrl.User">
    <div ng-if="!User.isLogged()" id="formlogin">
        Login :<input type="text" ng-model="identifiant">
        <br>
        Password :<input type="password" ng-model="password">
        <br>
        <input type="button" value="Connexion" ng-click="login()">
        <div>
            <a href=""><img src="images/se-souvenir-de-moi.png" alt="mon-compte" title="Mon Compte" /><span>se souvenir de moi</span></a>
        </div>
        <div>
            <a href=""><img src="images/mot-de-passe-oublie.png" alt="contact" title="Contact" /><span>mot de passe oublié</span></a>
        </div>
    </div>
    <div ng-if="User.isLogged()" id="userPannel">
        Bonjour {{User.getName()}}
        <br>
        <a href="#" on-click="return false;" ng-click="logout()">Se d&eacute;connecter</a>
    </div>
</div>