<div ng-controller="CommonCtrl.User">
    <div ng-show="loginInProgress">
        Connexion en cours...
        <br>
        <img src="images/loading.gif">
    </div>
    <div ng-hide="loginInProgress">
        <div ng-if="!User.isLogged()" id="formlogin">
            <div ng-if="error !== ''" ng-bind="error" class="message_error"><br></div>
            <span style="padding-right: 25px"><img src="images/mot-de-passe-oublie.png" alt="contact" title="Contact" />Login :</span><input placeholder="LOGIN" type="text" ng-model="$parent.identifiant">
            <br>
            <img src="images/mot-de-passe-oublie.png" alt="contact" title="Contact" /><span>Password :</span><input placeholder="MOT DE PASSE" type="password" ng-model="$parent.passwd">
            <br>
            <input style="width:16px; height:16px;" type="image" src="images/mot-de-passe-oublie.png" name="image" id="connexion" alt="Connexion" ng-click="login()">
            <div style="display:block">
                <div class="souv-mdp">
                    <a href="#" onclick="return false;" ng-click="switchRememberMe()">
                        <img ng-src="images/se-souvenir-de-moi-{{rememberMe}}.png" alt="mon-compte" title="Mon Compte" />
                        <span>se souvenir de moi</span>
                    </a>
                </div>
                <div class="souv-mdp">
                    <a href="#/account/resetpasswd">
                        <img src="images/mot-de-passe-oublie.png" alt="Mot de passe oublie" title="Mot de passe oublie" />
                        <span>mot de passe oublié</span>
                    </a>
                </div>
            </div>
        </div>
        <div ng-if="User.isLogged()" id="userPannel">
            Bonjour {{User.getCompleteName()}}
            <br>
            <a ng-if="isAtHome()" href="#/plateforme">Acc&eacute;der a la plateforme</a>
            <a ng-if="!isAtHome()" href="#/home">Retour a l'accueil</a>
            <br>
            <a href="#" on-click="return false;" ng-click="logout()">Se d&eacute;connecter</a>
        </div>
    </div>
</div>