<div style="background-color: #fff; text-align: left; padding: 1%; font-family: 'PT sans',Arial; font-size: 60%; text-align: center;"
     class="text-agenda size-agenda-a4">
<div style="width: 100%; height: 15%">
    <div style="width: 30%; height: auto; float: left;">
        <img src="images/logo-reseau-rural.png" alt="logo" title="Logo"
             style="max-width: 90%; height: auto; margin-top: 3%;"/>
    </div>
    <div style="width: 49%; height: auto; float: left; text-align: left;">
        <h1 style="margin: 3% 0 3% 0; text-transform: uppercase; font-family: 'Lato', Arial; color: #9c9ea3; font-weight: 300; font-size: 250%;"
            class="ng-editable" data-max-length="26" data-one-line="true">Agenda des manifestations</h1>

        <h3 style="font-size: 490%; color: #52af35;"><img src="images/pictos/agenda/header-agenda.png" alt="logo"
                                                          title="Logo"
                                                          style="width: 50%; height: auto; margin-right: 19%"/><span
                class="ng-date-select"><b class="ng-date-select-first">20</b><b
                style="color: #ea5515; font-weight: 700;" class="ng-date-select-second">14</b></span></h3>
    </div>
    <div style="width: 20%; height: auto; float: right;">
        <img src="images/logo.png" alt="logo" title="Logo" class="ng-picture-select logo-titre-folio"/>
    </div>
</div>
<!-- <div style="display: inline-block; width: 100%; height: 75%; font-size: 120%;">
    <div style="display: inline-block; float: left; width: 16%; height: 80%; padding-bottom: 1%;" class="mois-agenda"> -->
<div style="display: inline-block; width: 100%; height: 75%; font-size: 120%;" class="block-mois-agenda">
<div style="display: inline-block; float: left; width: 16%; padding-bottom: 1%;" class="mois-agenda">
<div>
<h3 style="background: #00aa9d; line-height: 200%; color: #fff; font-size: 100%;" class="titre-mois-agenda">Janvier</h3>
<table class="calendar-month table-agenda"
       style="width: 100%; height: auto; border: 1px solid #9c9ea3; border-collapse:collapse; vertical-align:middle;">
<tbody style="line-height: 90%;" class="tbody-agenda">
<tr>
    <td style="width: 10%;">M</td>
    <td style="width: 10%;">1</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 5%;"></td>
</tr>
<tr>
    <td style="width: 10%;">J</td>
    <td style="width: 10%;">2</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">V</td>
    <td style="width: 10%;">3</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">S</td>
    <td style="width: 10%;">4</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">D</td>
    <td style="width: 10%;">5</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">L</td>
    <td style="width: 10%;">6</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">M</td>
    <td style="width: 10%;">7</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">M</td>
    <td style="width: 10%;">8</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">J</td>
    <td style="width: 10%;">9</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">V</td>
    <td style="width: 10%;">10</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">S</td>
    <td style="width: 10%;">11</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">D</td>
    <td style="width: 10%;">12</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">L</td>
    <td style="width: 10%;">13</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">M</td>
    <td style="width: 10%;">14</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">M</td>
    <td style="width: 10%;">15</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">J</td>
    <td style="width: 10%;">16</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">V</td>
    <td style="width: 10%;">17</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">S</td>
    <td style="width: 10%;">18</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">D</td>
    <td style="width: 10%;">19</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">L</td>
    <td style="width: 10%;">20</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">M</td>
    <td style="width: 10%;">21</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">M</td>
    <td style="width: 10%;">22</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">J</td>
    <td style="width: 10%;">23</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">V</td>
    <td style="width: 10%;">24</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">S</td>
    <td style="width: 10%;">25</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">D</td>
    <td style="width: 10%;">26</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">L</td>
    <td style="width: 10%;">27</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">M</td>
    <td style="width: 10%;">28</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">M</td>
    <td style="width: 10%;">29</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">J</td>
    <td style="width: 10%;">30</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">V</td>
    <td style="width: 10%;">31</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
</tbody>
</table>
</div>
<div style="background: #f7931e;" class="footer-month">
    <p style="margin-bottom: 0px" class="ng-editable" data-max-length="150"></p>
</div>
</div>
<div style="display: inline-block; float: left; width: 16%;" class="mois-agenda">
<div>
<h3 style="background: #51b849; line-height: 200%; color: #fff; font-size: 100%;">Février</h3>
<table class="calendar-month table-agenda"
       style="width: 100%; height: auto; border: 1px solid #9c9ea3; border-collapse:collapse; vertical-align:middle;">
<tbody style="line-height: 90%;" class="tbody-agenda">
<tr>
    <td style="width: 10%;">M</td>
    <td style="width: 10%;">1</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 5%;"></td>
</tr>
<tr>
    <td style="width: 10%;">J</td>
    <td style="width: 10%;">2</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">V</td>
    <td style="width: 10%;">3</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">S</td>
    <td style="width: 10%;">4</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">D</td>
    <td style="width: 10%;">5</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">L</td>
    <td style="width: 10%;">6</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">M</td>
    <td style="width: 10%;">7</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">M</td>
    <td style="width: 10%;">8</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">J</td>
    <td style="width: 10%;">9</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">V</td>
    <td style="width: 10%;">10</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">S</td>
    <td style="width: 10%;">11</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">D</td>
    <td style="width: 10%;">12</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">L</td>
    <td style="width: 10%;">13</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">M</td>
    <td style="width: 10%;">14</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">M</td>
    <td style="width: 10%;">15</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">J</td>
    <td style="width: 10%;">16</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">V</td>
    <td style="width: 10%;">17</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">S</td>
    <td style="width: 10%;">18</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">D</td>
    <td style="width: 10%;">19</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">L</td>
    <td style="width: 10%;">20</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">M</td>
    <td style="width: 10%;">21</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">M</td>
    <td style="width: 10%;">22</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">J</td>
    <td style="width: 10%;">23</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">V</td>
    <td style="width: 10%;">24</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">S</td>
    <td style="width: 10%;">25</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">D</td>
    <td style="width: 10%;">26</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">L</td>
    <td style="width: 10%;">27</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">M</td>
    <td style="width: 10%;">28</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">M</td>
    <td style="width: 10%;">29</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
</tbody>
</table>
</div>
<div style="background: #51b849;" class="footer-month footer-month-fev">
    <p style="margin-bottom: 0px" class="ng-editable" data-max-length="150"></p>
</div>
</div>
<div style="display: inline-block; float: left; width: 16%;" class="mois-agenda">
<div>
<h3 style="background: #8ea83f; line-height: 200%; color: #fff; font-size: 100%;">Mars</h3>
<table class="calendar-month table-agenda"
       style="width: 100%; height: auto; border: 1px solid #9c9ea3; border-collapse:collapse; vertical-align:middle;">
<tbody style="line-height: 90%;" class="tbody-agenda">
<tr>
    <td style="width: 10%;">M</td>
    <td style="width: 10%;">1</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 5%;"></td>
</tr>
<tr>
    <td style="width: 10%;">J</td>
    <td style="width: 10%;">2</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">V</td>
    <td style="width: 10%;">3</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">S</td>
    <td style="width: 10%;">4</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">D</td>
    <td style="width: 10%;">5</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">L</td>
    <td style="width: 10%;">6</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">M</td>
    <td style="width: 10%;">7</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">M</td>
    <td style="width: 10%;">8</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">J</td>
    <td style="width: 10%;">9</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">V</td>
    <td style="width: 10%;">10</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">S</td>
    <td style="width: 10%;">11</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">D</td>
    <td style="width: 10%;">12</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">L</td>
    <td style="width: 10%;">13</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">M</td>
    <td style="width: 10%;">14</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">M</td>
    <td style="width: 10%;">15</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">J</td>
    <td style="width: 10%;">16</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">V</td>
    <td style="width: 10%;">17</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">S</td>
    <td style="width: 10%;">18</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">D</td>
    <td style="width: 10%;">19</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">L</td>
    <td style="width: 10%;">20</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">M</td>
    <td style="width: 10%;">21</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">M</td>
    <td style="width: 10%;">22</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">J</td>
    <td style="width: 10%;">23</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">V</td>
    <td style="width: 10%;">24</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">S</td>
    <td style="width: 10%;">25</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">D</td>
    <td style="width: 10%;">26</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">L</td>
    <td style="width: 10%;">27</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">M</td>
    <td style="width: 10%;">28</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">M</td>
    <td style="width: 10%;">29</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">J</td>
    <td style="width: 10%;">30</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">V</td>
    <td style="width: 10%;">31</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
</tbody>
</table>
</div>
<div style="background: #8ea83f;" class="footer-month">
    <p style="margin-bottom: 0px" class="ng-editable" data-max-length="150"></p>
</div>
</div>
<div style="display: inline-block; float: left; width: 16%;" class="mois-agenda">
<div>
<h3 style="background: #e78026; line-height: 200%; color: #fff; font-size: 100%;">Avril</h3>
<table class="calendar-month table-agenda"
       style="width: 100%; height: auto; border: 1px solid #9c9ea3; border-collapse:collapse; vertical-align:middle;">
<tbody style="line-height: 90%;" class="tbody-agenda">
<tr>
    <td style="width: 10%;">M</td>
    <td style="width: 10%;">1</td>
    <td></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 5%;"></td>
</tr>
<tr>
    <td style="width: 10%;">J</td>
    <td style="width: 10%;">2</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">V</td>
    <td style="width: 10%;">3</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">S</td>
    <td style="width: 10%;">4</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">D</td>
    <td style="width: 10%;">5</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">L</td>
    <td style="width: 10%;">6</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">M</td>
    <td style="width: 10%;">7</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">M</td>
    <td>8</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">J</td>
    <td style="width: 10%;">9</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">V</td>
    <td style="width: 10%;">10</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">S</td>
    <td style="width: 10%;">11</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">D</td>
    <td style="width: 10%;">12</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">L</td>
    <td style="width: 10%;">13</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">M</td>
    <td style="width: 10%;">14</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">M</td>
    <td style="width: 10%;">15</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">J</td>
    <td style="width: 10%;">16</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">V</td>
    <td style="width: 10%;">17</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">S</td>
    <td style="width: 10%;">18</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">D</td>
    <td style="width: 10%;">19</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">L</td>
    <td style="width: 10%;">20</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">M</td>
    <td style="width: 10%;">21</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">M</td>
    <td style="width: 10%;">22</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">J</td>
    <td style="width: 10%;">23</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">V</td>
    <td style="width: 10%;">24</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">S</td>
    <td style="width: 10%;">25</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">D</td>
    <td style="width: 10%;">26</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">L</td>
    <td style="width: 10%;">27</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">M</td>
    <td style="width: 10%;">28</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">M</td>
    <td style="width: 10%;">29</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">J</td>
    <td style="width: 10%;">30</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
</tbody>
</table>
</div>
<div style="background: #e78026;" class="footer-month footer-month30">
    <p style="margin-bottom: 0px" class="ng-editable" data-max-length="150"></p>
</div>
</div>
<div style="display: inline-block; float: left; width: 16%;" class="mois-agenda">
<div>
<h3 style="background: #f7931e; line-height: 200%; color: #fff; font-size: 100%;">Mai</h3>
<table class="calendar-month table-agenda"
       style="width: 100%; height: auto; border: 1px solid #9c9ea3; border-collapse:collapse; vertical-align:middle;">
<tbody style="line-height: 90%;" class="tbody-agenda">
<tr>
    <td style="width: 10%;">M</td>
    <td style="width: 10%;">1</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 5%;"></td>
</tr>
<tr>
    <td style="width: 10%;">J</td>
    <td style="width: 10%;">2</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">V</td>
    <td style="width: 10%;">3</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">S</td>
    <td style="width: 10%;">4</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">D</td>
    <td style="width: 10%;">5</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">L</td>
    <td style="width: 10%;">6</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">M</td>
    <td style="width: 10%;">7</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">M</td>
    <td style="width: 10%;">8</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">J</td>
    <td style="width: 10%;">9</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">V</td>
    <td style="width: 10%;">10</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">S</td>
    <td style="width: 10%;">11</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">D</td>
    <td style="width: 10%;">12</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">L</td>
    <td style="width: 10%;">13</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">M</td>
    <td style="width: 10%;">14</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">M</td>
    <td style="width: 10%;">15</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">J</td>
    <td style="width: 10%;">16</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">V</td>
    <td style="width: 10%;">17</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">S</td>
    <td style="width: 10%;">18</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">D</td>
    <td style="width: 10%;">19</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">L</td>
    <td style="width: 10%;">20</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">M</td>
    <td style="width: 10%;">21</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">M</td>
    <td style="width: 10%;">22</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">J</td>
    <td style="width: 10%;">23</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">V</td>
    <td style="width: 10%;">24</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">S</td>
    <td style="width: 10%;">25</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">D</td>
    <td style="width: 10%;">26</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">L</td>
    <td style="width: 10%;">27</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">M</td>
    <td style="width: 10%;">28</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">M</td>
    <td style="width: 10%;">29</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">J</td>
    <td style="width: 10%;">30</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">V</td>
    <td style="width: 10%;">31</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
</tbody>
</table>
</div>
<div style="background: #f7931e;" class="footer-month">
    <p style="margin-bottom: 0px" class="ng-editable" data-max-length="150"></p>
</div>
</div>
<div style="display: inline-block; float: left; width: 16%;" class="mois-agenda">
<div>
<h3 style="background: #fbb040; line-height: 200%; color: #fff; font-size: 100%;">Juin</h3>
<table class="calendar-month table-agenda"
       style="width: 100%; height: auto; border: 1px solid #9c9ea3; border-collapse:collapse; vertical-align:middle;">
<tbody style="line-height: 90%;" class="tbody-agenda">
<tr>
    <td style="width: 10%;">M</td>
    <td style="width: 10%;">1</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 5%;"></td>
</tr>
<tr>
    <td style="width: 10%;">J</td>
    <td style="width: 10%;">2</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">V</td>
    <td style="width: 10%;">3</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">S</td>
    <td style="width: 10%;">4</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">D</td>
    <td style="width: 10%;">5</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">L</td>
    <td style="width: 10%;">6</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">M</td>
    <td style="width: 10%;">7</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">M</td>
    <td style="width: 10%;">8</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">J</td>
    <td style="width: 10%;">9</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">V</td>
    <td style="width: 10%;">10</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">S</td>
    <td style="width: 10%;">11</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">D</td>
    <td style="width: 10%;">12</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">L</td>
    <td style="width: 10%;">13</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">M</td>
    <td style="width: 10%;">14</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">M</td>
    <td style="width: 10%;">15</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">J</td>
    <td style="width: 10%;">16</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">V</td>
    <td style="width: 10%;">17</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">S</td>
    <td style="width: 10%;">18</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">D</td>
    <td style="width: 10%;">19</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">L</td>
    <td style="width: 10%;">20</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">M</td>
    <td style="width: 10%;">21</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">M</td>
    <td style="width: 10%;">22</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">J</td>
    <td style="width: 10%;">23</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">V</td>
    <td style="width: 10%;">24</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">S</td>
    <td style="width: 10%;">25</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">D</td>
    <td style="width: 10%;">26</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">L</td>
    <td style="width: 10%;">27</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">M</td>
    <td style="width: 10%;">28</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">M</td>
    <td style="width: 10%;">29</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
<tr>
    <td style="width: 10%;">J</td>
    <td style="width: 10%;">30</td>
    <td style="width: 10%;"></td>
    <td style="width: 65%; font-size: 60%;" class="ng-editable" data-one-line="true" data-max-length="20"></td>
    <td style="width: 2%;"></td>
</tr>
</tbody>
</table>
</div>
<div style="background: #fbb040;" class="footer-month footer-month30">
    <p style="margin-bottom: 0px" class="ng-editable" data-max-length="150"></p>
</div>
</div>
</div>
<div style="display: block; width: 100%; height: 5%; font-size: 140%">
    <h5 style="color: #58595b; float: left; width: 15%;" class="ng-date-vac-select">
        <img src="images/pictos/puces-vacances-agenda.png" alt="puces-titre-folio" title="puces-titre-folio"
             class="trait-vacances-footer"/>
        Vacances scolaires
    </h5>
    <h5 style="color: #58595b; float: left; width: 15%;" class="ng-date-ferie-select">
        <img src="images/pictos/picto-jr-ferie-pdf.png" alt="puces-titre-folio" title="puces-titre-folio"
             class="picto-jr-ferie-footer"/>
        Jour férié
    </h5>
    <h5 style="display: none; cursor: pointer;" class="ng-date-vac-select-apply">
        <img src="images/pictos/check-jaune.png" alt="Terminer la sélection des vacances"
             title="Terminer la sélection des vacances">
        Terminer la sélection des vacances
    </h5>
    <h5 style="display: none;cursor: pointer;" class="ng-date-ferie-select-apply">
        <img src="images/pictos/check-jaune.png" alt="Terminer la sélection des jours fériés"
             title="Terminer la sélection des jours fériés">
        Terminer la sélection des jours fériés
    </h5>
</div>
</div>
