<div style="background-color: #fff; text-align: left; padding: 0 1%; width: 100%; height: 100%; font-family: 'PT sans',Arial;">
    <div style="background-color: #fff; font-size: 8px; text-align: center; float: left; width: 100%; height:100%; border-right: 1px solid #000;">
        <div style="width: 100%; height: 7%">
            <div style="width: 30%; height: 100%; float: left;">
                <img src="images/logo-reseau-rural.png" alt="logo" title="Logo" style="width: 100%; height: auto;"/>
            </div>
            <div style="width: 49%; height: 100%; float: left;">
                <img src="images/pictos/agenda/header-agenda.png" alt="logo" title="Logo" style="width: 100%; height: auto;"/>
            </div>
            <div class="ng-editable" style="width: 20%; height: 100%; float: right;">
                <img src="images/logo.png" alt="logo" title="Logo" style="width: 100%; height:auto;"/>
            </div>
        </div>
        <div style="display: block; width: 100%; height: 75%; padding-bottom: 1%; padding-top: 10px; font-size: 10px">        
            <div style="display: inline-block; float: left; width: 15%; height: 80%; padding-bottom: 1%;">
                <h3>Janvier</h3>
                    <table style="width: 100%; height: 100%;">
                        <tr>
                          <th>M</th>
                          <th>1</th>
                          <th class="ng-editable"></th>
                        </tr>
                        <tr>
                          <td>J</td>
                          <td>2</td>
                          <td class="ng-editable"></td>
                        </tr>
                        <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <th>J</th>
                          <th>16</th>
                          <th class="ng-editable"></th>
                        </tr>
                        <tr>
                          <td>V</td>
                          <td>17</td>
                          <td class="ng-editable"></td>
                        </tr>
                        <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td>J</td>
                          <td>30</td>
                          <td class="ng-editable"></td>
                        </tr>
                        <tr>
                          <td>V</td>
                          <td>31</td>
                          <td class="ng-editable"></td>
                        </tr>
                      </table>
                <p>ksg kgfskgsg gsfsqksqkhf</p>
            </div>
            <div style="display: inline-block; float: left; width: 15%; height: 80%; padding-bottom: 1%;">
                <h3>Février</h3>
                <table style="width: 100%; height: 100%;">
                        <tr>
                          <th>S</th>
                          <th>1</th>
                          <th class="ng-editable"></th>
                        </tr>
                        <tr>
                          <td>D</td>
                          <td>2</td>
                          <td class="ng-editable"></td>
                        </tr>
                        <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <th>D</th>
                          <th>16</th>
                          <th class="ng-editable"></th>
                        </tr>
                        <tr>
                          <td>L</td>
                          <td>17</td>
                          <td class="ng-editable"></td>
                        </tr>
                        <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td>V</td>
                          <td>28</td>
                          <td class="ng-editable"></td>
                        </tr>                        
                      </table>
                <p>lkshh kjhsjk hkhdgh g</p>
            </div>
            <div style="display: inline-block; float: left; width: 15%; height: 80%; padding-bottom: 1%; ">
                <h3>Janvier</h3>
                <img src="images/folio2.png" alt="phototheque" title="Photothèque"/>
                <br>
                <p>lkhkqss qjkskjsgjksg gskgkj s</p>
            </div>
            <div style="display: inline-block; float: left; width: 15%; height: 80%; padding-bottom: 1%;">
                <h3>Mars</h3>
                <img src="images/folio2.png" alt="phototheque" title="Photothèque"/>
                <br>
                <p>jdkjdkjjvsujdsj</p>
            </div>
            <div style="display: inline-block; float: left; width: 15%; height: 80%; padding-bottom: 1%;">
                <h3>Avril</h3>
                <img src="images/folio2.png" alt="phototheque" title="Photothèque"/>
                <br>
                <p>klhjklsqklkldldlkhjkdgkljds</p>
            </div>
            <div style="display: inline-block; float: left; width: 15%; height: 80%; padding-bottom: 1%;">
                <h3>Avril</h3>
                <img src="images/folio2.png" alt="phototheque" title="Photothèque"/>
                <br>
                <p>hhkldshklkldjkdlbdsbsddbds</p>
            </div>
        </div>   
        <div style="display: block; width: 100%; height: 5%; padding-bottom: 1%; font-size: 10px">     
           <h5 style="color: #58595b; float: left;"><img src="images/pictos/puce-titre-folio.png" style="margin-right: 1%;" alt="puces-titre-folio" title="puces-titre-folio"/>Vacances scolaires</h5>
           <h5 style="color: #58595b; float: left;"><img src="images/pictos/puce-titre-folio.png" style="margin-left: 1%;" alt="puces-titre-folio" title="puces-titre-folio"/>Jour férié</h5>
        </div>
    </div>
</div>
