<div class="size-folio-a4" style="background-color: #fff; text-align: left; padding: 1%; font-family: 'Lato',Arial; color: #58595b; font-size: 80%;">
    <div style="width: 100%;" class="block-ensemble-title">
        <div style="width: 69%; float: left;">
            <h1 class="ng-locked" style="font-size: 200%; text-transform: uppercase; font-weight: 300; color: #93989e;">###TITRE_ENSEMBLE###</h1>
        </div>
        <div style="width: 25%; float: left;">
            <img src="###LOGO###" alt="logo" title="Logo" style="float: right;" class="ng-picture-select logo-titre-folio"/>
        </div>
    </div>
    <div style="width: 100%; height: 7%" class="texte-ensemble">
        <p style="margin-bottom: 1%;">###TEXTE_ENSEMBLE###</p>
    </div>
    <div style="display: block; width: 100%; height: 23%; border-bottom: 1px solid #e57e0c;" class="texte-ensemble texte-ensemble-dechets">   
        <div style="width: 22%; float: left; text-align: center;">
            <img src="###DECHETS###" alt="logo" title="Logo" style="width: 60%; height:auto;"/>
        </div> 
        <div style="width: 78%; float: left;">
            <h4 style="color: #e57e0c; font-size: 140%; text-transform: uppercase;">###TITRE_DECHETS###</h4>
            <p style="margin-bottom: 1%;" class="ng-editable" data-max-length="450">###TEXTE_DECHETS###</p>
            <span class="ng-editable" data-one-line="true" data-max-length="85">###TITRE_COLLECTE_DECHETS###</span>
            <ul style="padding-left: 1%;" class="ul-ensemble"> 
                <li class="ng-editable" data-one-line="true" data-max-length="95">###TEXTE_COLLECTE_DECHETS_1###</li> 
                <li class="ng-editable" data-one-line="true" data-max-length="95">###TEXTE_COLLECTE_DECHETS_2###</li> 
                <li class="ng-editable" data-one-line="true" data-max-length="95">###TEXTE_COLLECTE_DECHETS_3###</li> 
            </ul>
            <p style="margin-bottom: 1%;" class="ng-editable" data-max-length="190">###TEXTE_COLLECTE_DECHETS_PIED###</p>
        </div> 
    </div>
    <div style="display: block; width: 100%; height: 43%;" class="texte-ensemble">        
        <div style="width: 22%; float: left; text-align: center;">
            <img src="###HAIES###" alt="logo" title="Logo" style="width: 60%; height:auto;"/>
        </div> 
        <div style="width: 78%; float: left;">
            <h4 style="color: #e57e0c; font-size: 140%; text-transform: uppercase; padding-top: 1%;">###TITRE_ENTRETIEN###</h4>
            <p style="margin-bottom: 1%;" class="ng-editable" data-max-length="2200">###TEXTE_ENTRETIEN###</p>
        </div>               
    </div> 
</div>
