<div style="background-color: #fff; text-align: left; padding: 5px; min-height: 1030px;">
    <div style="width: 100%; height: 110px">
        <div style="width: 68%; float: left;">
            <h1 class="ng-locked" style="font-size: 20px; text-transform: uppercase;">Bien Vivre ensemble</h1>
        </div>
        <div class="ng-editable" style="width: 31%; float: left;">
            <img src="images/logo.png" alt="logo" title="Logo" style="width: 175px"/>
        </div>
    </div>
    <div style="width: 100%; height: 110px">
        <p class="ng-editable">Nam fringilla vehicula condimentum. In scelerisque nunc neque, sit amet dictum dui interdum eget. Suspendisse sed malesuada velit. Donec massa 
                    velit, tincidunt nec congue vitae, rutrum eget orci. Vestibulum nullam.</p>
    </div>
    <div style="display: block; width: 100%; height: 300px; border-bottom: 1px solid #e57e0c; padding-bottom: 5px;">   
        <div style="width: 22%; float: left; text-align: center;">
            <img src="images/pictos/bien-vivre/dechets.png" alt="logo" title="Logo"/>
        </div> 
        <div style="width: 78%; float: left;">
            <h4 style="color: #e57e0c; font-size: 18px; text-transform: uppercase; padding-top: 5px;">Déchets</h4>
            <p class="ng-editable">Nam fringilla vehicula condimentum. In scelerisque nunc neque, sit amet dictum dui interdum eget. Suspendisse sed malesuada velit. Donec massa 
                velit, tincidunt nec congue vitae, rutrum eget orci. Vestibulum nullam.</p>
            <p class="ng-editable">Jours de collecte</p>
            <ul class="ng-editable" style="padding-left: 20px;"> 
                <li>Des ordures ménagères, le (date à compléter)</li> 
                <li>Des déchets recyclables, le (date à compléter)</li> 
                <li>Des déchets verts, le (date à compléter)</li> 
            </ul>
            <p class="ng-editable">La déchetterie la plus proche est celle de (Adresse + horaires d'ouverture à compléter)</p>
        </div> 
    </div>
    <div style="display: block; width: 100%; height: 300px; border-bottom: 1px solid #e57e0c; padding-bottom: 5px; padding-top: 10px;">        
        <div style="width: 22%; float: left; text-align: center;">
            <img src="images/pictos/bien-vivre/entretien-haies.png" alt="logo" title="Logo"/>
        </div> 
        <div style="width: 78%; float: left;">
            <h4 style="color: #e57e0c; font-size: 18px; text-transform: uppercase; padding-top: 5px;">Entretien des haies et mitoyenneté</h4>
            <p class="ng-editable">Nam fringilla vehicula condimentum. In scelerisque nunc neque, sit amet dictum dui interdum eget. Suspendisse sed malesuada velit. Donec massa 
                velit, tincidunt nec congue vitae, rutrum eget orci. Vestibulum nullam.</p>                
        </div>               
    </div> 
    <div style="display: block; width: 100%; height: 100px; padding-top: 5px;">
        <div>
            <div style="width: 65%; float: left; display: block;">
                <img src="images/region-haute-normandie.png" alt="logo" title="Logo"/>
                <img src="images/prefet-haute-normandie.jpg" alt="logo" title="Logo"/>
                <img src="images/europe-feader.png" alt="logo" title="Logo"/>
            </div>
            <div style="width: 35%; float: left;">
                <img src="images/logo-reseau-rural.png" alt="logo" title="Logo" style="width: 200px"/>
            </div>            
        </div>
    </div>    
</div>
