<div class="size-folio-a4" style="background-color: #fff; text-align: left; padding: 1%; font-family: 'Lato',Arial; color: #58595b; font-size: 80%;">
    <div style="width: 100%;" class="block-ensemble-title">
        <div style="width: 69%; float: left;">
            <h1 class="ng-locked" style="font-size: 200%; text-transform: uppercase; font-weight: 300; color: #93989e;">Bien Vivre ensemble</h1>
        </div>
        <div style="width: 25%; float: left;">
            <img src="images/logo.png" alt="logo" title="Logo" style="float: right;" class="ng-picture-select logo-titre-folio"/>
        </div>
    </div>
    <div style="width: 100%; height: 7%" class="texte-ensemble">
        <p style="margin-bottom: 1%;">Lieu d’activités professionnelles pour les uns, lieu de vie synonyme de tranquillité pour les autres, 
            la vie à la campagne génère parfois des tensions, voire des conflits par méconnaissance des activités et contraintes de chacun. 
            Ce guide a pour vocation de rappeler les droits et devoirs de chacun pour mieux vivre ensemble. </p>
    </div>
    <div style="display: block; width: 100%; height: 23%; border-bottom: 1px solid #e57e0c;" class="texte-ensemble texte-ensemble-dechets">   
        <div style="width: 22%; float: left; text-align: center;">
            <img src="images/pictos/bien-vivre/dechets.png" alt="logo" title="Logo" style="width: 60%; height:auto;"/>
        </div> 
        <div style="width: 78%; float: left;">
            <h4 style="color: #e57e0c; font-size: 140%; text-transform: uppercase;">Déchets</h4>
            <p style="margin-bottom: 1%;" class="ng-editable" data-max-length="450">N’oubliez pas de sortir les bacs la veille au soir et de les rentrer le plus tôt possible après la collecte. 
                Pensez à  recycler les déchets verts et les déchets de cuisine, au lieu de les mettre en sac ou de les apporter à la déchetterie. Le compostage permet 
                à la fois de limiter la production de déchets mais aussi de produire un engrais réutilisable pour le jardinage.</p>
            <span class="ng-editable" data-one-line="true" data-max-length="85">Jours de collecte</span>
            <ul style="padding-left: 1%;" class="ul-ensemble"> 
                <li class="ng-editable" data-one-line="true" data-max-length="95">Des ordures ménagères, le (date à compléter)</li> 
                <li class="ng-editable" data-one-line="true" data-max-length="95">Des déchets recyclables, le (date à compléter)</li> 
                <li class="ng-editable" data-one-line="true" data-max-length="95">Des déchets verts, le (date à compléter)</li> 
            </ul>
            <p style="margin-bottom: 1%;" class="ng-editable" data-max-length="190">La déchetterie la plus proche est celle de (Adresse + horaires d'ouverture à compléter)</p>
        </div> 
    </div>
    <div style="display: block; width: 100%; height: 43%;" class="texte-ensemble">        
        <div style="width: 22%; float: left; text-align: center;">
            <img src="images/pictos/bien-vivre/entretien-haies.png" alt="logo" title="Logo" style="width: 60%; height:auto;"/>
        </div> 
        <div style="width: 78%; float: left;">
            <h4 style="color: #e57e0c; font-size: 140%; text-transform: uppercase; padding-top: 1%;">Entretien des haies et mitoyenneté</h4>
            <p style="margin-bottom: 1%;" class="ng-editable" data-max-length="2200">
                Les haies vives doivent être plantées à 50 cm de la limite de propriété. Si elles sont situées à moins de 2 m de la limite de propriété, les haies ne doivent pas dépasser 2 m de hauteur.<br>
Une haie (ou une clôture) peut être implantée juste sur la limite de propriété dès lors que les 2 propriétaires riverains sont d’accord. Dans ce cas la haie (ou la clôture) est mitoyenne et propriété commune des deux voisins.<br>
Pour un arbre, la distance minimale de plantation est de 2 m à l’intérieur de la parcelle.<br>
Un propriétaire a le droit de construire sur son propre terrain, jusqu’en limite de propriété, sans besoin de l’accord du propriétaire voisin. Cependant, s’il souhaite laisser un espace entre cette construction et la propriété riveraine, des règles de distance doivent être respectées : en dehors d’une règle particulière fixée par le document d’urbanisme de la commune, la distance minimale entre une construction et le terrain voisin est égale à la moitié de la hauteur de la construction envisagée, avec un minimum de 3 mètres. La création de fenêtres ou de vues est également soumise à des règles de distance.<br>
Veillez à entretenir et à taillez régulièrement vos plantations pour qu’elles n’empiètent pas chez vos voisins. Evitez qu’elles gênent la visibilité ou la mobilité sur la route et les trottoirs.<br>
Choisissez des essences indigènes pour les haies afin de favoriser la biodiversité (charme, hêtre, érable, cornouiller, etc.).<br>
Consultez le  règlement d’urbanisme de votre  commune pour connaître les spécificités locales en matière de construction et dans tous les cas, prenez soin d’avertir votre voisin avant tout projet.<br>
Pour le choix des essences locales et des conseils techniques sur la plantation :<br>
www.caue76.org<br>
http://www.caue27.fr<br>
            </p>
        </div>               
    </div> 
</div>
