<div style="background-color: #fff; text-align: left; padding: 1%; height: 98%; width: 98%; font-family: 'Lato',Arial; color: #58595b; font-size: 80%;">
    <div style="width: 100%; height: 8%">
        <div style="width: 68%; float: left;">
            <h1 class="ng-locked" style="font-size: 200%; text-transform: uppercase; font-weight: 300; color: #93989e;">Bien Vivre ensemble</h1>
        </div>
        <div style="width: 31%; float: left;">
            <img src="images/logo.png" alt="logo" title="Logo" style="width: 70%; height:auto; float: right;" class="ng-picture-select"/>
        </div>
    </div>
    <div style="display: block; width: 100%; height: 15%; border-bottom: 1px solid #e57e0c;">        
        <div style="width: 22%; float: left; text-align: center;">
            <img src="images/pictos/bien-vivre/bruit.png" alt="logo" title="Logo" style="width: 60%; height:auto;"/>
        </div> 
        <div style="width: 78%; float: left;">
            <h4 style="color: #e57e0c; font-size: 140%; text-transform: uppercase;">Bruits</h4>
            <p style="margin-bottom: 1%;" class="ng-editable" data-max-length="500">
                Prévenez vos voisins si vous prévoyez exceptionnellement de faire du bruit que ce soit en journée ou 
                le soir et limitez au maximum les désagréments.<br>
            Renseignez-vous en mairie afin de connaître les horaires où les activités bruyantes (tondeuse, tronçonneuse, 
                bricolage,…) sont autorisées.
            </p>                
        </div>               
    </div>
    <div style="display: block; width: 100%; height: 60%;">        
        <div style="width: 22%; float: left; text-align: center;">
            <img src="images/pictos/bien-vivre/circulation.png" alt="logo" title="Logo" style="width: 60%; height:auto;"/>
        </div> 
        <div style="width: 78%; float: left;">
            <h4 style="color: #e57e0c; font-size: 140%; text-transform: uppercase; padding-top: 1%">Circulation, Partage de la voie publique</h4>
            <p style="margin-bottom: 1%;" class="ng-editable" data-max-length="2100">
Que vous soyez à pied, à vélo, à cheval ou en voiture, la vitesse et l’emprise sur la route ne sont pas les mêmes. La prudence et la bienveillance à l’égard des autres usagers sont alors essentielles.<br>
<br>Si vous êtes à pied :<br>
&nbsp;&nbsp;&nbsp;&nbsp;- Pour un piéton seul ou un groupe en file indienne : marchez sur le bord gauche de la chaussée dans le sens de votre marche. Vous êtes ainsi face aux véhicules et vous les verrez mieux arriver. Ecartez-vous et marchez sur l’accotement, lorsqu’un véhicule vient vers vous.<br>
&nbsp;&nbsp;&nbsp;&nbsp;- Pour un groupe de piétons qui avancent 2 par 2 : marchez près du bord droit de la chaussée et laissez libre au moins toute la moitié gauche de la route. Vous occupez ainsi la chaussée comme si vous étiez un véhicule avançant au pas et vous pourrez vous faire doubler par les autres utilisateurs de la voie.<br>
<br>Si vous êtes à vélo ou à cheval, vous êtes considéré comme un véhicule :<br>
&nbsp;&nbsp;&nbsp;&nbsp;- Dans les virages, serrez à droite car les voitures ne vous voient qu’au dernier moment.<br>
&nbsp;&nbsp;&nbsp;&nbsp;- Si vous êtes en groupe, circulez à deux de front au maximum ou en file indienne. La nuit, en cas de dépassement par un véhicule ou lorsque les circonstances l’exigent (chaussée étroite par exemple.), placez-vous systématiquement en file indienne.<br>
&nbsp;&nbsp;&nbsp;&nbsp;- Si votre groupe compte plus de dix personnes, scindez-le.<br>
<br>Si vous êtes motorisé : La circulation en véhicule à moteur est interdite sur les chemins sauf autorisation spéciale par arrêté municipal. Les routes forestières sont également fermées à la circulation motorisée, consultez l’ONF (forêts communales et domaniales) ou le propriétaire (forêts privées) pour connaître les dérogations accordées.<br>
Les routes peuvent être salies par les engins agricoles lors des travaux de saison, par les animaux lors de divers déplacements ou par d’autres usagers (véhicules tout terrain, cars scolaires…). Pour la sécurité et le confort de tous, signalez, dans la mesure du possible, les zones temporairement souillées et nettoyez rapidement.
</p>
        </div>               
    </div>
    <div style="display: block; width: 100%; height: 10%; padding-top: 1%;">
        <div>
            <div style="width: 65%; float: left; display: block;">
                <img src="images/region-haute-normandie.png" alt="logo" title="Logo" style="width: 10%; height:auto;"/>
                <img src="images/prefet-haute-normandie.jpg" alt="logo" title="Logo" style="width: 13%; height:auto;"/>
                <img src="images/europe-feader.png" alt="logo" title="Logo" style="width: 20%; height:auto;"/>
            </div>
            <div style="width: 35%; float: left;">
                <img src="images/logo-reseau-rural.png" alt="logo" title="Logo" style="width: 100%; height:auto;"/>
            </div>             
        </div>
    </div>    
</div>
