<div style="background-color: #fff; text-align: left; padding: 1%; height: 98%; width: 98%; font-family: 'Lato',Arial; color: #58595b; font-size: 80%;">
    <div style="width: 100%; height: 8%">
        <div style="width: 68%; float: left;">
            <h1 class="ng-locked" style="font-size: 200%; text-transform: uppercase; font-weight: 300; color: #93989e;">Bien Vivre ensemble</h1>
        </div>
        <div style="width: 31%; float: left;">
            <img src="images/logo.png" alt="logo" title="Logo" style="width: 70%; height:auto; float: right;" class="ng-picture-select"/>
        </div>
    </div>
    <div style="display: block; width: 100%; height: 15%; border-bottom: 1px solid #e57e0c;">        
        <div style="width: 22%; float: left; text-align: center;">
            <img src="images/pictos/bien-vivre/animaux.png" alt="logo" title="Logo" style="width: 60%; height:auto;"/>
        </div> 
        <div style="width: 78%; float: left;">
            <h4 style="color: #e57e0c; font-size: 140%; text-transform: uppercase;">Animaux</h4>
            <p style="margin-bottom: 1%;" class="ng-editable" data-max-length="500">Prévenez la mairie en cas de présence d’animaux errants ou en état de divagation dans la commune.
                Veillez à bien refermer les barrières si vous êtes amené, lors d’une promenade, à traverser un herbage.
                Respectez les clôtures, pour éviter que des animaux s’échappent.
                Dans tous les cas, ne dérangez pas les animaux.
            </p>                
        </div>               
    </div>
    <div style="display: block; width: 100%; height: 30%; border-bottom: 1px solid #e57e0c;">        
        <div style="width: 22%; float: left; text-align: center;">
            <img src="images/pictos/bien-vivre/chasse.png" alt="logo" title="Logo" style="width: 60%; height:auto;"/>
        </div> 
        <div style="width: 78%; float: left;">
            <h4 style="color: #e57e0c; font-size: 140%; text-transform: uppercase; padding-top: 1%;">Chasse</h4>
            <p style="margin-bottom: 1%;" class="ng-editable" data-max-length="1000">Durant la période d’ouverture de la chasse, chacun doit être vigilant.<br>
                Chasseurs, avertissez à l’aide de panneaux placés sur le terrain qu’une chasse est en cours et lorsque vous croisez un promeneur, cassez et déchargez votre arme, le contact n’en sera que plus facile.<br>
                Promeneurs, renseignez-vous auprès de votre mairie ou  de la fédération des chasseurs sur les périodes de chasse. <br>
                Pour organiser vos balades, contactez l’ONF (pour les forêts domaniales  et communales) ou l’association locale de chasse afin de connaître les jours et lieux de chasse. Evitez de vous aventurer dans les bois et ne quittez pas les sentiers si une signalétique spécifique a été mise en place.<br>
                Les arrêtés préfectoraux définissant les périodes d’ouverture de la chasse sont disponibles sur les sites internet des fédérations départementales des chasseurs : <br>
                http://www.fdc76.com  http://www.fdc27.com/
            </p>
        </div>               
    </div>    
    <div style="display: block; width: 100%; height: 30%; border-bottom: 1px solid #e57e0c;">        
        <div style="width: 22%; float: left; text-align: center;">
            <img src="images/pictos/bien-vivre/feu.png" alt="logo" title="Logo" style="width: 60%; height:auto;"/>
        </div> 
        <div style="width: 78%; float: left;">
            <h4 style="color: #e57e0c; font-size: 140%; text-transform: uppercase; padding-top: 1%">Feu</h4>
            <p style="margin-bottom: 1%;" class="ng-editable" data-max-length="600">
Le feu, y compris le brûlage des déchets verts, est interdit par la loi, sauf  dérogation du préfet. Renseignez-vous en mairie, pour savoir si une dérogation existe.<br>
Il existe d’autres solutions pour éliminer vos déchets (cf. rubrique déchets).
            </p>
        </div>               
    </div>
    <div style="display: block; width: 100%; height: 10%; padding-top: 1%;">
        <div>
            <div style="width: 65%; float: left; display: block;">
                <img src="images/region-haute-normandie.png" alt="logo" title="Logo" style="width: 10%; height:auto;"/>
                <img src="images/prefet-haute-normandie.jpg" alt="logo" title="Logo" style="width: 13%; height:auto;"/>
                <img src="images/europe-feader.png" alt="logo" title="Logo" style="width: 20%; height:auto;"/>
            </div>
            <div style="width: 35%; float: left;">
                <img src="images/logo-reseau-rural.png" alt="logo" title="Logo" style="width: 100%; height:auto;"/>
            </div>             
        </div>
    </div>   
</div>
