<div class="size-folio-a4" style="background-color: #fff; text-align: left; padding: 1%; font-family: 'Lato',Arial; color: #58595b; font-size: 80%;">
    <div style="width: 100%;" class="block-ensemble-title">
        <div style="width: 69%; float: left;">
            <h1 class="ng-locked" style="font-size: 200%; text-transform: uppercase; font-weight: 300; color: #93989e;">###TITRE_ENSEMBLE###</h1>
        </div>
        <div style="width: 25%; float: left;">
            <img src="images/logo.png" alt="logo" title="Logo" style="float: right;" class="ng-picture-select logo-titre-folio"/>
        </div>
    </div>
    <div style="display: block; width: 100%; border-bottom: 1px solid #e57e0c;" class="texte-ensemble texte-ensemble-animaux">        
        <div style="width: 22%; float: left; text-align: center;">
            <img src="images/pictos/bien-vivre/animaux.png" alt="logo" title="Logo" style="width: 60%; height:auto;"/>
        </div> 
        <div style="width: 78%; float: left;">
            <h4 style="color: #e57e0c; font-size: 140%; text-transform: uppercase;">###TITRE_ANIMAUX###</h4>
            <p style="margin-bottom: 1%;" class="ng-editable" data-max-length="700">###TEXTE_ANIMAUX###</p>                
        </div>               
    </div>
    <div style="display: block; width: 100%; border-bottom: 1px solid #e57e0c;" class="texte-ensemble  texte-ensemble-chasse">        
        <div style="width: 22%; float: left; text-align: center;">
            <img src="images/pictos/bien-vivre/chasse.png" alt="logo" title="Logo" style="width: 60%; height:auto;"/>
        </div> 
        <div style="width: 78%; float: left;">
            <h4 style="color: #e57e0c; font-size: 140%; text-transform: uppercase; padding-top: 1%;">###TITRE_CHASSE###</h4>
            <p style="margin-bottom: 1%;" class="ng-editable" data-max-length="1200">###TEXTE_CHASSE###</p>
        </div>               
    </div>    
    <div style="display: block; width: 100%;" class="texte-ensemble texte-ensemble-feu">        
        <div style="width: 22%; float: left; text-align: center;">
            <img src="images/pictos/bien-vivre/feu.png" alt="logo" title="Logo" style="width: 60%; height:auto;"/>
        </div> 
        <div style="width: 78%; float: left;">
            <h4 style="color: #e57e0c; font-size: 140%; text-transform: uppercase; padding-top: 1%">###TITRE_FEU###</h4>
            <p style="margin-bottom: 1%;" class="ng-editable" data-max-length="600">###TEXTE_FEU###</p>
        </div>               
    </div>
    <div style="display: block; width: 100%; height: 10%; padding-top: 1%;">
        <div>
            <div style="width: 65%; float: left; display: block;">
                <img src="###IMAGE_RHN###" alt="logo" title="Logo" style="width: 10%; height:auto;"/>
                <img src="###IMAGE_PHN###" alt="logo" title="Logo" style="width: 13%; height:auto;"/>
                <img src="###IMAGE_EF###" alt="logo" title="Logo" style="width: 20%; height:auto;"/>
            </div>
            <div style="width: 35%; float: left;">
                <img src="###IMAGE_RR###" alt="logo" title="Logo" style="width: 100%; height:auto;"/>
            </div>             
        </div>
    </div>   
</div>
