<div style="background-color: #fff; text-align: left; font-family: 'Lato', Arial; overflow: hidden; font-size: 12px;" class="size-pochette">
    <div class="texte-pochette-recto size-pochette-pli" style="background-color: #fff; font-size: 60%; font-weight: 300; text-align: center; float: left; border-right: 1px solid #000;">
        <div class="ng-locked texte-pochette-recto block-pochette-recto-left-1">
            <p class="texte-pochette-recto">Le livret d'accueil des nouveaux arrivants est un outil développé dans le cadre des travaux du réseau rural Haut-Normand (RRHN).</p>
            <p>Le RRHN est un réseau ouvert à tous les acteurs du développement rural. Il permet le partage des expériences de développement local 
                en milieu rural à travers des rencontres thématiques, un séminaire annuel et la production d'outils et de ressources<br>
                <span style="text-align: justify; font-size: 60%;">
                (newsletter, site internet http://pdrh.draf.haute-normandie.agriculture.gouv.fr/Le-Reseau-Rural-Haut-Normand)
                </span></p>
        </div>
        <div class="texte-pochette-recto block-pochette-recto-left-2">
            <span class="ng-editable" style="font-weight: bold;">Coordonnées</span><br>
            <span class="ng-editable" data-one-line="true">8, rue de l'Eglise</span><br> 
            <span class="ng-editable" data-one-line="true">76170 Saint Jean de Folleville</span> <br> 
            <span class="ng-editable" data-one-line="true">Tél : 02.35.39.82.76</span><br> 
            <span class="ng-editable" data-one-line="true">Fax : 02.35.39.97.19</span><br> 
            <span class="ng-editable" data-one-line="true">Courriel : mairie.saintjeandefolleville@wanadoo.fr</span><br> 
            <span class="ng-editable" data-one-line="true">Site Internet : http://www.saintjeandefolleville.fr</span><br> 
        </div>
        <div class="block-pochette-recto-left-3">
            <img src="images/region-haute-normandie.png" alt="logo" title="Logo" class="logo-region">
            <img src="images/prefet-haute-normandie.jpg" alt="logo" title="Logo" class="logo-prefet">
            <img src="images/europe-feader.png" alt="logo" title="Logo" class="logo-europe">                  
        </div>    
    </div>
    <div class="size-pochette-pli" style="background-color: #fff; font-size: 80%; text-align: left; float: left; overflow: hidden;">
        <div class="block-pochette-recto-right-1">
            <div style="width: 40%; height: auto; float: left;"><img src="images/logo-reseau-rural.png" alt="logo" title="Logo" style="max-width: 100%; height:auto;padding-top: 10%;"></div>
        </div>   
        <div class="block-pochette-recto-right-2">
            <h1 class="ng-locked h1pochette" style="font-family: 'Lato'; font-weight: lighter;">Bienvenue à</h1>            
            <h2 class="ng-editable h2pochette" data-one-line="true" data-max-length="30" style="font-family: 'Lato'; font-weight: bold;">Nom de votre territoire</h2>
        </div>
        <div class="block-pochette-recto-right-3">
            <img src="images/pictos/pochette/logo-territoire.jpg" class="ng-picture-select logo-pochette" alt="logo" title="Logo" style="max-width: 80%; height:100%;"/>
        </div>            
        <div class="texte-pochette-recto block-pochette-recto-right-4">           
            <div class="mot-pochette-1 ng-editable" data-max-length="20" style="color: #e57e0c;">Accueillir</div>               
            <div class="mot-pochette-2  ng-editable" data-max-length="20" style="color: #00a295;">Agir</div>               
            <div class="mot-pochette-3 ng-editable" data-max-length="20" style="color: #7a1b7f;">Découvrir</div>               
            <div class="mot-pochette-4 ng-editable" data-max-length="20" style="color: #95a71f;">Vivre ensemble</div>      
        </div>
        <div class="block-img-pochette-recto">
            <div class="div-img-pochette-recto">
                <img src="images/pictos/pochette/1.png" class="ng-picture-select img-pochette" alt="logo" title="Logo"/>
            </div>
            <div class="div-img-pochette-recto">
                <img src="images/pictos/pochette/2.png" class="ng-picture-select img-pochette" alt="logo" title="Logo"/>
            </div>
            <div class="div-img-pochette-recto">
                <img src="images/pictos/pochette/3.png" class="ng-picture-select img-pochette" alt="logo" title="Logo"/>
            </div>
            <div class="div-img-pochette-recto" style="margin-right: 0;">
                <img src="images/pictos/pochette/4.png" class="ng-picture-select img-pochette" alt="logo" title="Logo"/>
            </div>
        </div>    
    </div>
</div>
