<div class="size-pochette" style="background-color: #fff; font-size: 50%; line-height: 8px; text-align: left; font-family: 'Lato', 'Jura', Arial; font-weight: 300; color: #58595b">
    <div class="size-pochette-pli" style="background-color: #fff; text-align: left; float: left; border-right: 1px solid #000;">
        <div class="block-pochette-verso-left-1">
            <img src="images/pictos/pochette/edito.jpg" alt="logo" title="Logo" style="width: 100%; height: auto;"/>
        </div>
        <div class="texte-pochette-verso block-pochette-verso-left-2">
            <p style="padding:2%; text-align: justify;" class="ng-editable" data-max-length="570">###TEXTE_1###</p>
            <div style="width: 96%; height: auto; padding:2%; text-align: center;">
                <img src="images/img-defaut-moyenne-portrait.png" alt="logo" title="Logo" class="ng-picture-select img-pochette-lateral-verso" style="max-width:80%; height:auto;"/>
            </div>
        </div>
        <div class="texte-pochette-verso block-pochette-verso-left-3">
            <div style="width: 100%; height: auto;" class="ng-locked">
                <h1 style="font-size: 240%; text-transform: uppercase; line-height: 100%; padding: 2% 0; font-weight: 300; color: #93989e">###TITRE_POCHETTE###</h1>
                <p style="margin-bottom: 2%;">###TEXTE_2###</p>                
            </div>
            <div style="display: block; width: 100%; height: auto;" class="ng-locked">  
                <span>###TITRE_DESCRIPTION###</span>
                <div style="padding-left: 10%; ">
                    <ul style="line-height: 100%; list-style-type: circle;" class="ul-pochette">
                        <li>###TEXTE_DESCRIPTION_1###</li>
                        <li>###TEXTE_DESCRIPTION_2###</li>
                        <li>###TEXTE_DESCRIPTION_3###</li>
                        <li>###TEXTE_DESCRIPTION_4###</li>
                    </ul>
                </div>
                <p style="margin-bottom: 2%;">###PIED_DESCRIPTION###</p>
            </div>
            <div style="border-bottom: 1px solid #e57e0c; width: 100%; height: auto; text-align: right; margin-bottom: 2%;">
                <img src="###IMAGE_RR###" alt="logo" title="Logo" style="max-width: 30%; height:auto; padding: 5% 0;" class="img-pochette-lateral-verso"/>
            </div>
            <div class="ng-deletable" style="width: 100%; height: auto;">
                <h1 class="ng-locked" style="font-size:240%; text-transform: uppercase; padding: 2% 0; font-weight: 300; color: #93989e; margin-bottom: 2%;">###TITRE_SOMMAIRE###</h1>  
                <div class="ng-editable editable-list" style="padding-left: 10%;">
                <ul style="list-style-type: circle;"> 
					<li>###TEXTE_SOMMAIRE_1###</li>
					<li>###TEXTE_SOMMAIRE_2###</li>
					<li>###TEXTE_SOMMAIRE_3###</li>
					<li>###TEXTE_SOMMAIRE_4###</li>
                </ul>
                </div>
            </div>
        </div>    
    </div>
    <div class="size-pochette-pli" style="background-color: #fff; text-align: left; float: left;">
        <img src="images/pictos/pochette/memo.png" alt="memo" title="memo" class="img-pochette-memo"/>
    </div>
</div>
