<div class="size-pochette" style="background-color: #fff; font-size: 50%; line-height: 8px; text-align: left; font-family: 'Lato', 'Jura', Arial; font-weight: 300; color: #58595b">
    <div class="size-pochette-pli" style="background-color: #fff; text-align: left; float: left; border-right: 1px solid #000;">
        <div class="block-pochette-verso-left-1">
            <img src="images/pictos/pochette/edito.jpg" alt="logo" title="Logo" style="width: 100%; height: auto;"/>
        </div>
        <div class="texte-pochette-verso block-pochette-verso-left-2">
            <p style="padding:2%; text-align: justify;" class="ng-editable" data-max-length="570">Cu mutat adipisci mel, omnis nemore qui te. 
                Enim decore sapientem sed an, sale aeterno cum ei. Per in duis prima oratio, mei no aliquid utroque adversarium, congue intellegam ex vim. Vix probo feugiat repudiandae eu.</p>
            <div style="width: 96%; height: auto; padding:2%; text-align: center;">
                <img src="images/img-defaut-moyenne-portrait.png" alt="logo" title="Logo" class="ng-picture-select img-pochette-lateral-verso" style="max-width:80%; height:auto;"/>
            </div>
        </div>
        <div class="texte-pochette-verso block-pochette-verso-left-3">
            <div style="width: 100%; height: auto;" class="ng-locked">
                <h1 style="font-size: 240%; text-transform: uppercase; line-height: 100%; padding: 2% 0; font-weight: 300; color: #93989e">Ce guide est fait pour vous</h1>
                <p style="margin-bottom: 2%;">Habiter dans une commune rurale, c’est bénéficier d’un cadre de vie agréable, mais pas seulement...<br>
                    Que vous veniez d’arriver ou que vous soyez installés depuis plusieurs années, une bonne connaissance de votre territoire est le meilleur moyen de bien s’y sentir.</p>                
            </div>
            <div style="display: block; width: 100%; height: auto;" class="ng-locked">  
                <span>Vous trouverez donc dans ces fiches</span>
                <ul style="padding-left: 10%; line-height: 100%; list-style-type: circle;" class="ul-pochette"> 
                    <li>une présentation du basssin de vie dans le quel s'inscrit votre commune,</li> 
                    <li>un annuaire des services et des activités</li> 
                    <li>des éléments utiles à rappeler sur la vie en communauté et le respect de chacun</li> 
                    <li>un agenda des dates à ne pas manquer</li> 
                </ul>
                <p style="margin-bottom: 2%;">Nous espérons que ce guide, dont la maquette a été réalisée 
                    par le Réseau Rural Haut-Normand grâce à un  financement de l’Etat et de l’Europe, contribuera à votre épanouissement sur ce territoire.</p>
            </div>
            <div style="border-bottom: 1px solid #e57e0c; width: 100%; height: auto; text-align: right; margin-bottom: 2%;">
                <img src="images/logo-reseau-rural.png" alt="logo" title="Logo" style="max-width: 30%; height:auto; padding: 5% 0;" class="img-pochette-lateral-verso"/>
            </div>
            <div class="ng-deletable" style="width: 100%; height: auto;">
                <h1 class="ng-locked" style="font-size:240%; text-transform: uppercase; padding: 2% 0; font-weight: 300; color: #93989e; margin-bottom: 2%;">Sommaire</h1>  
                <div class="ng-editable" style="padding-left: 10%;">
                <ul style="list-style-type: circle;"> 
                    <li>Présentation de la Communauté de communes de Bourgtheroulde</li> 
                    <li>Offre locale du territoire</li> 
                    <li>Règles de bien vivre ensemble</li> 
                    <li>Agenda 2015</li> 
                </ul>
                </div>
            </div>
        </div>    
    </div>
    <div class="size-pochette-pli" style="background-color: #fff; text-align: left; float: left;">
        <img src="images/pictos/pochette/memo.png" alt="memo" title="memo" class="img-pochette-memo"/>
    </div>
</div>
