<div style="background-color: #fff; font-size: 50%; line-height: 8px; text-align: left; padding: 0 1%; height: 100%; width: 100%; font-family: 'PT sans',Arial; font-weight: 300;">
    <div style="background-color: #fff; text-align: left; float: left; width: 49%; height: 100%; border-right: 1px solid #000;">
        <div style="width: 100%; height: 36%;">
            <img src="images/pictos/pochette/edito.jpg" alt="logo" title="Logo" style="min-width: 100%; height: auto;"/>
        </div>
        <div style="width: 100%; height: 5%;">
            <h1 class="ng-locked" style="font-size: 20px; text-transform: uppercase; /*margin-top: -15%;*/ color:#fff; line-height: 12px;">Edito</h1>
        </div>
        <div style="float: left; width: 25%; height: 58%; background-color: #e9e9e9;">
            <p style="width: 100%; height: auto;" class="ng-editable">Le RRHN est un réseau ouvert à tous les acteurs du développement rural. Il permet le partage des expériences de développement local 
                en milieu rural à trers des rencontres thématiques, un séminaire annuel et la production d'outils et de ressources<br>
            (newsletter, site internet www.reseaurural-hautnormand.fr)</p>
            <div style="width: 100%; height: auto;"><img src="images/img-defaut-moyenne-portrait.png" alt="logo" title="Logo" class="ng-picture-select" style="max-width:100%; height:auto;"/></div>
        </div>
        <div style="float: left; width: 70%; height:58%; padding: 0 1%;">
            <div style="width: 100%; height: auto;">
                <h1 class="ng-locked" style="font-size: 180%; text-transform: uppercase; line-height: 100%">Ce guide est fait pour vous</h1>
                <p class="ng-editable" style="margin-bottom: 2%;">Le livret d'accueil des nouveaux arrivants est un outil dveloppé dans le cadre des travaux du réseau rural Haut-Normand (RRHN).</p>
                <p class="ng-editable" style="margin-bottom: 2%;">Le RRHN est un réseau ouvert à tous les acteurs du développement rural. Il permet le partage des expériences de développement local 
                    en milieu rural à trers des rencontres thématiques, un séminaire annuel et la production d'outils et de ressources<br>
                (newsletter, site internet www.reseaurural-hautnormand.fr)</p>
            </div>
            <div style="display: block; width: 100%; height: auto;">  
                <span>Vous trouverez donc dans ces fiches</span>
                <ul class="ng-editable" style="padding-left: 20px; line-height: 100%;"> 
                    <li>une présentation du basssin de vie dans le quel s'inscrit votre commune,</li> 
                    <li>un annuaire des services et des activités</li> 
                    <li>des éléments utiles à rappeler sur la vie en communauté et le respect de chacun</li> 
                    <li>un agenda des dates à ne pas manquer</li> 
                </ul>
                <p class="ng-editable" style="margin-bottom: 2%;">Le RRHN est un réseau ouvert à tous les acteurs du développement rural. Il permet le partage des expériences de développement local 
                    en milieu rural à trers des rencontres thématiques, un séminaire annuel et la production d'outils et de ressources<br>
                (newsletter, site internet www.reseaurural-hautnormand.fr)</p>
            </div>
            <div style="border-bottom: 1px solid #e57e0c; width: 100%; height: auto; text-align: right;">
                <img src="images/logo-reseau-rural.png" alt="logo" title="Logo" style="max-width: 40%; height:auto;"/>
            </div>
            <div class="ng-deletable" style="width: 100%; height: auto;">
                <h1 class="ng-locked" style="font-size: 12px; text-transform: uppercase;">Sommaire</h1>
                <ul class="ng-editable" style="padding-left: 10%;"> 
                    <li>Présentation de la Communauté de communes de Bourgtheroulde</li> 
                    <li>Offre locale du territoire</li> 
                    <li>Règles de bien vivre ensemble</li> 
                    <li>Agenda 2015</li> 
                </ul>
            </div>
        </div>    
    </div>
    <div style="background-color: #fff; text-align: left; float: left; width: 49%; height: 100%">
        <img src="images/pictos/pochette/memo.png" width="284" height="443" alt="memo" title="memo" style="max-width: 100%; height:auto;"/>
    </div>
</div>
