<div class="wrapper">
    <section id="content">
        <div class="article-accueil">
            <img class="fleft img-demarche-accueil" src="images/demarche-reseau-rural-normand.jpg" alt="demarche-reseau-rural-normand" title="Démarche réseau rural normand" width="320" height="200"/>
            <h2>Le Réseau Rural Haut Normand vous aide à créer votre livret</h2>

			<p ng-repeat="(key, value) in $root.layout.param['rrhn'].split('\n') track by $index">{{value}}</p>
			
			
            <p>
				Si vous souhaitez par ailleurs en savoir plus sur les activités du réseau rural en Haute-Normandie, cliquez sur ce logo
				<br><br><br>
                <a href="http://pdrh.draf.haute-normandie.agriculture.gouv.fr/Le-Reseau-Rural-Haut-Normand" target="_blank">
					<img ng-show="$root.layout.param['logo_rrhn'].base64" src="data:{{$root.layout.param['logo_rrhn'].filetype}};base64,{{$root.layout.param['logo_rrhn'].base64}}" alt="Réseau Rural Haute-Normandie" title="Réseau Rural Haute-Normandie" width="50%"/>
                </a>
			</p>
        </div>
    </section>
    <aside ng-include="'partials/home/right.html'"></aside>
 </div>