<div class="wrapper">
    <section id="content">
        <div class="article-accueil">
            <img class="fleft img-demarche-accueil" src="images/demarche-reseau-rural-normand.jpg" alt="demarche-reseau-rural-normand" title="Démarche réseau rural normand" width="320" height="200"/>
            <h2>Le Réseau Rural Haut Normand vous aide à créer votre livret</h2>
            <p>Le sujet de l’accueil en milieu rural est porté par le Réseau Rural Haut-Normand
depuis sa création en 2008. C’est en effet une préoccupation forte des élus locaux que 
d’accueillir le mieux possible les nouveaux habitants. Une enquête récemment menée par 
le réseau rural en Haute-Normandie a par ailleurs identifié le besoin pour ces élus d’être
conseillés et accompagnés dans cette démarche, notamment grâce à des outils permettant de 
faciliter l’accueil.</p>
            <p>Pour répondre à cette demande, un groupe de travail composé d’élus et d’agents de 
développement des territoires ruraux de Haute-Normandie s’est réuni à plusieurs reprises. Les 
travaux de ce groupe ont abouti à la création de cette application, permettant de présenter un 
territoire à ses habitants, quelle que soit son échelle (commune, communauté de communes, 
Pays).</p>
            <p>Cette application permet d’éditer un livret d’accueil, à l’issue d’une phase de saisie 
d’informations sur une maquette pré-établie et pour partie pré-renseignée. Le recours à cette 
trame limite l’investissement en temps à la seule collecte et saisie des données spécifiques au 
territoire, et épargne ainsi à l’utilisateur la réflexion nécessaire à la structuration et à la mise 
en forme du document, celles-ci étant automatisées.</p>
            <p>Le livret d’accueil une fois établi au sein de cette application peut être exporté sous 
format PDF, de façon à être mis en ligne sur un site internet ou être imprimé en format A4. 
Au final, il peut dans sa version optimale contenir quatre chapitres : <br>
<ul style="padding-left: 20px; list-style-type: none">
    <li>- la présentation du territoire (le patrimoine, les forces et faiblesses)</li>
    <li>- l’annuaire des services</li>
    <li>- le rappel des bonnes pratiques pour le « bien vivre ensemble »</li>
    <li>- l’agenda des temps forts sur le territoire</li>
</ul>
<br>Il appartient à l’utilisateur de l’application de retenir tout ou partie de ces chapitres.</p>
            <p>Une aide en ligne est proposée tout au long de la saisie.</p>
            <p>Si vous souhaitez par ailleurs en savoir plus sur les activités du réseau rural en 
                Haute-Normandie, cliquez sur ce logo<br>
                <a href="http://pdrh.draf.haute-normandie.agriculture.gouv.fr/Le-Reseau-Rural-Haut-Normand" target="_blank">
                    <img src="images/logo-reseau-rural.png" alt="reseau-rural-haute-normandie" title="Réseau Rural Haute-Normandie"/>
                </a></p>
        </div>
    </section>
    <aside ng-include="'partials/home/right.html'"></aside>
 </div>