<div class="inside" ng-controller="HomeCtrl.Right">
        <div class="liens-sidebar">
            <div ng-if="!User.isLogged()" style="padding-bottom: 20px;">
                <a href="#" onclick="return false;" ng-click="gotoAccountCreate()"><img src="images/mon-compte.png" alt="mon-compte" title="Mon Compte" width="32" height="32" /><span>CREER UN COMPTE</span></a>
            </div>
            <div>
                <a href=""><img src="images/contact.png" alt="contact" title="Contact" width="32" height="32" /><span>NOUS CONTACTER</span></a>
            </div>    
        </div>
        <div class="ligne-sidebar"></div>
        <div class="trousse-outils-sidebar">
            <h2> > TROUSSE A OUTILS</h2>
            <div class="bloc-trousse-outils-sidebar">
                <span>Mes livrets</span>
                <img src="images/mes-livrets.png" alt="mes-livrets" title="Mes livrets"/>
            </div>
            <div class="bloc-trousse-outils-sidebar">
                <span>Photothèque</span>
                <img src="images/phototheque.png" alt="phototheque" title="Photothèque"/>
            </div>
            <div class="bloc-trousse-outils-sidebar">
                <span>Mon compte</span>
                <img src="images/mon-compte.png" alt="mon-compte" title="Mon Compte"/>
            </div>
            <div class="bloc-trousse-outils-sidebar">
                <span>Aide et FAQ</span>
                <img src="images/aide-faq.png" alt="aide-faq" title="Aide et FAQ"/>
            </div>
            <div class="bloc-trousse-outils-sidebar">
                <span>Contact</span>
                <img src="images/contact.png" alt="contact" title="Contact"/>
            </div>
        </div> 
        <div class="temoignage-sidebar">
            <h2>Témoignage d'utlisateurs</h2> 
            <p>jqhdjksqhfh jhqsdjhsq hqshh  qshdjhsqfhhf sqjdksqjkf  qshfhdfh hqsdhsqhd  qshdqiodio qshdsqhfh hqshdqshdqd iqshdisq.</p>
            <a href="#" onclick="return false;"><span> > Voir la réalisation</span></a>
        </div>
        <div class="partenaire-sidebar">
            <img src="images/region-haute-normandie.png" alt="region-haute-normandie" title="Région Haute-Normandie"/>
            <img src="images/prefet-haute-normandie.jpg" alt="prefet-haute-normandie" title="Préfet Haute-Normandie"/>
            <img src="images/europe-feader.png" alt="europe-feader" title="Feader"/>
        </div>
    </div>
